<h1>
Пам'ятки археології
</h1>
<div class='body'>
<p>	матеріальні залишки людської діяльності, що збереглися на поверхні землі, під землею або під водою і є 
об'єктом археологічних досліджень. Пам'ятки археології — речові джерела, що висвітлюють минуле людського суспільства. Велике 
значення пам'ятки археології мають для вивчення найдавнішого дописемного періоду людства, коли вони є єдиними історичними 
джерелами.
<p> 
До основних пам'яток археології належать: місця поселення (стоянки, городища, селища) й окремі житла, господарські споруди, 
залишки фортець і міст, могильники й окремі поховання, надмогильні й культові споруди, скарби, знаряддя праці та інші давні 
вироби, малюнки й написи на скелях і окремих каменях тощо.
<p>	</div>
