<h1>
Національний історико-архітектурний заповідник «Кам’янець»
</h1>
<div class='body'>
<p>	місто, що зберегло дух середніх віків. Тут Ви побачите одну з найбільших оборонних споруд України, фотецю, 
що займає провідне місце у світовій історії оборонного зодчества. Літопис приписує будівництво кам'яної фортеці литовським 
князям Корятовичам, які правили князівством у 60-90-х рр. XIV cт. Високий скелястий берег р. Смотрич, живописний краєвид, 
величезні вежі з таємничими латинськими надписами...
<p> 
Старе місто функціонує як унікальний містобудівний комплекс площею 121 га, відокремлений від решти районів міста глибоким 
каньйоном р. Смотрич.
<p> 
Архітектура Старого міста — заповідника зберегла зразки культур різних народів (українців, поляків, вірмен, турків і росіян) 
та релігій (православної, католицької, іудейської, мусульманської), а саме: Турецький мінарет 17 ст.; -турецький та вірменський 
бастіони 17 ст.; Миколаївська (вірменська) церква 14 ст.; дерев'яна Хрестовоздвиженська церква 18 ст.; монастирські комплекси 
15-18 ст. орденів Домініканів, Францисканів.
<p> 
Однією з унікальних інженерних споруд заповідника є Замковий міст, що з'єднує місто та Замковий комплекс. Він викликав немало 
суперечок щодо свого походження. За однією з гіпотез, міст було зведено римлянами у II столітті під час походу Траянового 
війська на Дакію.
<p> 
Завдяки унікальному поєднанню містобудівної, архітектурної, історичної спадщини Старого міста з ландшафтом каньйону р. 
Смотрич „Культурний ландшафт каньйону” визначено кандидатом до Списку світової культурної спадщини ЮНЕСКО.
<p> 
До нашого часу збереглася система потерн (ходів) і казематів. Денна вежа призначена для спостерігачів. Уявіть, можна піднятися 
на неї кожному і насолодитися оспіваним українським краєвидом!
<p> 
<p>	Невід'ємною частиною Старого міста, його перлиною, є Стара фортеця, яка стала візитною карткою Кам'янця-Подільського, його 
символом.
<p> 
Історія заснування фортеці починається в XII столітті. Немов продовження кам'яних скель височать башти фортеці.
<p> 
Одинадцять башт входять до складу фортеці, кожна має свою назву і свою історію. Так, наприклад, найвища башта названа 
Папською тому, що була збудована на кошти, виділені папою римським Юлієм II. Ще її називають Кармелюковою, бо в ній тричі був 
ув'язнений Устим Кармелюк. У Чорній (кутовій) башті знаходиться криниця глибиною 40 м і в діаметрі 5 м видовбана в скалі. Досі 
в її стінах збереглося величезне дерев'яне колесо з пристроєм для підняття води на поверхню.</div>
