<h1>
Луцький зоопарк
</h1>
<div class='body'>
<p>	це природоохоронна, науково-дослідна та культурно-освітня установа, що є штучно створеним об'єктом природно-
заповідного фонду.
<p> 
Зооекспозиція складається із 42 видів фауни. Загальна кількість тварин — 88, птахів — 35. Серед найцікавіших, екзотичних 
представників фауни — леви (2), ведмеді (2), благородний олень (3), бізон, антилопа, лама (2), дикобраз, єнотовидні собаки, 
фазани, павичі, чорні лебеді.
<p>	</div>
