<h1>
Тростянець
</h1>
<div class='body'>
<p>	Пам’ятка садово-паркової архітектури середини XIX століття, створена завдяки зусиллям і коштом Івана 
Михайловича Скоропадського. Розташований в однойменному селищі Ічнянського району Чернігівської області. Займає площу 350 га.
<p> 
Будівництво парку розпочалось зі створення Великого ставу, який і зараз красиво розділяє територію на дві частини. Згодом тут 
було насипано багато високих курганів, що своїми гострими вершинами, за задумкою, нагадують Альпи.
<p> 
«Тростянець» засаджений близько 800 видами і формами рослин, серед яких багато рідкісних та екзотичних.
<p> 
Привертає увагу незвичайна мармурова статуя ангела, що вказує на небо. За кілька років до смерті Івпана Скоропадського вона 
була встановлена як нагадування. «Любезный прохожій! Садъ, въ котором ты гуляешь, посажденъ мною; он служилъ мнъ ут-ъшеніемъ 
въ моей жизни. Если ты заметишь безпорядокъ, ведущй къ уничтоженію его, то скажи объ этомъ хозяину сада: ты сдълашь доброе 
дъло» – говорить напис.
<p>	</div>
