<h1>
Замок Любарта
</h1>
<div class='body'>
<p>	Верхній замок Луцька, один із двох (частково) збережених замків, пам’ятка архітектури та історії національного значення. Один з найбільших, 
найдавніших і найкраще збережених в Україні замків.
<p> 
Замок Любарта, або Луцький замок — верхній замок Луцька, один із двох (частково) збережених замків, пам'ятка архітектури та історії національного значення. Один з 
найбільших, найдавніших і найкраще збережених в Україні замків. Головний об'єкт історико-культурного заповідника «Старий Луцьк», культурний осередок та найстаріша 
споруда Луцька.
<p> 
Будівництво Верхнього замку розпочалося у 1350-ті роки і в основному було завершене у 1430-ті, хоча деякі елементи (наприклад, висота веж) ще змінювалися протягом 
наступних століть. Окольний замок почали реконструювати у цеглі з 1502 року. Від часу побудови замки були резиденцією Великого князя, а після утворення Королівства 
— резиденцією королівської влади, де були зосереджені політичні, адміністративні, судові, оборонні, релігійні функції центру Воєводства Волинського.
<p> 
У 1429 році у князівському палаці, що знаходився у Верхньому замку, проходив з'їзд європейських монархів, який мав на меті розв'язати політичні та економічні 
питання центрально-східної Європи та вирішити питання про коронацію Вітовта. Замки неодноразово підлягали нападу. Так, у 1431 році під час «Луцької війни» замки 
витримали облогу військ політичних противників великого литовського князя Свидригайла. У 1595 році замок був узятий військовими загонами Северина Наливайка.
<p> 
На території замків знаходилися обидві кафедри — латинська Святої Трійці та православна Івана Богослова. У них проходили, окрім того, зібрання та сеймики волинської 
шляхти обох віросповідань. У замку діяли різного роду суди, які займалися питаннями міського 
<p>	та воєводського масштабу. В окремий період в замку діяв особливий суд — 
Луцький Трибунал, якому підлягали кілька воєводств.
<p> 
У XVIII столітті замок почав утрачати свої функції, що було пов'язано із суспільними трансформаціями суспільства Речі Посполитої. Окольний замок припинив своє 
існування, а в XIX столітті, коли Волинь була анексована Російською імперією, і Верхній замок припинив існування. Залишилися руїни, які тільки на зламі XIX-ХХ 
століть почали оберігати законом.
<p> 
Упродовж ХХ століття Верхній замок і залишки Окольника були реставровані і на сьогодні відкриті для відвідування. А на початку XXI століття був відновлений і 
невеликий шматочок Окольного замку.</div>
