<h1>
Дендрологічний парк
</h1>
<div class= "body" >
<p>Дендрологічний парк (дендропарк, дендра́рій, від грец. déndron — дерево) або арборетум (від лат. arbor) — територія, на якій на відкритому ґрунті культивуються деревні рослини. Парк з колекцією різних порід дерев.</p>
<p>Насадження в дендропарку, зазвичай у стилі ландшафтного парку, можуть бути самостійними або входити до складу ботанічного саду. Розміщення рослин здійснюється за систематичною, географічною, екологічною, декоративною або іншими ознаками.</p>
</div>