<h1>
Інгулець
</h1>
<div class='body'>
<p>	Ландшафтний заказник площею 937га. Розташований у Великоолександрівському лісництві Великоолександрівського району. Охороняються лісонасадження 
на лівому березі р. Інгулець, в основному штучного походження, створені в 50-роках XIX століття. З природних — залишки тернівників з домішкою жостіру проносного 
(Rhamnus cathartica), бузини чорної (Sаmbucus nigra), видів шипшини (Rosa) тощо. Дане насадження є зразком лісівницького мистецтва в степовій зоні.
<p>	</div>
