<h1>
    Національний природний парк «Голосіївський» </h1>
<div class="body">
    <p>Оголошений указом Президента України від 27. 08. 07 №794/2007. Місце розташування: Голосіївський район.
        Землекористувачем є НПП «Голосіївський». Площа – 4525,52 га. (Початкова площа – 4521,29 га; збільшення площі
        території на 15 га з БЛОС указом Президента України від 30. 10. 08 №976/2008).</p>
    <p>Парк складений кількома територіально роз’єднаними лісовими масивами, розташованими у південній частині міста
        Києва. За характером природних комплексів територія парку належить до лісостепової зони. Основну площу парку
        займають ліси – 4232,8 га (більше 90% території), болота – 66,2 га і водойми – 45,9 га.</p>
    <p>Територія НПП «Голосіївський» знаходиться на східному схилі Українського кристалічного щита. Загальні риси
        рельєфу пов’язані з геоструктурою території парку. Найбільш підвищені ділянки контурно відповідають підвищеним
        тектонічним структурам – Лисогірсько-Корчуватському та Пирогівському підняттям і мають абсолютні відмітки до
        185-190 м. Територія парку включає три геоморфологічні рівні – Київське лесове плато, першу надзаплавну терасу
        Дніпра, а також заплави Дніпра і Віти.</p>
    <p>Територія НПП «Голосіївський» знаходиться у басейні р. Дніпро. Найбільшою водною артерією тут є р. Віта, яка
        протікає в межах парку через заказник «Лісники». На території Голосіївського лісу і Голосіївського парку ім.
        Максима Рильського в північній частині НПП є три каскади ставків, що знаходяться в долинах струмків
        Горіховатський, Дідорівський і Китаївський. На території заказника «Лісники» в південній частині НПП наявне
        досить велике озеро напівприродного походження Шапарня (36 га), а також розгалужена система лісових водотоків і
        боліт у заплаві р. Віти.</p>
    <p>Південна частина НПП розташована на боровій терасі Дніпра. Тут, на погорбованому рельєфі піщаної тераси, основні
        площі займають різновікові соснові ліси, особливістю яких є наявність в ценозах південних видів, що просуваються
        по терасі Дніпра на північ. Найбільш поширеною серед них є вишня степова, яка місцями утворює підлісок і має
        добру життєвість. Північну частину цієї території займає заказник загальнодержавного значення «Лісники».</p>
    <p>У складі флори парку виявлено 650 видів вищих судинних рослин, 118 видів мохоподібних і більше 60 видів
        афілофороїдних грибів. Деякі з цих видів мають охоронний статус міжнародного, державного або регіонального
        рівня. Так, із судинних рослин, що зростають на території парку, 5 видів занесені до Додатку І Бернської
        конвенції, 1 вид – до Європейського Червоного списку, 24 види – до Червоної книги України і 29 видів є
        регіонально рідкісними.</p>
    <p>Серед видів, занесених до Червоної книги України, на лучних ділянках біля оз. Шапарня виявлені косарики
        черепитчасті, у соснових лісах парку зберігається єдине для Київщини місцезростання реліктового виду вовчих ягід
        пахучих, розсіяно зростають сон розкритий і сон лучний. В парку зберігаються найбільші на Київщині популяції
        таких червонокнижних видів, як цибуля ведмежа, лілія лісова, зозулині сльози яйцевидні.</p>
    <p>Із регіонально рідкісних видів рослин, що охороняються в м. Києві і його зеленій зоні, на території парку
        виявлені анемона лісова, багаторядник Брауна, вишня степова, скорзонера пурпурова, суховершки
        великоквіткові, тирлич хрещатий та багато інших.</p>
    <p>За матеріалами науковців парку на його території виявлено 10 рослинних угруповань, занесених до Зеленої книги
        України, а також ряд регіональнорідкісних угруповань, які на Київщині збереглись лише в парку.</p>
    <p>Надзвичайно цінним та різноманітним є тваринний світ парку. На сьогоднішній день на території НПП «Голосіївський»
        виявлено 31 вид наземних молюсків, 190 видів комах і 181 вид хребетних тварин (з них кісткових риб – 21,
        земноводних – 10, плазунів – 6 видів, птахів – 100, ссавців – 44 види).</p>
    <p>Серед червонокнижних видів хребетних тварин на території парку відмічені: ящірка зелена, мідянка звичайна,
        змієїд, підорлик великий, голуб-синяк, дятел білоспинний, рясоніжка (кутора) мала, кожан пізній, нетопир
        середземноморський, нетопир лісовий (Натузіуса), нетопир-карлик, нетопир-пігмей, вечірниця руда, вечірниця мала,
        вухань бурий, лилик двоколірний, нічниця водяна, горностай, тхір лісовий, видра.</p>
    <p>Із червонокнижних безхребетних тут зустрічаються красотіл пахучий, жук-олень, вусач мускусний, жук-самітник,
        ковалик сплощений, махаон, поліксена, мнемозина, перлюшок Люцина, стрічкарка тополева, стрічкарка блакитна, янус
        червононогий, мегариса рогохвостова, бджола-тесляр звичайна, сколія-гігант.</p>
</div>