<h1>
    Пересопниця
</h1>
<div class='body'>
    <p>
        Пересопниця — село Рівненського району Рівненської області на берегах річки Стубли, притоці Горині.
    <p>
        В XI-XIII століттях одне з двох головних міст Погорини.
    <p>
        29 серпня 1561 року в Пересопницькому монастирі Різдва Пресвятої Богородиці завершено праці над створенням
        національного символу українців — Пересопницького Євангелія.
    <p>
        Кам'яні надмогильні плити на місці поховання XII—XIII століть в урочищі Пастівник
        Вперше в літописних списках згадується під 1149 роком як одне з важливих міст Київської Русі. Лише в Київському
        та
        Галицько-Волинському літописах про неї згадують 18 разів.
    <p>
        У 1149–1246 роках тут правили князі з роду Рюриковичів: В'ячеслав Володимирович, Гліб, Мстислав і Андрій (сини
        Юрія
        Долгорукого), Ізяслав Мстиславович, Володимир Андрійович, Володимир Мстиславович, Мстислав Ярославович (Німий),
        Василько Романович.
    <p>
        1240 року Пересопницю та князівство спустошили монголо-татари під командуванням Батия.
    <p>
        Пересопницьке князівство повністю було зруйноване монголами.
    <p>
        Дружина князя Чорторийського Михайла Васильовича Марія — донька луцького старости Немирі Резановича — отримала
        від
        короля 4 вересня 1504 року грамоту на монастир в Пересопниці.
    <p>
        Князь Юрій Іванович Чорторийський (луцький староста, спочатку православний, з 1598 року уніят) — в 1595 році
        подарував руським монахам на утримування шпиталю для вбогих село Пересопницю та кілька інших. Однак його син
        Микола-Юрій за згодою короля записав село для утримування мансіонарії у місті Клевань.
    <p>
        Пересопницький монастир Різдва Пресвятої Богородиці. Макет
        З православним монастирем у Пересопниці пов'язана історія створення Пересопницького Євангелія. У 1561 році тут
        завершено переклад, переписування і оздоблення книги. Це був перший відомий такий переклад Святого Письма з
        церковнословянської на тодішню письмову староукраїнську мову. Пересопницьке Євангеліє переписали на 482
        пергаментних
        аркушах і по-мистецьки оздобили малюнками (зображеннями 4 євангелістів), заставками та рослинним орнаментом.
    <p>
        Нині Пересопницьке Євангеліє зберігається в Національній бібліотеці України імені В. І. Вернадського. Саме на
        ньому
        складають присягу на вірність Україні її Президенти.
    <p>
        У травні 1989 року з ініціативи письменника Євгена Шморгуна у селі відкрито пам'ятний знак Пересопницькому
        Євангелію. Тепер щороку 22 травня (день перепоховання Т. Шевченка в Україні) у Пересопниці проводять обласне
        свято
        української мови, культури та духовності.
    <p>
        29 серпня 2011 році у Пересопниці відбулося всеукраїнське святкування 450-річчя Пересопницького Євангелія.
        Відкрито
        Культурно-археологічний комплекс «Пересопниця» (музей-пантеон (три яруси з оглядовими майданчиками, автор
        проекту —
        архітектор Віктор Ковальчук).
</div>
