<h1>
Шаби
</h1>
<div class='body'>
<p>	Ботанічний заказник площею 20га розташований в Рибальчанському лісництві на березі Дніпровсько-Бузького лиману біля с. Виноградове 
Голопристанського району. Охороняються ценози прибережної водно-болотної та лучної рослинності, в яких зростає рідкісний вид білоцвіт літній. Дане місцезнаходження 
цього красивоквітучого виду на межі ареалу — одне з найсхідніших в Європі.
<p>	</div>
