<h1>
Острозький замок
</h1>
<div class= "body" >
<p>Острозький замок — розташований на вершині 20-метрового пагорба над долиною ріки Вілії, в районному центрі Острог, Рівненської області. Замок був побудований на місці дерев'яного укріплення зруйнованого монголо-татарами в 1241 році. Спочатку це була башта-донжон, яка тепер носить назву «Вежа Мурована». Замок був резиденцією князів Острозьких. Зараз на території Острозького замку розташований Острозький краєзнавчий музей.</p>
<p>Замок був оточений глибоким ровом, наповненим водою. Башти служили оборонною системою для замку: Мурована вежа, Кругла Вежа, Богоявленська церква-фортеця і Надбрамна башта (з 1905 року — дзвіниця)</p>
</div>