.clearfix {
	clear: both;
}

.container {
	width: 80%;
	height: 100%;
	padding: 20px 10%;
	text-align: center;
	background-color: #f97e72;
}

h1 {
	margin: 40px 0;
	font-size: 40px;
	line-height: 40px;
	font-weight: bold;
	text-shadow: 0px 1px 0 rgba(0,0,0,.3);
	-webkit-font-smoothing: antialiased;
}

h2 {
	font-size: 28px;
	color: #fff;
	font-weight: normal;
	text-align: left;
	margin-bottom: 20px;
}

a {
	text-align: left;
	text-decoration: none;
	color: #fff;  
	margin: 0 10px;
}

p {
	line-height: 32px;
	padding: 0 0 40px 0;
	text-align: left;
}

i.mdi-menu {
	cursor: pointer;
	margin-top: 2px;
	font-size: 50px;
	float: left;
	color: #F44336;
}

/* Button styles */
.btn {
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	overflow: hidden;
	height: 50px;
	border-radius: 6px;
	line-height: 50px;
	padding: 0 30px;  
	font-size: 14px;
	box-shadow: 0 3px 0 0 #e04338;
	background-color: #ea5648;
}

.btn:active, .btn.active {
	top: 2px;
	box-shadow: 0 1px 0 0 #e04338;
}

.btn-small {
	padding: 0 15px;
	font-size: 10px;
	height: 30px;
	line-height: 30px;
}

/* Closing Door Menu */
.menu {
	position: fixed;
	/*font-family: 'Lobster', cursive;*/
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
}

.menu a{
	cursor: pointer;
}

/* Horizontal */
.menu .left-menu {
	width: 40%;
	height: 100%;
	position: absolute;
	display: table;
	border-right: 1px solid #444;
	z-index: 1;
	left: -50%;
	background-color: #444;
	transition: .4s;
}

.menu .left-menu .left-menu-link{
	transition: color .4s;
}

.menu .left-menu .left-menu-link:hover{
	color: #F44336;
}

.menu .left-menu a.menu-button {
	position: absolute;
	left: 17px;
	right: 0;
	top: 8px;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
}

.menu .left-menu a.menu-button i { 
	font-size: 28px; 
	margin: -3.5px 10px 0 0;
	vertical-align: middle;
}

.menu .left-menu ul {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	text-align: left;
}

.menu .left-menu li {
	font-size: 28px;
	line-height: 30px;
	padding: 5px 10px 10px 10px;
	transition: box-shadow .6s;
}


.menu .left-menu li:not(.disabled):hover{
	box-shadow: inset 0 15px 20px rgba(20,20,20,.2), 0 2px 15px rgba(20,20,20,.2);
}

.menu.in .left-menu {
	left: 0;
}

.menu.bounce.in .left-menu {
	animation-name:bounce-right;
	animation-duration:.8s;
	animation-fill-mode:backwards;
}

.menu .circle {
	cursor: pointer;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: #CCC;
	position: absolute;
	top: 50%;
	right: 0;
	margin-right: -50px;
	margin-top: -50px;
	transition: box-shadow .6s;
	box-shadow: 6px 0 8px rgba(0,0,0,.4), -6px 0 8px rgba(150,150,150,.4);
}

.menu .circle:hover{
	box-shadow: 2px 0 3px rgba(0,0,0,.4), -2px 0 3px rgba(150,150,150,.4);
}

.menu .circle *{
	cursor: pointer;
	text-shadow: 0 0 12px rgba(0,0,0,.2);
}


.menu .circle a {
	cursor: inherit;
	top: 12px;
	left: 18px;
	position: relative;
	margin: 0;
	opacity: 0.8;
	font-size: 66px;
}

.menu .right-preview {
	width: 60%;
	height: 100%;
	position: absolute;
	right: -70%;
	background-color: #fbfbfb;
	z-index: 0;
	padding: 0;
	transition: .4s;
}


.menu.in .right-preview {
	right: 0;
}

.menu.bounce.in .right-preview {
	animation-name:bounce-left;
	animation-duration:.8s;
	animation-fill-mode:backwards;
}

a.menu-button {
	display: block;
	width: 50px;
	position: absolute;
	left: 10px;
	right: 0;
	top: 0;
	margin: 0;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
}

.menu .right-preview .sub-items-wrapper{
	display: none;
	width: calc(100% + 35px);
	height: 100%;
}

.menu .right-preview .mCSB_scrollTools_vertical{
	right: 31px !important;
}

.menu .right-preview .sub-items-wrapper a{
	padding-left: 40px;
	display: block;
	width: 100%;
	line-height: 90px;
	font-size: 25px;
	text-align: left;
	color: #444;
	font-weight: 700;
	transition: all .4s;
	margin-left: 0;
	border-left: 20px solid #f44336;
	
}

.menu .right-preview .sub-items-wrapper a:after, .menu .right-preview .sub-items-wrapper a:first-child:before{
	border-bottom: 1px dashed #ddd;
	content: "";
	display: block;
	margin-left: -40px;
}


.menu .right-preview .sub-items-wrapper a:nth-child(2n){
	border-left-color: #e91e63;
}

.menu .right-preview .sub-items-wrapper a:nth-child(3n){
	border-left-color: #9c27b0;
}

.menu .right-preview .sub-items-wrapper a:nth-child(4n){
	border-left-color: #673ab7;
}

.menu .right-preview .sub-items-wrapper a:nth-child(5n){
	border-left-color: #3f51b5;
}

.menu .right-preview .sub-items-wrapper a:nth-child(6n){
	border-left-color: #2196f3;
}

.menu .right-preview .sub-items-wrapper a:nth-child(7n){
	border-left-color: #03a9f4;
}

.menu .right-preview .sub-items-wrapper a:nth-child(8n){
	border-left-color: #00bcd4;
}

.menu .right-preview .sub-items-wrapper a:nth-child(9n){
	border-left-color: #009688;
}

.menu .right-preview .sub-items-wrapper a:nth-child(10n){
	border-left-color: #4caf50;
}

.menu .right-preview .sub-items-wrapper a:not(.disabled):hover{
	background-color: #eee;
}

.menu .right-preview .sub-items-wrapper.active{
	display: block;
}

.menu .right-preview .sub-items-wrapper div.content{
	height: 0;
	overflow: hidden;
	margin-left: 25px;
}

.menu .right-preview .sub-items-wrapper div.content.active{
	height: 100%;
	transition: height .6s;
}

.menu .right-preview .sub-items-wrapper a.content-link{
	border-left-color: transparent;
}

.menu .disabled, .menu .disabled *{
	opacity: 0.4;
	cursor: not-allowed;
}

/* Bounce Transition */
@keyframes bounce-right {
	0%  { left:-30%; -moz-animation-timing-function:ease-in;  }
	37%   { left:0; -moz-animation-timing-function:ease-out; }
	55%   { left:-7.5%; -moz-animation-timing-function:ease-in;  }
	73%   { left:0; -moz-animation-timing-function:ease-out; }
	82%   { left:-2.1%; -moz-animation-timing-function:ease-in;  }
	91%   { left:0; -moz-animation-timing-function:ease-out; }
	96%   { left:-0.6%; -moz-animation-timing-function:ease-in;  }
	100%  { left:0; }
}

/* left */
@keyframes bounce-left {
	0%  { right:-60%; -moz-animation-timing-function:ease-in;  }
	37%   { right:0; -moz-animation-timing-function:ease-out; }
	55%   { right:-17.5%; -moz-animation-timing-function:ease-in;  }
	73%   { right:0; -moz-animation-timing-function:ease-out; }
	82%   { right:-4.9%; -moz-animation-timing-function:ease-in;  }
	91%   { right:0; -moz-animation-timing-function:ease-out; }
	96%   { right:-1.4%; -moz-animation-timing-function:ease-in;  }
	100%  { right:0; }
}