@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/lobster_regular.ttf);
}

body{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("../resourses/main/bg.jpg");
	margin: 0;
	padding: 0;
}

body, html {
	height: 100%;
}

body *{
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}


table {
	width: 100%;
}

.gis-text-content ol li:first-letter {
	text-transform: uppercase;
}

/*.gis-text-content ul li:first-letter {*/
	/*text-transform: lowercase;*/
/*}*/


/* WINDOW CONTROLS-----------
---------------------------*/
.window-controls{
	font-size: 32px;
	position: absolute;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	right: 0;
	top: 0;
	z-index: 9999999;
	height: 30px;
	line-height: 30px;
	text-align: center;
	overflow: hidden;
	background-color: #fff;
	border-bottom-left-radius: 4px;
}

.window-controls>div{
	transition: background-color .4s;
}

.window-controls>div:hover{
	background-color: rgba(0, 0, 0, .05);
}


.window-controls i{
	cursor: pointer;
}

.window-controls .minimize{
	-webkit-font-smoothing: subpixel-antialiased;
	color: #43A047;
	float: left;
}

.window-controls .close{
	-webkit-font-smoothing: subpixel-antialiased;
	border-left: 2px solid #eee; 
	color: #c62828;
	float: left;
}


/* MAIN MENU-----------------
---------------------------*/
.main-menu{
	background-color: rgba(255, 255, 255, .98);
	border-radius: 4px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	display: block;
	transition: .5s left cubic-bezier(.55,0,.1,1);
	padding: 0;
	position: absolute;
	top: 100px;
	left: calc(50% - 200px);
	width: 400px;
}

.main-menu.move{
	left:  calc(50% - 400px);
}

.main-menu *{
	cursor: pointer;
}

.main-menu .item, .main-menu .sub-item{
	display: block;
	height: 60px;
	overflow: hidden;
	transition: background-color .4s;
}

.main-menu .item:not(.selected):hover, .main-menu .sub-item:hover{
	background-color: rgba(0, 0, 0, .1);
}

.main-menu .item.selected{
	background-color: #c62828;
}

.main-menu .item.selected:nth-child(2n){
	background-color: #006064;
}

.main-menu .item.selected:nth-child(3n){
	background-color: #558b2f;
}

.main-menu .item.selected:nth-child(4n){
	background-color: #d84315;
}

.main-menu .item div{
	float: left;
}

.main-menu .item div i{
	margin-left: 30px;
	font-size: 36px;
	line-height: 60px;
	color: rgb(73,73,73);
}

.main-menu .item.selected >div i{
	color: #f8f8f8;
}

.main-menu .item a{
	color: rgb(103,103,103);
	line-height: 60px;
	padding-left: 10px;
	font-size: 20px;
	font-weight: 700;
	text-decoration: none;
}

.main-menu .sub-item div i{
	margin-left: 15px;
}

.main-menu .item.selected >a{
	color: #f8f8f8;
}

.main-menu .sub-items{
	transition: all .5s cubic-bezier(.55,0,.1,1);
	background-color: rgba(255, 255, 255, .98);
	box-shadow: 1px 1px 1px rgba(0,0,0,.4);
	border-radius: 0 4px 4px 0;
	border-left: 20px solid #c62828;
	display: block;
	position: absolute;
	width: 430px;
	left: calc(100% - 2px);
	top: 0;
	padding: 0;
}

.main-menu .item:nth-child(2) .sub-items{
	border-left: 20px solid #006064;
}

.main-menu .item:nth-child(3) .sub-items{
	border-left: 20px solid #558b2f;
}

.main-menu .item:nth-child(4) .sub-items{
	border-left: 20px solid #d84315;
}

.main-menu .sub-items.hide{
	transition: none;
	height: 0;
	width: 0;
}

.main-menu .item .sub-item a{
	color: rgba(0,0,0,0);
}

.main-menu .item.selected .sub-item a{
	transition: color .6s;
	color: rgb(103,103,103);
}

.main-menu .item .sub-item div i{
	color: rgba(0,0,0,0);
}

.main-menu .item.selected .sub-item div i{
	transition: color .5s;
	color: rgb(73,73,73);
}


/* FULL PAGE------------
------------------------*/
.section{
	text-align:center;
}

.fp-controlArrow{
	transition: opacity .4s;
}

.fp-controlArrow:hover{
	opacity: 0.9;
}

.fp-controlArrow.fp-prev{
	left: 50px;
	border-color: transparent #0097A7 transparent transparent !important;
}

.fp-controlArrow.fp-next{
	right: 50px;
	border-color: transparent transparent transparent #0097A7 !important;
}


/* FP-NAVIGATION-----------
-------------------------*/
#fp-nav ul li:nth-child(1) a span{
	background: #c62828; 
}

#fp-nav ul li:nth-child(2) a span{
	background: #006064; 
}

#fp-nav ul li:nth-child(3) a span{
	background: #558b2f;; 
}


/* SLIDES------------------
-------------------------*/
img.gis-media{
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border: 5px solid #E6DEAF;
	box-shadow: 0 0 20px rgba(125, 125, 125, .7);
}

video.gis-media{
	background-color: #E6DEAF;
	border-bottom-width: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	border-top-width: 2px;
	border: solid #E6DEAF;
	box-shadow: 0 0 7px rgba(125, 125, 125, .4);
	height: 400px;
	margin-bottom: -5px;
	border-left-width: 5px;
	border-right-width: 5px;
}

.gis-media-description{
	background-color: #E6DEAF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	box-shadow: 0 0 20px rgba(125, 125, 125, .7);
	color: #1f1f1f;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px 8px 8px 8px;
	text-align: center;
	width: 690px;
}


/* TEXT CONTENT-----------
------------------------*/
.gis-text-content .intro{
	background-color: #E6DEAF;
	border-left: 20px solid rgb(142,11,0);
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(142, 11, 0, .7);
	color: #1f1f1f;
	font-size: 20px;
	margin: 0 auto;
	padding: 10px 30px 20px 30px;
	text-align: justify;
	text-indent: 30px;
	width: 80%;
}

.gis-text-content .intro h1{
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 2.5em;
	font-family: Georgia;
	letter-spacing: 0.1em;
	color: rgb(142,11,0);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.6);
	padding-bottom: 0.5em;
	text-align: center;
}

.gis-text-content .intro h1 span{
	display: block;
	margin-top: 0.5em;
	font-family: Verdana;
	font-size: 0.6em;
	font-weight: normal;
	letter-spacing: 0em;
	text-shadow: none;
}

.gis-text-content .intro .body{
	border-bottom: 1px solid rgba(69,54,37,0.2);
	border-top: 1px solid rgba(69,54,37,0.2);
	padding-top: 1em;
	padding-bottom: 1em;
}

.gis-text-content .intro .body p{
	font-family: Verdana;
	text-align: justify;
	line-height: 1.5em;
	color: rgb(69,54,37);
	margin-top: 1em;
	padding: 0;
}

.gis-text-content .intro .body p:first-letter{
	text-transform: capitalize;
}

.gis-text-content .intro .body p:first-child{
	font-size: 1.25em;
	font-family: Georgia;
	font-style: italic;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	letter-spacing: 0.1em;
	margin-top: 0;
	margin-bottom: 0.2em;
	text-align: justify;
}

.gis-text-content .intro .body p:first-child:first-line{
	font-weight: bold;
}

.gis-text-content .intro .body .author{
	opacity: 0.5;
	font-style: italic;
	font-size: 18px;
}

.gis-text-content .intro .body .description{
	text-align: center;
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
}

.gis-text-content .intro .body .center {
	text-align: center;
}

.gis-text-content .intro .body img{
	display: block;
	margin: 10px auto;
}

.gis-text-content .intro .body table{
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.gis-text-content .intro .body table th{
	font-weight: 700;
	text-indent: 0;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000;
}

.gis-text-content .intro .body table td{
	text-indent: 0;
	padding: 15px 10px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #000;
}

.gis-text-content .intro .body ul, .gis-text-content .intro .body ol{
	padding-left: 35px;
	font-family: Verdana;
	text-align: justify;
	line-height: 1.5em;
	color: rgb(69,54,37);
	margin-top: 1em;
}

.gis-text-content .intro .body li{
	margin-left: 20px;
	text-indent: 0.2em;
	margin-top: 0.6em;
}

.gis-text-content .intro .body li:first-child{
	margin-top: -0.7em;
}


/*------------------------------------
--GMAPS------------------------------*/
body > div.wrap-content.fullpage-wrapper > div.section.fp-section.fp-table.active > div > div > div:nth-child(2) > div:nth-child(9){
	left: 74px !important;
}

body > div.wrap-content.fullpage-wrapper > div.section.fp-section.fp-table.active > div > div > div:nth-child(2) > div:nth-child(10){
	left: 102px !important;
}


/*------------------------------------
--DEBUG-----------------------------*/
.debug-message {
	width: 100%;
	z-index: 9999999;
	display: block;
	position: fixed;
	background-color: #ffffff;
}

.debug-message:hover {
	opacity: 0;
}