<h1>
    Подієві ресурси
</h1>
<div class="body">
    <p>Подієві ресурси належать до динамічних чинників формування туристичних потоків, оскільки включають мотиваційні
        передумови подорожі до місця, де відбувається подія чи явище. Спортивні змагання, культурно-мистецькі заходи,
        політичні акції, унікальні природні явища — далеко не повний перелік подій, які спонукають людину до мандрівки.
        Подієві ресурси охоплюють найбільш суттєві прояви сучасного суспільного буття із його модою на глобалізацію,
        екологію, активний і здоровий спосіб життя, переконаннями й уявленнями про стиль і стереотип поведінки людини у
        соціумі, включають його пропаганду та механізми реалізації. Необхідно зазначити, що дана теза найбільшою мірою
        стосується частини світової спільноти, яку прийнято називати Західним світом.</p>
    <p>Спортивні події:</p>
    <ul>
        <li>Спортивнізмагання — Літні і зимові Олімпійські ігри, чемпіонати світу і Європи з футболу й інших видів
            спорту, спартакіади
        </li>
        <li>Ралі, перегони і регати — Перегони Формули-1, міжнародні автоперегони, напр. Париж – Дакар, регати: Vendee
            Globe, Volvo Ocean Race.
        </li>
        <li>Спортивні фестивалі — Лижний фестиваль (Норвегія), Перегони човнів (Велика Британія)</li>
    </ul>
    <p>Культурно-історичні події:</p>
    <ul>
        <li>Театралізовані шоу — Шоу Lord of the Dance (Велика Британія), Кіносценія (Франція), Наше Різдво (Україна)
        </li>
        <li>Карнавали — Карнавал в Новому Орлеані (США), Венеціанський карнавал Італія), карнавал в Ріо-де-Жанейро
            (Бразилія), карнавал в Мацатлані (Мексика)
        </li>
        <li>Національні фестивалі і свята — Фестиваль Святого Патрика (Велика Британія, Ірландія), Парад кохання
            (Німеччина), весняні та осінні фестивалі (Китай), Дівалі або Фестиваль Вогнів (Індія);
        </li>
    </ul>
    <p>Економічні і політичні події:</p>
    <ul>
        <li>Аукціони — Сотбі'с, Крісті'с (твори мистецтва, антикваріат, Велика Британія), NAFA (хутра, Канада), Гелос
            (твори мистецтва, Росія), FFS (хутра, Фінляндія), Flora Holand (квіти, Нідерланди)
        </li>
        <li>Покази мод — Тиждень високої моди в Парижі (Франція), Milano Moda Donna (Італія), Тижні моди Mercedes-Benz
        </li>
        <li>Ярмарки і виставки — Райзен Гамбург (туристичний ярмарок, Німеччина), Брюссельський міжнародний книжковий
            ярмарок (Бельгія)
        </li>
        <li>Автомобільні й авіаційні Салони — Детройтський (США), Франкфуртський (Німеччина), Лондонський (Велика
            Британія), Женевський (Швейцарія), Токійський (Японія) автосалони, авіасалон в Ле Бурже (Франція), авіасалон
            на о. Лангкави (Малайзія)
        </li>
        <li>Політичні й економічні форуми — Всесвітній економічний форум у Давосі (Швейцарія), Генеральна асамблея ООН,
            зустрічі світових лідерів
        </li>
    </ul>
    <p>Релігійні події:</p>
    <ul>
        <li>Релігійні свята, ходи і події — Сходження Благодатного вогню у переддень Воскресіння Христового
            (Єрусалим).;
        </li>
    </ul>
    <p>Окремі види подієвих ресурсів найбільш доцільно класифікувати за тематикою заходу:</p>
    <ul>
        <li>Громадські
            <ul>
                <li>Гастрономічніфестивалі — пивний фестиваль Октоберфест (Мюнхен, Німеччина), свято молодого вина
                    Божоле Нуво (Франція), фестиваль морепродуктів на о. Гров (Іспанія), Свято меду (Мукачеве,
                    Закарпаття).
                </li>
                <li>Фестивалі і виставки квітів — виставка тюльпанів (Нідерланди), фестиваль квітів у Челсі (Велика
                    Британія), свято троянд (травень) і жасмину (серпень) у Грассі (Франція), фестиваль хризантем
                    (Японія), фестиваль квітів (Таїланд), виставка квіткових експозицій на Співочому полі (Київ).
                </li>
            </ul>
        </li>
        <li>Мистецькі
            <ul>
                <li>Музичні татеатральні фестивалі і конкурси — Музичний конкурс Євробачення, фестиваль джазу в Монтре
                    (Швейцарія), Слов'янський базар (Білорусь), Нова хвиля (Латвія), Таврійські ігри (Україна),
                    Фестиваль художнього драматичного мистецтва (Франція).;
                </li>
                <li>Кінофестивалі — Канський (Франція), Берлінський (Німеччина) кінофестивалі, кінофестиваль Молодість
                    (Україна), Кінотавр (Росія) Фольклорні обряди, свята і фестивалі — Midsummer's Day (Велика
                    Британія), фестиваль кельтської музики (Франція), фольклорний фестиваль у Шешорах (Україна)
                </li>
            </ul>
        </li>
    </ul>
</div>