<h1>
Біосферний заповідник Асканія-Нова
</h1>
<div class='body'>
<p>	Біосферний заповідник Асканія-Нова створено на базі першого в Україні природного заповідника, закладеного Ф. Є. Фальц-Фейном у 1898 р. на 520 
десятинах цілинного сухостепового ландшафту. На території заповідника знаходяться цілинний степ з перелогами, дендрологічний парк, зоопарк, суходільні й поливні 
угіддя Інституту тваринництва степових регіонів, населені пункти, фермерські господарства. Поверхня рівнинна, з абсолютними висотами 34-19 м, подами і степовими 
блюдцями. Клімат помірно континентальний, літо посушливе, жарке, зима м'яка. Середня річна температура повітря — 9,5 °С, середньорічна сума опадів становить 400 мм. 
В умовах непромивного водного режиму під типчаково-ковиловими степами сформувалися темно-каштанові солонцюваті ґрунти. Багатим і різноманітним є рослинний світ: 478 
видів вищих рослин, 53 види мохоподібних, 55 видів лишайників, грибів. У рослинному покриві панують злакові угруповання. Тваринний світ представлений 28 видами 
ссавців, 14 видами гризунів, понад 20 видами птахів. У ландшафтній структурі виділяють низовинні слабодреновані лесові рівнини на верхньопліоценових піщаних та 
піщано-глинистих відкладах і понтичних вапняках, з подово-роздоливими та западинно-плакоровими місцевостями, з темно-каштановими залишкове солонцюватими ґрунтами в 
комплексі з солонцями степовими і лучними, під різнотравними типчаково-ковиловими
<p>	степами, луками подів і западин. У західній частині заповідника знаходиться 
Великий Чамлинський під, яки має відносно стрімкі північні схили, добре виражене днище з плакорними, лучними осолоділими, солонцювато-осолоділими, глеєосолоділими 
природними комплексами.</div>
