<h1>
	Березнівський
</h1>
<div class='body'>
	<p>	Місто Березне Рівенської області. Територія – близько 30 га.
	<p> 
            Цей витвір садово-паркового мистецтва створювався не одним поколінням садівників та скульпторів Західного Полісся. Парку 
            трохи більше тридцяти років.
	<p> 
            Він поділений на окремі ділянки з цікавими назвами: сад садових жасминів, передгір’я, кам’янистий сад… Парк має свій Острів 
            кохання, що пливе посеред озерця з берегами квітучого бузку декількох видів.
	<p> 
            Приїхавши на екскурсію у дендропарк, ви побуваєте і у Кавказі, і у Середній Азії, і в Сибіру… — все це — свого роду регіони, 
            засаджені рослинами певних видів і кліматичних зон.
	<p> 
            Дерев тут висаджено близько 1000 — представників екзотичної, зарубіжної та місцевої флори.
	<p>	</div>



<h1>
	Веселі Боковеньки
</h1>
<div class='body'>
	<p>	Долинський район Кіровоградської області. Парк займає площу 109 га. Заснований ще у 1893 році на березі 
            річки Боковеньки, він є частиною селекційно-дендрологічної станції.
	<p> 
            Така весела назва присвоїна дендропарку на честь річки Боковенька, на якій колись любили відпочивати та веселитися козаки.
	<p> 
            У дендропарку росте 963 види дерев і чагарників. Серед них ви побачите багато рідкісні і реліктових рослин. Наприклад, дерево 
            гинкго, залізне дерево, деревина якого тоне у воді, цегляне дерево та багато інших.
	<p> 
            Парк розділений на ландшафтні зони. Тут є три озера з довгими містками та очеретними заростями на берегах. Краєвид 
            доповнюється водоспадом. А ще є ціла система мальовничих ставків.
	<p>	</div>



<h1>
	Полтавський
</h1>
<div class='body'>
	<p>	Місто Полтава. Розташований на території 124,5 га. Заснований на початку 1960-х років.
	<p> 
            Дендропарк поділений на окремі «тематичні» частини з красивими назвами: Шведський ліс, Бузковий гай, Лісостеп, Східна 
            долина…
	<p> 
            На території багато мальовничих майданчиків і галявин. Навколо ставків схиляються плакучі верби.
	<p> 
            З одного боку – темно-зелений ялинник, з іншого – білокоре царство беріз, з третього – ростуть горіхові дерева, розкинулась 
            бузкова галявина. А неподалік ставка — галявина постійного цвітіння. Є також дендрарій.
	<p> 
            Всього тут росте близько 170 видів кущів та дерев.
	<p>	</div>



<h1>
	Клесівський
</h1>
<div class='body'>
	<p>	СМТ Клесів Рівенської області. Територія – 3 га.
	<p> 
            Дендропарк молодий (1997рік заснування), невеликий, але надзвичайно миловидний. Найперше відомий своїми «зеленими 
            скульптурами». Їхньої краси неможливо передати через фото, їх треба побачити. Найрізноманітніші несподівані фігури створені 
            лише за допомогою ножиць та уяви автора.
	<p> 
            Серед найскладніших скульптур — Свічка Діви Марії, Олімпійська чаша, Кубок Богдана Хмельницького. А біля входу відвідувачів 
            зустрічає величезний герб України з кулястих туй.
	<p> 
            Каштанова алея, арки з рослин, рукотворні озера, мости та острівки єднання, кохання і дружби.
	<p> 
            Творцем Клесівського дендропарку є лише одна людина — геніальний дизайнер-самоучка Олексій Ворон.
	<p>	</div>



<h1>
	Краснокутський
</h1>
<div class='body'>
	<p>	Село Основинці Харківської області. Займає площу 13,6 га.
            Він – один із найстаріших в Україні, адже заснований більше як 200 років тому Іваном Каразіним.
	<p> 
            Тут росте більше як 300 видів рідкісних рослин. І близько 30 представників фауни. Для майбутнього дендропарку рослини 
            привозили спеціально із Японії, Китаю, Америки, Канади, Бразилії та інших країн. Зараз у Краснокутському дендропарку ростуть 
            і реліктові рослини, наприклад, гінкго дволопастне, так зване дерево щастя.
	<p> 
            Численні озера з настільки прозорою водою, що видно, як плавають риби.
	<p> 
            Особливий парк тим, що тут є старовинні монаші печери і підземні ходи.
	<p> 
            А ще дендропарк може похвалитися чотирма джерелами-криницями з цілющою лікувальною водою. І унікальним «Музеєм яблук», що  
            діє на території.
	<p>	</div>



<h1>
	Ялтинський зоопарк «Казка»
</h1>
<div class='body'>
	<p>	Ялтинський зоопарк «Казка» (попередня назва Поляна казок) — єдиний в Україні приватний зоопарк. Розташований 
            неподалік від міста Ялта.
	<p> 
            Історія Ялтинського зоопарку починається в 1990 році. Поруч з одним з визначних місць Ялти — «Поляною казок» — за ініціативою 
            ЦК комсомолу України був створений кооперативний зоологічний куток. В ньому відвідувачі могли милуватися яками, павичами, 
            ведмедями, вивірками та деякими іншими тваринами.
	<p> 
            В 1995 році зоологічний куток викупив підприємець Олег Зубков і перетворив його в зоопарк. За 10 років маленький зоологічний 
            куток перетворився в повноцінний зоопарк з усіма зручностями. Тут знаходяться деякі види тварин, яких більше немає ніде в 
            Україні.
	<p> 
            Незважаючи на постійні проблеми з чиновниками, в цьому зоопарку завжди підтримують хороші умови для тварин. Казка – це 
            перший приватний зоопарк.
	<p> 
            Тут зібрана унікальна колекція представників сімейства котячих: леопарди, леви, тигри (уссурійські, амурські, бенгальські), 
            леви. Причому, тварини дуже 
	<p>	доглянуті і добре розмножуються в умовах зоопарку.
	<p> 
             У Казці можна побачити відому білу тигрицю на прізвисько Тигрюля, якій нещодавно привезли такого ж білого тигра. На 
             даний час у Казці будується сафарі–парк Тайган.
	<p> 
             У відвідувачів також є можливість годувати тварин – спеціальний корм можна придбати при вході.</div>



<h1>
	Миколаївський зоопарк
</h1>
<div class='body'>
	<p>	Цей зоопарк був заснований в 1901 році, як приватний акваріум–музей. Він по праву вважається одним з кращих 
            зоопарків України, і навіть входить в престижну організацію WAZA.
	<p> 
            Популярністю користуються хижаки – леви, тигри, ведмеді. Тут живе найстаріша тварина в країні – 60–річний крокодил Вася. Ще 
            зоопарк може похвалитися 8–метровим пітоном на прізвисько Сітка. Це – найбільша змія в Європі.
	<p>	</div>



<h1>
	Одеський зоопарк
</h1>
<div class='body'>
	<p>	Ідея створення зоопарку в Одесі виникла напередодні святкування сторіччя міста, в 1889 р., коли було 
            зроблено креслення і план «Звіринця на Поліцейській вулиці біля обриву», проте втілити в життя цей план не вдалося.
	<p> 
            Наступний крок до створення зоопарку був зроблений в 1914 р. — створений проект його споруди на території ботанічного саду, 
            схвалений Міською думою, але розпочата Перша світова війна, а потім й громадянська перешкодили цим планам.
	<p> 
            І як тільки в 1922 році почалося будівництво зоопарку в Одесі на Приморському бульварі, в районі нижнього саду Воронцовського 
            палацу.
	<p> 
            Головна заслуга в організації першого зоопарку в Одесі належить одному з енергійних керівників суспільства «Південьклімат» 
            Г. В. Бейзерту.
	<p> 
            У 1992 році відповідно до Закону України зоопарк отримав статус заповідної території загальнодержавного значення й увійшов до 
            складу природно-заповідного фонду України. Головна заслуга в організації першого зоопарку в Одесі належить одному із 
            керівників товариства «Югоклімат» 
	<p>	Генріху Володимировичу Бейзерту.
	<p> 
             Цей зоопарк – єдиний в Україні, де успішно розмножуються індійські слони. Перший малюк – Фантик – народився тут у 1992 році 
             і став артистом європейського цирку–шапіто. У 1998 році на світ з'явилася слониха Тенді, яка потім переїхала до Харківського 
             зоопарку. А в 2004 році з'явилося третє слоненя, якого назвали Дюк. Також тут добре розмножуються рідкісні, але надзвичайно 
             красиві тварини, – амурські барси. При Одеському зоопарку існує єдиний в Україні розплідник з утримання і розведення хижих 
             птахів та сов. Також тут є можливість не просто подивитися на тварин, а й поспілкуватися з ними: на Острові черепах 
             (водоплавні птахи, черепахи, карасики), і в Сільському дворику (кози, кролі, гуси, кабанчики).</div>



<h1>
	Харківський зоопарк
</h1>
<div class='body'>
	<p>	Історія створення Харківського зоопарку — першого в Україні — починається з 90-х рр. ХІХ ст., коли за 
            ініціативи професора Олександра Брандта в місті була розпочата спроба організувати «акварій». В 1894 р. правління Південно-
            російського товариства акліматизації звернулося до ректора Харківського імператорського університету М. Олексієнка з 
            проханням передати в оренду частину території Університетського саду для організації виставки. В 1895 р. на ділянці (близько 
            2,5 га) землі дослідного поля Університетського саду товариство відкрило бжільничо-шовковознавську станцію.
	<p> 
            Спочатку колекція складалася з дрібних хижаків, дрібних птахів і свійських тварин. В 1830—1920 рр. площа зоопарку збільшилася 
            в 10 разів і до 1941 р. на ній експонувалися представники близько 100 видів ссавців, приблизно стільки ж риб, земноводних, 
            плазуючих і більше 200 видів птахів.
	<p>	</div>



<h1>
	Луцький зоопарк
</h1>
<div class='body'>
	<p>	це природоохоронна, науково-дослідна та культурно-освітня установа, що є штучно створеним об'єктом природно-
            заповідного фонду.
	<p> 
            Зооекспозиція складається із 42 видів фауни. Загальна кількість тварин — 88, птахів — 35. Серед найцікавіших, екзотичних 
            представників фауни — леви (2), ведмеді (2), благородний олень (3), бізон, антилопа, лама (2), дикобраз, єнотовидні собаки, 
            фазани, павичі, чорні лебеді.
	<p>	</div>



<h1>
	Софіївка
</h1>
<div class='body'>
	<p>	Місто Умань Черкаської області. Площа — 179,2 га.
	<p> 
            Це справді найвеличніший парків нашої країни та один із найкрасивіших у світі. Колись він був названий на честь дружини 
            Станіслава Потоцького Софії. Тепер на його честь названо космічний астероїд та навіть присвячено поему (польського 
            письменника С. Трембецького).
	<p> 
            Опинившись тут, ви ніби побуваєте у стародавній Греції чи Римі. Парк дуже красивий і багатий: тут і фонтани, і ставки, 
            і водоспади, і озеро, і скелі, і статуї римських богів.
	<p> 
            Пам`ятка садово-паркового мистецтва кінця XVIII — першої половини XIX століть має світове значення. Це підтверджують 
            численні медалі, дипломи і нагороди.
	<p> 
            Прикрашений переважно античними скульптурами. Та і загалом композиція парку задумувалась автором-архітектором як живе 
            відтворення описаних споруд та інших елементів з частин «Іліади» та «Одіссеї» Гомера.
	<p>	Центральні ворота збудовано на зразок входу в Афінський ринок, а деталі, що завершують сторожові башти, запозичені з храму 
             богині Вести, що в Італії. Башти, що прикрашають головний вхід збереглися до нашого часу ще з середини XIX століття.</div>



<h1>
	Олександрія
</h1>
<div class='body'>
	<p>	Місто Біла Церква Київської області. Займає площу понад 290 га.
	<p> 
            Дендропарк є найбільшим і найстарішим із собі подібних в Україні. Розташований на березі річки Рось. Має багато декоративних 
            водойм.
	<p> 
            Архітектура парку виконана у стилі доби Класицизму.
	<p> 
            Спорудження парку почалось вкінці XVIII століття за вказівкою графа Браницького. Жіноче ім`я національного парку – честь 
            дружини його засновника.
	<p> 
            З часу заснування тут побуває багато відомих постатей. Олександрії присвячуватимуть вірші і поеми. На жаль, єдиною спорудою, 
            яка уціліла з часу первинного оформленя парку є Будинок садівника.
	<p> 
            Красиві унікальні рослини і романтичні будівлі, якими можна милуватися у наш час, створюють неповторну композицію рукотворного 
            дива, що вражає все нових відвідувачів.
	<p>	</div>



<h1>
	Тростянець
</h1>
<div class='body'>
	<p>	Пам’ятка садово-паркової архітектури середини XIX століття, створена завдяки зусиллям і коштом Івана 
            Михайловича Скоропадського. Розташований в однойменному селищі Ічнянського району Чернігівської області. Займає площу 350 га.
	<p> 
            Будівництво парку розпочалось зі створення Великого ставу, який і зараз красиво розділяє територію на дві частини. Згодом тут 
            було насипано багато високих курганів, що своїми гострими вершинами, за задумкою, нагадують Альпи.
	<p> 
            «Тростянець» засаджений близько 800 видами і формами рослин, серед яких багато рідкісних та екзотичних.
	<p> 
            Привертає увагу незвичайна мармурова статуя ангела, що вказує на небо. За кілька років до смерті Івпана Скоропадського вона 
            була встановлена як нагадування. «Любезный прохожій! Садъ, въ котором ты гуляешь, посажденъ мною; он служилъ мнъ ут-ъшеніемъ 
            въ моей жизни. Если ты заметишь безпорядокъ, ведущй къ уничтоженію его, то скажи объ этомъ хозяину сада: ты сдълашь доброе 
            дъло» – говорить напис.
	<p>	</div>



<h1>
	Кіровоградський
</h1>
<div class='body'>
	<p>	Місто Кіровоград. Парк має площу 44, 2 га. Більше як дві третини з них – це зелені насадження.
	<p> 
            Кіровоградський дендропарк є досить молодим. Будівництво розпочалось у 1950-х роках.
	<p> 
            Дендропарк найперше відомий своїми розкішними квітковими ланшафтами. Серед яких тут найбільше тюльпанів і нарцисів. 
            Свого часу вони були спеціально завезені сюди із Голандії. Мальовничі алеї дерев, обсаджені кущами білого жасмину, жовтої 
            акації, барбарису та дикої троянди. Особливо тут красиво навесні, коли клумби починають світитись дивовижним різнобарв`ям 
            пахучих суцвіть.
	<p> 
            Зараз на території парку встановлено дуже багато атракціонів. Тому тут постійно людно і весело, проводяться концерти і акції. 
            Кіровоградський дендропарк називають українським Діснейлендом.
	<p>	</div>



<h1>
	Чернівецький
</h1>
<div class='body'>
	<p>	Місто Чернівці. Територія парку приблизно 4,8 га.
	<p> 
            Як відомо, справжнім ландшафтним дивом міста є університет імені Ю. Федьковича. Дендропарк був закладений тут ще у 1876 році 
            за головним корпусом колишньої Резиденції православних митрополитів Буковини і Далмації, як власне і служить зараз частиною 
            університету.
	<p> 
            Окрім 100 видів та форм дерев і чагарників росте справжнє ботанічне диво – тринога яблуня. Красива алея обрамлює прохід до 
            невеличкого басейну з магноліями та плакучими вербами. А неподалік розташована сталактитова печера (імітація).
	<p> 
            Басейни та фонтани, алеї з асиметричною посадкою дерев, галявини із затишними баскетами.
	<p> 
            Тишу і спокій парку береже кам`яний мур, що зі всіх сторін огортає його триметровою завісою.
	<p>	</div>



<h1>
	Сторожинецький
</h1>
<div class='body'>
	<p>	Місто Сторожинці Чернівецької області. Займає площу 17, 5 га.
	<p> 
            Дендропарк є одним із найстаріших у Європі. Адже був заснований ще у 1912 року і створювався він зі звичайного лісового 
            масиву. Тому ще зараз тут ростуть 200- і 100-літні дуби, клени і ясени.
	<p> 
            Найрізноманітніші екзотичні квіти цвітуть тут навіть у холодні пори року. Загало Сторожинецький дендропарк мможе похвалитися 
            понад 1000 видів дерев і чагарників з різних куточків світу.
	<p> 
            Знаменитою є велична липова алея. Алея закоханих та алея дружби. До речі, останню назвали так тому, що багато гостей 
            дендропарку садили тут щось своє. Цікаво, що й тепер тут росте Тарасова верба. Колись ця гілочка була привезена із Казахстану. 
            Коли Кобзар їхав на заслання, то взяв із собою вербову гілочку. У далекій землі вона прижилася, а могутнє дерево, що виросло 
            з неї, живе досі.
	<p>	</div>



<h1>
	Ботанічний сад
</h1>
<div class='body'>
	<p>	науково-дослідницький та культурно-просвітницький заклад, в якому проводиться накопичення колекцій флори 
             з метою її вивчення, збереження, культивування й акліматизації; пошук і добір рослин, перспективних для створення зелених 
             насаджень і здійснення інших видів господарської діяльності; робота щодо збереження генофонду рослинного світу. У ботанічному 
             саду створюються ділянки рідкісних і звичайних рослин, а також місцевої природної рослинності. Розрізняють ботанічний сад 
             державного та місцевого значення.
	<p> 
             В Україні існує більше 50 ботанічних садів, але найвідоміші представлено нижче:
	<p> 
             Ботанічний сад Дніпропетровського Університету (1930р., 18 га, 3000 видів)\n
             Ботанічний сад Житомирського Сільськогосподарського Інституту (Коледжу) (1933р., 35,4 га, 1000 видів)\n
             Ботанічний сад ім. акад. О.В. Фоміна Київського Університету (1841р., 22,5 га, 10000 видів)\n
             Ботанічний сад Волинського Університету, м. Луцьк (1977р., 10 га, 500 видів)\n
             Ботанічний сад Львівського Університету (1911р., 18,5 га, 1200 видів)\n
	<p>	Ботанічний сад Одеського Університету (1880р., 16 га, 2000 видів)\n
             Ботанічний сад Ужгородського Університету (1946 р., 4,5 га, 300 видів)\n
             Ботанічний сад Харківського Університету (1804р., 5,5 га, 1700 видів)\n
             Ботанічний сад Чернівецького Університету (1877р., 3,5 га, 1300 видів)\n
             Ботанічний сад Донецька (1965р., 275,5 га, 8600 видів)\n
             Ботанічний сад Каменец-подільська, Хмельницький район (1930р., 17,5 га, 2800 видів)\n
             Никітський ботанічний сад, республіка Крим (1812р., 147.9 га, 15000 видів)\n
             Центральний ботанічний сад ім. M. M. Хрішко, м. Київ (1936р., 130 га, 13000 видів)</div>



<h1>
	Пам'ятки археології
</h1>
<div class='body'>
	<p>	матеріальні залишки людської діяльності, що збереглися на поверхні землі, під землею або під водою і є 
            об'єктом археологічних досліджень. Пам'ятки археології — речові джерела, що висвітлюють минуле людського суспільства. Велике 
            значення пам'ятки археології мають для вивчення найдавнішого дописемного періоду людства, коли вони є єдиними історичними 
            джерелами.
	<p> 
            До основних пам'яток археології належать: місця поселення (стоянки, городища, селища) й окремі житла, господарські споруди, 
            залишки фортець і міст, могильники й окремі поховання, надмогильні й культові споруди, скарби, знаряддя праці та інші давні 
            вироби, малюнки й написи на скелях і окремих каменях тощо.
	<p>	</div>



<h1>
	Архітектурні пам'ятки та пам’ятки містобудування
</h1>
<div class='body'>
	<p>	один із різновидів пам'яток культури, високохудожній архітектурний твір, збудований у минулі історичні періоди. Хронологічна дистанція має 
            складати понад 40-50 років від сучасного моменту, споруда повинна оцінюватися передовсім з точки зору співвідношення просторів і мас, мистецького вирішення 
            екстер'єру та інтер'єру
	<p> 
            Архітектурними пам'ятками є:
	<p> 
            Історичні — будинки, споруди, їх комплекси (ансамблі), окремі поховання та некрополі, місця масових поховань померлих та померлих (загиблих) військовослужбовців 
            (у тому числі іноземців), які загинули у війнах, внаслідок депортації та політичних репресій на території України, місця бойових дій, місця загибелі бойових 
            кораблів, морських та річкових суден, у тому числі із залишками бойової техніки, озброєння, амуніції тощо, визначні місця, пов'язані з важливими історичними 
            подіями, з життям та діяльністю відомих осіб, культурою та побутом народів;
	<p> 
             Об'єкти монументального мистецтва — твори образотворчого мистецтва: як самостійні (окремі), так і ті, що пов'язані з архітектурними, археологічними чи іншими 
             пам'ятками або з утворюваними ними комплексами (ансамблями);
	<p>	\n
             Об'єкти архітектури — окремі будівлі, архітектурні споруди, що повністю або частково збереглися в автентичному стані і характеризуються відзнаками певної культури, 
             епохи, певних стилів, традицій, будівельних технологій або є творами відомих авторів; { Абзац п'ятий частини другої статті 2 в редакції Закону N 2518-VI (2518-17) 
             від 09.09.2010 }
	<p> 
             Об'єкти містобудування — історично сформовані центри населених місць, вулиці, квартали, площі, комплекси (ансамблі) із збереженою планувальною і просторовою 
             структурою та історичною забудовою, у тому числі поєднаною з ландшафтом, залишки давнього розпланування та забудови, що є носіями певних містобудівних ідей.</div>



<h1>
	Пам’ятки мистецтва
</h1>
<div class='body'>
	<p>	високохудожні твори скульптури, живопису та декоративного мистецтва, які можуть бути пов'язаними з архітектурними спорудами, так і самостійними, 
            що характеризують світогляд, естетичні погляди і рівень розвитку культури певної історичної епохи.
	<p>	</div>



<h1>
	Асканійський
</h1>
<div class='body'>
	<p>	Загальнозоологічиий заказник площею 17746га. До нього входять сільськогосподарські землі в Чаплинському районі навкруги біосферного заповідника 
            Асканія-Нова ім.Ф.Е.Фальц-Фейна і його охоронної зони. Створеним для охорони хребетних, а в деякій мірі і безхребетних. В основному охороняються ссавці і птахи, 
            що мігрують із заповідних степів і зоологічного парку внаслідок того, що для багатьох видів територія степу замала, для ряду видів не підходить абсолютно 
            заповідний режим, при якому немає зоологічного навантаження на степову рослинність, утворюється багато опаду, який в умовах сухого клімату не встигає розкладатися 
            і накопичується в степу, а деяким видам заважає жити високий травостій заповідного степу.
	<p>	</div>



<h1>
	Софіївський
</h1>
<div class='body'>
	<p>	Ботанічний заказник площею 194га. Розташований на південно- західній околиці с. Софіївки Білозерського району та прилеглій акваторії 
            Дніпровського лиману. Охороняються комплекс цілинного степу на лесових зсувах та водні фітоценози верхньої частини Дніпровського лиману. В степовій балці та на 
            надлиманних горбах збереглася типова степова рослинність типчаково-ковилових степів з багатим степовим різнотрав'ям з участю рідкісних рослин — ковили української 
            та волосистої, тюльпана бузького та Шренка, сальвінії плаваючої, рідкісних тварин — п'явки медичної, полоза жовточеревого, поліксени. Охороняються також рідкісні 
            рослинні формації, що включені до Зеленої книги України — формація латаття білого, глечиків жовтих, сальвінії плаваючої, ковили волосистої. Заказник виконує 
            важливу роль як частина екологічного коридору.
	<p>	</div>



<h1>
	Широка Балка
</h1>
<div class='body'>
	<p>	Ботанічний заказник площею 116га.. Розташований на південно-східній околиці с.Широка Балка Білозерського району та прилеглій акваторії 
            Дніпровського лиману. Територія заказника займає степові яруги, в яких ще збереглася, хоча й значно антропогенно трансформована, рослинність типчаково - ковилових 
            степів на лесових грунтах. Зрідка трапляються червонокнижні види рослин — тюльпан бузький та Шренка, ковила Лесінга, українська та волосиста, також тварин - дибка 
            степова, поліксена, махаон. В прибережній акваторії лиману відмічені рідкісні сальвінія плаваюча і плавун щитолистий. Заказник виконує важливу роль як частина 
            екологічного коридору.
	<p> 
            Цей заказник, як і Софіївський, дуже зручний для проведення екологічної освіти, тому треба тут створити екологічну стежку для екологічного виховання та 
            екологічної освіти учнів місцевої школи.
	<p>	</div>



<h1>
	Домузла
</h1>
<div class='body'>
	<p>	Орнітологічний заказник площею 1411,9га. Розташований на землях Привільненської сільської ради Каланчацького району. В заказнику зустрічається 
            понад 200 видів птахів. Відмічені скупчення крижнів - до 30 тис. особин, шпаків - до 60 тис. В заказнику охороняються птахи на прольоті та на гніздуванні, серед 
            них і рідкісні червонокнижні види - жовта чапля, коровайка, дрохва, червоновола казарка, лунь польовий і степовий, орлан-білохвіст та ін.
	<p>	</div>



<h1>
	Каїрська балка
</h1>
<div class='body'>
	<p>	Ландшафтний заказник пллощею 1270га. Розташований на землях Каїрської сільської ради в Горностаївському районі. В заказнику охороняються типові 
            та рідкісні степові ценози та залишки байрачних і заплавних природних лісів з рідкісними видами рослин, грибів і тварин. Місце годівлі птахів на прольоті.
	<p>	</div>



<h1>
	Бакайський
</h1>
<div class='body'>
	<p>	Лісовий заказник площею 420га. Розташований у гирлі Дніпра, в його передлиманній частині в Білозерському районі. Суходіл і акваторія представлені 
            типовими нижньодніпровськими плавнями. Є третинні релікти - плавун щитолистий (Нymphoides pultafa), наяда морська (Najas marina), вольфія безкоренева 
            (Wolffia arrhiza). Багатий тваринний світ, особливо орнітокомплекс. На деревах, а також на заломах очерету розташовані гнізда колоній чаплі сірої (Аrdeа сіnerea), 
            яка тут найчисельніша, чаплі малої білої (Еgretta garzetta), квака (Nycticorax nycticorax). Поблизу цих колоній знаходяться гнізда найдрібнішої з чапель - чаплі 
            жовтої (А rdeola ralloides), а також коровайки (Plegadis faicinellus). На окремих вербах з покрученим стовбурами розташовані гнізда бакланів. Є тут лиски, чомга та 
            інші види птахів, життєдіяльність яких пов'язана з плавнями.
	<p>	</div>



<h1>
	Березові гайки
</h1>
<div class='body'>
	<p>	Лісовий заказник площею 1320га в Іванівському та Рибальчанському лісництвах Голопристанського району. Тут на Іванівській піщаній арені 
            зберігаються природні березові ліси, утворені березою дніпровською. Це ендемічний вид пониззя Дніпра і Південного Бугу, який занесений до Червоної книги України, 
            а формація берези дніпровської як ендемічне, зникаюче угруповання занесено до Зеленої книги України. З ендемічних видів в заказнику зростають дрік дніпровський 
            (genista borysthenica), зіновать дніпровська (С hamaecytisus borysthenicus), чебрець дніпровський (Тhymus borysthenicus), жовтозілля дніпровське (Senecio 
            borysthenicus) та ін. Є рідкісні види мохів, лишайників, грибів.
	<p>	</div>



<h1>
	Ягорлицький
</h1>
<div class='body'>
	<p>	Орнітологічний заказник площею 18620га. Розташований в акваторії Ягорлицької затоки Чорного моря в Голопристанському районі. Входить до складу 
            Рамсарських водно-болотних угідь. В акваторії заказника, шо є буферною зоною Чорноморського біосферного заповідника, зимує величезна кількість водоплавних птахів. 
            Видовий склад цих птахів такий, як і в заповіднику, він охарактеризований при описі птахів заповідника.
	<p>	</div>



<h1>
	Джарилгацький
</h1>
<div class='body'>
	<p>	Ботанічний заказник площею 300га створений для охорони рідкісного червонокнижного виду золотобородника цикадового. Розташований на острові 
            Джарилгач в Скадовському лісництві Скадовського району. Золотобородник зростає на дещо підвищених елементах рельєфу в степовій центральній частині острова.
	<p> 
             Заказник у зв'язку з обмеженою площею уже не виконує завдань, що ставились при його створенні, адже золотобородник зараз поширився далеко за його межі. Заказник 
            не надає охорони ще майже 10 видам рослин, двом видам лишайників багатьом видам тварин, що мають такий же високий природоохоронний статус. Необхідно взяти під 
            охорону весь острів Джарилгач, однокілометрову зону відкрита моря та всю Джарилгацьку затоку, надавши цьому комплексу статус національної чи регіонального 
            природного парку, оскільки цей комплекс відіграє дуже важливу роль в екологічному коридорі морських узбереж.
	<p>	</div>



<h1>
	Саги
</h1>
<div class='body'>
	<p>	Ландшафтний заказник площею 500га. Розташований в Цюрупинському районі. На території заказника охороняються лісові ценози, псамофіти і степи, 
            згладжені піщані кучугури, озера, болотні ценози. Серед лісових ділянок важливе місце займає природна рослинність - рідкісні формації берези дніпровської та ковили 
            дніпровської, а також зарості вільхи звичайної. З рідкісних видів зустрічається гадюка звичайна, зростають зозулинець болотний, целокаулон степовий та ін. Озера та 
            заболочені ділянки є місцем гніздування та перебування значної кількості птахів. Шкоду заказнику наносять пожежі в соснових лісах, а також недавно побудований 
            автомобільний шлях.
	<p>	</div>



<h1>
	Бакайський жолоб
</h1>
<div class='body'>
	<p>	Загальнозоологічний заказник площею 1680га розташований Білозерському лісництві, в місці, де Дніпро переходить в Дніпровський лиман. Течія тут 
            слабка внаслідок підпору водами лиману. По дну лимана проникає морська солона вода при нагінних явищах, коли дмуть західні вітри. Змішування прісної і солоної вод 
            сприяє розвитку багатого тваринного і рослинного світу, багатого корму для птахів і риб. Сюди в протоки і на мілководдя приходить на нерест багато видів риб. Тут 
            відбувається інтенсивний нагул риби. На острівцях дельти, на обмілинах, вкритих очеретом південним, кугою озерною (Schoenoplectus lacustris), а у воді з лататтям 
            білим, глечиками жовтими знаходиться величезна кількість птахів, в тому числі й рідкісних, тут вони концентруються під час перельотів. З рідкісних рослин зростають 
            сальвінія плаваюча, водяний горіх, плавун щитолистий.
	<p>	</div>



<h1>
	Інгулецький лиман
</h1>
<div class='body'>
	<p>	Ботанічний заказник площею 50га займає смуту акваторії в Інгулецькому лимані між селами Микільське та Садово Білозерського району. Створений для 
            охорони рідкісних формацій водних рослин, включених до Зеленої книги України: горіха водяного (Trapeta natansis), густі зарості якого збереглися біля околиці 
            с.Микільське, сальвінії плаваючої (Salvinieta natansis), латаття білого (Nymphaeeta albae), глечиків жовтих (Nuphareta luteae), плавуна щитолистого (Nymphoideta 
            peltatae).
	<p> 
             Екологічні проблеми заказника пов'язані зі скидом в зимово-весняний період забруднених вод Кривбасу, а також з поглибленням каналу посередині русла Інгульця для 
            проходження суден та виловом риби сітками, коли в них набивається багато червонокнижних рослин, які після очистки сіток гинуть.
	<p>	</div>



<h1>
	Хрестова сага
</h1>
<div class='body'>
	<p>	Ботанічний заказник, площею 30га. Розташований в урочищі Саги в Голопристанському районі на узбережжі Ягорлицької затоки. Тут зростають 
            представники родини Орхідних (Оrchidaceae) — зозулинець розмальований, болотний та блощичний, рідкісні види, що включені до Червоної книги України. Охороняються 
            також місця гніздування та перебування птахів, в т. ч. й тих, що охороняються на європейському та загальнодержавному рівнях. Серйозною загрозою рідкісним видам є 
            збільшення чисельності диких кабанів, які знищують підземні частини зозулинців, зменшуючи потенціал розмноження цих видів.
	<p>	</div>



<h1>
	Шаби
</h1>
<div class='body'>
	<p>	Ботанічний заказник площею 20га розташований в Рибальчанському лісництві на березі Дніпровсько-Бузького лиману біля с.Виноградове 
            Голопристанського району. Охороняються ценози прибережної водно-болотної та лучної рослинності, в яких зростає рідкісний вид білоцвіт літній. Дане місцезнаходження 
            цього красивоквітучого виду на межі ареалу - одне з найсхідніших в Європі.
	<p>	</div>



<h1>
	Інгулець
</h1>
<div class='body'>
	<p>	Ландшафтний заказник площею 937га. Розташований у Великоолександрівському лісництві Великоолександрівського району. Охороняються лісонасадження 
            на лівому березі р.Інгулець, в основному штучного походження, створені в 50-роках XIX століття. З природних - залишки тернівників з домішкою жостіру проносного 
            (Rhamnus cathartica), бузини чорної (Sаmbucus nigra), видів шипшини (Rosa) тощо. Дане насадження є зразком лісівницького мистецтва в степовій зоні.
	<p>	</div>



<h1>
	Корсунський
</h1>
<div class='body'>
	<p>	Загальнозоологічиий заказник площею 3357га. Розташований в Корсунському лісництві Каховського району на ділянках Козачелагерної піщаної арени. 
            Соснові ліси чергуються з трав'янистими лучними ценозами в зниженнях піщаних арен та псамофітними ділянками степів. Охороняється тваринний світ мисливської фауни — 
            косуля, олень благородний, лось та інші види.
	<p>	</div>



<h1>
	Геологічні ресурси
</h1>
<div class='body'>
	<p>	широко використовуються в рекреаційно-туристичній діяльності. Мінеральні і термальні води, лікувальні грязі, бішофіт є природною основою для 
             розвитку оздоровчо-лікувального туризму. Найбільшою бальнеологічною областю України є Карпатський регіон, зокрема Передкарпаття. Тут відомо понад 200 джерел і  
             свердловин мінеральних вод. Першість в регіоні належить трускавецькій Нафтусі. У Закарпатті зосереджено 600 джерел і свердловин мінеральних вод. Зокрема,  
             дуже цінними у лікуванні є вуглекислі води. Також тут зосереджені джерела сірководневих вод, а на базі цінних питних лікувальних і лікувально-столових залізистих  
             вод діє Шаянський санаторний комплекс. Закарпаття багате на поклади заляганням рідкісних миш'якововмісних підземних вод, а також борвмісних, які використовуються  
             як для ванн, так і для внутрішнього вживання.
	<p>  
             Важливим бальнеологічним регіоном є Поділля. Тут розташовано 10 родовищ і 16 ділянок мінеральних вод. Сьогодні у цьому регіоні функціонують такі курорти, як 
             Заліщики (Тернопільська обл.), Хмільник (Вінницька обл.) та ін.
	<p> 
             Чималі запаси мінеральних вод, зокрема хлоридних, виявлено у Дніпропетровській, Полтавській, Київській та інших областях.
	<p>	</div>



<h1>
	Ландшафтні ресурси
</h1>
<div class='body'>
	<p>	природне оточення рекреаційно-туристичної діяльності, формує рівень сприятливості для відпочинку й естетичності відчуттів, які його супроводжують. 
             Перевагу отримують ті країни та регіони, які володіють ландшафтною мозаїчністю і поєднанням на обмежених територіях пляжних прибережних і прируслових, гірських, 
            лісових, приозерних місцевостей у різних комбінаціях.
	<p> 
             Гірськорекреаційні ресурси нашої держави зосереджені в Карпатах і Кримських горах.
	<p>	</div>



<h1>
	Флоро-фауністичні та лісові ресурси
</h1>
<div class='body'>
	<p>	Флоро-фауністичні та лісові ресурси мають значний вплив на розвиток як масового, так і альтернативного, особливо екологічного та наукового туризму. 
            Особлива роль у розвитку та еволюції рекреаційно-туристичної діяльності належить лісовим ресурсам помірного, тропічного та субекваторіального поясів.
	<p> 
             Біота України нараховує понад 70 тис. видів, з них флора та мікобіота - понад 27 тис. - гриби і слизовики - 15 тис., водорості - 5 тис., лишайники - 1,2 тис., мохи - 
            800 і судинні рослини - 5,1 тис., включаючи найважливіші культурні види, а з урахуванням екзотів, які вирощуються в ботанічних садах, - понад 7,5 тис. видів. Всього 
            в Україні поширено понад 3,5 тис. природних рослинних угруповань.
	<p> 
             Тільки в межах Північного Приазов'я України налічується близько 1500 видів рослин, які утворюють геоботанічні райони - Новоазовський, Володарський, Приазовський, 
            Якимівський та Генічеський. Відміни між ними залежать від кліматичних умов, особливостей ґрунтів та рельєфу. Найбільш цікавими є Володарський, Приазовський та 
            Якимівський.
	<p>	Значною частиною Причорноморської степової геоботанічної провінції в межах Північного Приазов'я є каховсько-молочансько-бердянський геоботанічний 
            округ, який є також частиною Приазовської низовини та Причорноморської височини.</div>



<h1>
	Кліматичні ресурси
</h1>
<div class='body'>
	<p>	це невичерпні природні ресурси, зокрема сонячна радіація, сума додатних температур, необхідних для вегетації рослин, вологість повітря та енергія вітру.
	<p> 
             На рівнинній території України річна кількість опадів змінюється в напрямку з заходу на схід (від 700 мм на заході Полісся і лісостепу до 300-350 мм у південних 
            районах). Найбільше опадів випадає на гірських хребтах Карпат (в окремих місцях — понад 1500мм), а у Кримських горах — понад 1000 мм за рік.
	<p>	</div>



<h1>
	Погодні ресурси
</h1>
<div class='body'>
	<p>	В Україні чітко виражена зміна сезонів протягом року. Взимку над Україною розвивається циклонічна діяльність, повітряні маси часто змінюються, 
            тому погода не стійка. В середньому за зиму буває до десяти відлиг. Зима триває від 120-130 днів на північному сході і до 75-85 днів на південному заході. 
            Весняний період закінчується переходом середньодобової температури повітря через 15°С. Літо на більшій частині території тепле, а на півдні України жарке. У 
            степовій зоні він триває 120-130 днів. Влітку випадає близько 40% річної суми опадів. Закінчується літній період після переходу температури повітря через 15°С в 
            бік зниження, що відбувається в першій декаді вересня. З настанням осені зростає циклонічна діяльність, відбувається зниження температури повітря, збільшується 
            кількість днів з опадами і туманами. У вересні і жовтні можливі заморозки. Проте буває короткочасне повернення тепла з сонячною лагідною погодою.
	<p>	</div>



<h1>
	Водні ресурси
</h1>
<div class='body'>
	<p>	в широкому розумінні - це всі води гідросфери, тобто води рік, озер, каналів, водосховищ, морів й океанів, підземні води, ґрунтова волога, вода 
            (льоди) гірських і полярних льодовиків, водяна пара атмосфери.
	<p> 
             Всього на території України понад 70 тис. річок, але тільки 117 з них мають довжину понад 100 км.
	<p> 
             Головні ріки України: Дніпро (загальна довжина 2201 км, у межах України 981 км; середній річний стік 53,5 км3), Дністер (загальна довжина 1362 км, у межах України 
            705 км; стік 8,7 км3), Південний Буг (довжина 806 км; стік 3,4 км3), Сіверський Донець (загальна довжина 1053 км, у межах України 672 км; стік 5 км3). Дунай протікає 
            по території України на ділянці 174 км; середній річний стік 123 км3 — переважно транзитний.
	<p> 
             Озер у країні понад 20 тисяч, 43 з них мають площу, яка перевищує 10 км2. Великі озера розташовані в плавнях Дунаю і на узбережжі Чор-ного моря (Ялпуг, Сасик та ін.). 
            Найбільше озеро Полісся — Світязь. Синевир — найбільше озеро Карпат. Загальна площа боліт становить 12 тис. км2. Розташовані вони переважно в Поліссі. Розрахункові 
            запаси прісних підземних вод дорівнюють 
	<p>	27,4 км3, з яких 8,9 км3 не пов'язані з поверхневим стоком.</div>



<h1>
	Бальнеологічні ресурси
</h1>
<div class='body'>
	<p>	природні лікувальні речовини, що використовуються для немедикаментозного лікування на курортах і в позакурортних умовах. Ці ресурси беруть участь в 
             основному процесі суспільного виробництва — неперервному відтворенні фізичних сил і розумових здібностей людини, психічного тонусу, відновленні та підвищенні 
             кваліфікації працівників, зростанні їхнього загальноосвітнього та фахового рівнів.
	<p> 
             До бальнеологічних ресурсів належать лікувальні мінеральні води та пелоїди (грязі). Основними природними лікувальними ресурсами є ті, що безпосередньо використовуються 
             у бальнеолікуванні, визначають його санаторно-курортну спеціалізацію і профілізацію: питні та купальні води, лікувальні грязі та озокерит. До них належать також 
             лікувальний клімат, різноманітні природні водойми та мальовничі ландшафти, які сприяють оздоровленню та гартуванню тих, хто одужує після хвороби.
	<p> 
             В Україні наявні мінеральні води всіх основних бальнеологічних груп. Деякі з них, зокрема Миргородська, Куяльник, Поляна квасова, Берегівські мінеральні води, 
             Нафтуся і радонові води, мають світове значення та є унікальними на нашій планеті. Попереду інтенсивне освоєння сульфідних, 
	<p>	залізистих, миш'яковистих та інших мінеральних лікувальних вод. Україна належить до найбагатших на бальнеологічні ресурси країн світу.</div>



<h1>
	Лісові ресурси
</h1>
<div class='body'>
	<p>	займають близько 17,2% території держави та сформовані понад 30 видами деревних порід, серед яких домінують сосна, дуб, бук, ялина, береза, вільха, ясен, граб, ялиця.
	<p> 
             Загальна площа українських лісів становить 9400,2 тис. га, з них хвойні ліси (переважаюча порода — сосна та ялина) займають 42,2%, твердолистяні (дуб, бук) — 43,2% та м’яколистяні 
            (береза, осика) — 13,6%. Лісами покрито 15,6% території країни. За показником лісистості території, Україна належить до малолісних країн Європи.
	<p>	</div>



<h1>
	Карпатський національний природний парк
</h1>
<div class='body'>
	<p>	національний парк в Україні, на території Івано-Франківської області. Створений для збереження унікальних лісових екосистем Центральної Європи.
	<p> 
            Карпатський національний природний парк перший і один з найбільших в Україні національних природних парків. Він був створений постановою Ради 
            Міністрів УРСР від 3 червня 1980 р. № 376. Ще в 1921 році у межах його нинішньої території на площі 447 га було створено резерват для охорони Чорногірських пралісів. 
            Частина нинішньої території парку з 1968 по 1980 рік була у складі Карпатського державного заповідника, від якого при створенні парку були відокремлені Говерлянське 
            і Високогірне лісництва.
	<p>	</div>



<h1>
	Національний природний парк Шацький
</h1>
<div class='body'>
	<p>	національний парк в Україні, розташований у Шацькому районі Волинської області.
	<p> 
            Створений 28 грудня 1983 року для охорони рідкісних природних комплексів у районі Шацьких озер.
	<p>	</div>



<h1>
	Національний природний парк “Нижньодністровський”
</h1>
<div class='body'>
	<p>	природоохоронна територія, національний природний парк в Україні. Розташований у 
            межах Білгород-Дністровського, Біляївського та Овідіопольського районів Одеської області.
	<p>	</div>



<h1>
	Національний природний парк “Святі гори”
</h1>
<div class='body'>
	<p>	національний природний парк, розташований в північній частині Донецької області України, в Слов'янському (11 957 га), Краснолиманському (27 665 
            га) і Артемівському районах. Створений 13 лютого 1997 року Указом Президента України № 135/97.
	<p>	</div>



<h1>
	Національний природний парк “Синевир”
</h1>
<div class='body'>
	<p>	національний парк, розташований в Міжгірському районі Закарпатської області України. Парк створено 5 січня 1989 року (в 1974 році було організовано 
            ландшафтний заказник загальнодержавного значення «Синевирське озеро»). Своєю назвою парк зобов'язаний розташованому на його території озера Синевир - найбільшому 
            озеру Закарпаття площею 7 га. Загальна площа парку - 40400 га.
	<p>	</div>



<h1>
	Національний природній парк “Голосіївський”
</h1>
<div class='body'>
	<p>	це єдиний у Європі національний природний парк, розташований на території мегаполісу. Парк загальною площею 4525,52 га повністю знаходиться в межах м. Києва.
	<p>	</div>



<h1>
	Національний природний парк “Гуцульщина”
</h1>
<div class='body'>
	<p>	національний природний парк в Україні, в межах Косівського району Івано-Франківській області.
	<p> 
             Національний парк був створений з метою збереження, відтворення та раціонального використання генетичних ресурсів рослинного і тваринного світу, унікальних 
            природних комплексів та етнокультурного середовища Покутсько-Буковинських Карпат.
	<p>	</div>



<h1>
	Національний природний парк “Сколівські Бескиди”
</h1>
<div class='body'>
	<p>	розташований в південно-західній частині Львівської області (в центральній частині оригінального в геоботанічному і ландшафтному відношенні 
            гірського масиву Східних Бескид, що тягнуться від Словацько-польського кордону до ріки Мізуньки, яка є межею між Бескидами і Горганами) на території трьох 
            адміністративних районів: Сколівського, Дрогобицького та Турківського.
	<p>	</div>



<h1>
	Гетьманський національний природний парк
</h1>
<div class='body'>
	<p>	національний природний парк в Україні, на території Великописарівського, Охтирського та Тростянецького районів Сумської області.
	<p> 
             Парк створено з метою збереження, відтворення і раціонального використання типових та унікальних природних комплексів Лівобережного лісостепу, зокрема заплави 
            річки Ворскли, що мають важливе природоохоронне, наукове, історико-культурне, естетичне, рекреаційне та оздоровче значення.
	<p>	</div>



<h1>
	Дермансько-Острозький національний природний парк
</h1>
<div class='body'>
	<p>	природоохоронна територія, національний природний парк в Україні. Розташований на території Здолбунівського (частково) та Острозького районів 
            Рівненської області.
	<p> 
            Парк розташований у найвужчій, східній, частині Малого Полісся — Острозькій долині. Охоплює територію заплави річки Збитинка, що протікає між мальовничими пагорбами 
            Мізоцького кряжу та Кременецькими горами.
	<p>	</div>



<h1>
	Києво-Печерська лавра
</h1>
<div class='body'>
	<p>	православний монастир, заснований у 1051 році монахами Антонієм і Феодосієм у печерах біля літньої княжої 
            резиденції Брестово поблизу Києва.
	<p> 
            В одинадцятому столітті монастир став центром розповсюдження і затвердження християнства в Київській Русі. У дванадцятому 
            столітті монастир отримав статус «лаври» – головного великого монастиря.
	<p> 
            У вісімнадцятому столітті Києво-Печерська лавра стала найбільшим церковним феодалом на Україні. Їй належали три міста, сім 
            містечок, біля двохсот сіл і хуторів, більше семидесяти тисяч кріпаків, дві паперові фабрики, одинадцять цеглових і шість 
            скляних заводів, більше ста шестидесяти винокурень і вітряків, біля двохсот шинків, два кінних заводи.
	<p> 
            Києво-Печерській лаврі було підпорядковано багато дрібних монастирів і так названі пустелі (зокрема, Китаєвська, Микільська 
            та інші під Києвом) з їхніми угіддями і кріпаками на Україні, в Росії і в Білорусії.
	<p> 
            Свого часу Києво-Печервська лавра зіграла важливу роль у розвитку давньоруської культури, була центром літописання. Тут 
            перекладалися на церковно-слов'янську мову і переписувалися твори іноземних авторів. У лаврі працювали відомі літописці 
            Нестор (автор «Повести временных лет»), Нікон, Сільвестр. У тринадцятому столітті було складено «Києво-Печерський патерик» - 
            важливе джерело історії Києва.
	<p> 
            Києво-Печерська лавра здійснювала широке будівництво ще з одинадцятого століття (Успенський собор, Троїцька надвратна церква). 
            Наприкінці дванадцятого століття навколо Києво-Печерської лаври було возведено оборонні стіни (у 1240 році вони були зруйновані 
            ордами Батия). У 1698-1701 
	<p>	році паралельно до них було споруджено нові фортечні стіни з бійницями і баштами. У 1731-1744 році 
             споруджено велику лаврську дзвіницю, висота якої - 96,52 метра.
	<p> 
             На території лаври поховано багато видатних осіб, зокрема, біля трапезної - генеральний суддя українського війська В.Кочубей 
             і полтавський полковник І.Іскра. У Спаса на Брестові церкви - засновник Москви Юрій Долгорукий.
             У музеях і фондах, розташованих на території Києво-Печерської лаври, можна побачити рукописи стародрукованих книг, колекцію 
             тканин і вишивок. Особливий інтерес викликає колекція з дорогоцінних металів, стародавні гравюри і твори сучасних художників.
             Споруди Києво-Печерської Лаври: Велика Дзвіниця, Ближні печери, Дальні печери, Свято-Успенський собор (1073, 2000), 
             Всіхсвятська церква, Трапезна Палата, Троїцька надбрамна церква</div>



<h1>
	Державний історико-архітектурний заповідник Хотинська фортеця
</h1>
<div class='body'>
	<p>	Розташований на важливих транспортних магістралях, Хотин завжди привертав увагу завойовників. З метою 
            захисту від них була споруджена фортеця, яка пережила століття і бачила під свої­ми мурами полчища воїнів Османської імперії, 
            повстанців Мухи, народних месників Дитинки, вояків Дмитра Вишневецького, Петра Дорошенка. Під час визвольної війни українського 
            народу проти польської шляхти у Хотин двічі вступали війська Богдана Хмельницького.
	<p> 
            Хотин, що приваблює туристів з усього світу, одне з найдавніших міст України, нещодавно відсвяткував своє 1000-річчя. На 
            початку XI ст. київський князь Володимир Великий створив систему прикордонних фортець на заході й півдні своєї держави, у тому 
            числі Хотин.
	<p> 
            Сьогодні Хотин - одне з найбільших міст Чернівецької області, важливий промисловий, туристичний і культурний центр Буковини. У 
            вересні 1991 р. під час свята з нагоди 370-річчя Хотинської битви було відкрито монумент на честь гетьмана України Петра 
            Сагайдачного (скульптор І. Гамаль).
	<p> 
            У Хотинській фортеці проводилися зйомки багатьох популярних художніх 
	<p>	фільмів: Гадюка, Захар Беркут, Балада про доблесного 
             лицаря Айвенго, Три мушкетери, Чорна стріла, Стара фортеця, Стріли Робін Гуда. Серед недавніх - екранізація 
             кіностудією їм. Олександра Довженка твору відомого українського письменника Юрія Мушкетика Яса.</div>



<h1>
	Софія Київська
</h1>
<div class='body'>
	<p>	всесвітньо відома пам'ятка архітектури і монументального живопису ХI століття. Заснування собору згадується 
             в літописах як під 1017 р., так і під 1037 р.Будівничим Cв. Софії літописці називають великого київського князя Ярослава 
             Мудрого. Джерела свідчать, що в цій справі Ярослав завершив починання свого батька Володимира - хрестителя Русі. Присвячений 
             Премудрості Божій, собор, за задумом творців, мав утверджувати на Русі християнство.
	<p> 
             Упродовж сторіч Софія Київська була головною святинею Русі-України - митрополією руською. Собор, як головний храм держави, 
             відігравав роль духовного, політичного та культурного центру. Під склепінням Cв. Софії відбувалися урочисті посадження на 
             великокняжий престол, церковні собори, прийоми послів, затвердження політичних угод.
	<p> 
             При соборі велося літописання і були створені перші відомі на Русі бібліотека та школа. На честь заснування Ярославом 1037 р. 
             софійської бібліотеки перед входом до собору в 1969 р. було встановлено пам'ятний знак (скульптор І.Кавалерідзе).
	<p>	Софія — свідок й безпосередній учасник життя Києва протягом багатьох сторіч. Вона пережила навалу орд степових кочовиків у 
             грізному 1240 році, періоди занепаду й відродження міста у XIV—XVI століттях, бачила національно-визвольну боротьбу 
             українського народу під керівництвом Богдана Хмельницького проти польсько-литовських феодалів у XVII столітті.</div>



<h1>
	Херсонес Таврійський
</h1>
<div class='body'>
	<p>	Місто Херсонес було засноване древньогрецькими колоністами більше ніж 2500 тисячі років тому на південному 
            заході Криму. Нині його руїни - одна з найвизначніших пам'яток Севастополя.
	<p> 
            Це місто-держава мало довге життя - майже дві тисячі років - і його історія є частиною історії Древньої Греції, Древнього 
            Риму та Візантії.
	<p> 
            Околиці міста були заселені різноманітними племенами, мирними та ворожими, а в середні віки, коли Херсонес набуває статусу 
            християнської столиці півострова, навколо нього з'являється безліч монастирів та скитів, а також знамениті печерні міста. В 
            кінці XIV століття навала кочівників поклала кінець існуванню міста, а його руїни поховала земля.
	<p> 
            Лише в 1827 році на цьому місці розпочалися розкопки, які майже відразу принесли Херсонесу ще одну назву - Руська Троя. 
            Масштаб досліджень та велика кількість археологічних пам'яток, що потребують збереження, спричинили до створення Національного 
            заповідника Херсонес Таврійський.
	<p> 
            Територія заповідника охоплює розташування стародавнього грецького міста - Херсонеса Таврійського, що виникло тут, на 
            узбережжі Чорного моря, у 5 ст. до н. е.
	<p> 
            Місто було огороджене могутніми оборонними стінами і розплановане за схемою, поширеною тоді в грецькому та римському світі. 
            До наших днів збереглося багато давніх споруд. Серед них елліністичний театр, римська цитадель, середньовічні християнські 
            храми, житлові квартали, вулиці, гончарні майстерні, рибозасолованне обладнання, колодязі та ін.
	<p> 
            Територія досліджується археологами уже 170 років. За цей час відкрито більше третини міста. 
	<p>	Серед археологічних знахідок є 
             унікальні предмети - присяга громадян Херсонеса, декрети, фрески, мозаїки, шиферні ікони християнських храмів, написи-присвяти, 
             численні побутові предмети. Загалом музейні зібрання заповідника нараховують понад 200 тис. експонатів.
	<p> 
             Херсонес виник наприкінці VI ст. до н.е. і проіснував до початку XV ст. н.е. Протягом двох тисячоліть, за часів розквіту 
             стародавньої Греції, Риму та Візантії Херсонес був значним центром культури на Кримському півострові. Херсонес відіграв також 
             особливу роль у взаємовідносинах між Візантією та Київською Руссю і був провідним центром розповсюдження християнства на 
             східнослов'янських землях.
	<p> 
             Херсонес та його сільськогосподарська округа (хора) насичені пам'ятками, які в унікальному автентичному стані збереглися до 
             сьогодення тільки на цій території та є надбанням світової цивілізації. Комплекс пам'яток, що входить до складу заповідника 
             Херсонес Таврійський, має не тільки національне значення, а і міжнародне. До його складу входять:\n
             5 археологічних комплексів - городище Херсонеса Таврійського, некрополь Херсонеса в Карантинній, фортеця Чембало, фортеця 
             Каламіта, античні земельні наділи та садиби; 
             11 пам'яток архітектури на території городища та фортеці Каламіта.</div>



<h1>
	Національний історико-архітектурний заповідник «Кам’янець»
</h1>
<div class='body'>
	<p>	місто, що зберегло дух середніх віків. Тут Ви побачите одну з найбільших оборонних споруд України, фотецю, 
            що займає провідне місце у світовій історії оборонного зодчества. Літопис приписує будівництво кам'яної фортеці литовським 
            князям Корятовичам, які правили князівством у 60-90-х рр. XIV cт. Високий скелястий берег р. Смотрич, живописний краєвид, 
            величезні вежі з таємничими латинськими надписами...
	<p> 
            Старе місто функціонує як унікальний містобудівний комплекс площею 121 га, відокремлений від решти районів міста глибоким 
            каньйоном р. Смотрич.
	<p> 
            Архітектура Старого міста - заповідника зберегла зразки культур різних народів (українців, поляків, вірмен, турків і росіян) 
            та релігій (православної, католицької, іудейської, мусульманської), а саме: Турецький мінарет 17 ст.; -турецький та вірменський 
            бастіони 17 ст.; Миколаївська (вірменська) церква 14 ст.; дерев'яна Хрестовоздвиженська церква 18 ст.; монастирські комплекси 
            15-18 ст. орденів Домініканів, Францисканів.
	<p> 
            Однією з унікальних інженерних споруд заповідника є Замковий міст, що з'єднує місто та Замковий комплекс. Він викликав немало 
            суперечок щодо свого походження. За однією з гіпотез, міст було зведено римлянами у II столітті під час походу Траянового 
            війська на Дакію.
	<p> 
             Завдяки унікальному поєднанню містобудівної, архітектурної, історичної спадщини Старого міста з ландшафтом каньйону р. 
             Смотрич „Культурний ландшафт каньйону” визначено кандидатом до Списку світової культурної спадщини ЮНЕСКО.
	<p> 
             До нашого часу збереглася система потерн (ходів) і казематів. Денна вежа призначена для спостерігачів. Уявіть, можна піднятися 
             на неї кожному і насолодитися оспіваним українським краєвидом!
	<p> 
	<p>	Невід'ємною частиною Старого міста, його перлиною, є Стара фортеця, яка стала візитною карткою Кам'янця-Подільського, його 
             символом.
	<p> 
             Історія заснування фортеці починається в XII столітті. Немов продовження кам'яних скель височать башти фортеці.
	<p> 
             Одинадцять башт входять до складу фортеці, кожна має свою назву і свою історію. Так, наприклад, найвища башта названа 
             Папською тому, що була збудована на кошти, виділені папою римським Юлієм II. Ще її називають Кармелюковою, бо в ній тричі був 
             ув'язнений Устим Кармелюк. У Чорній (кутовій) башті знаходиться криниця глибиною 40 м і в діаметрі 5 м видовбана в скалі. Досі 
             в її стінах збереглося величезне дерев'яне колесо з пристроєм для підняття води на поверхню.</div>



<h1>
	Біосферний заповідник Асканія-Нова
</h1>
<div class='body'>
	<p>	Біосферний заповідник Асканія-Нова створено на базі першого в Україні природного заповідника, закладеного Ф.Є. Фальц-Фейном у 1898 р. на 520 
            десятинах цілинного сухостепового ландшафту. На території заповідника знаходяться цілинний степ з перелогами, дендрологічний парк, зоопарк, суходільні й поливні 
            угіддя Інституту тваринництва степових регіонів, населені пункти, фермерські господарства. Поверхня рівнинна, з абсолютними висотами 34-19 м, подами і степовими 
            блюдцями. Клімат помірно континентальний, літо посушливе, жарке, зима м'яка. Середня річна температура повітря — 9,5 °С, середньорічна сума опадів становить 400 мм. 
            В умовах непромивного водного режиму під типчаково-ковиловими степами сформувалися темно-каштанові солонцюваті ґрунти. Багатим і різноманітним є рослинний світ: 478 
            видів вищих рослин, 53 види мохоподібних, 55 видів лишайників, грибів. У рослинному покриві панують злакові угруповання. Тваринний світ представлений 28 видами 
            ссавців, 14 видами гризунів, понад 20 видами птахів. У ландшафтній структурі виділяють низовинні слабодреновані лесові рівнини на верхньопліоценових піщаних та 
            піщано-глинистих відкладах і понтичних вапняках, з подово-роздоливими та западинно-плакоровими місцевостями, з темно-каштановими залишкове солонцюватими ґрунтами в 
            комплексі з солонцями степовими і лучними, під різнотравними типчаково-ковиловими
	<p>	степами, луками подів і западин. У західній частині заповідника знаходиться 
             Великий Чамлинський під, яки має відносно стрімкі північні схили, добре виражене днище з плакорними, лучними осолоділими, солонцювато-осолоділими, глеєосолоділими 
             природними комплексами.</div>



<h1>
	Асканійський цілинний заповідний степ
</h1>
<div class='body'>
	<p>	єдиний в Європі великий масив малозмінених сухостепових ландшафтів. Тут представлені справжні, чагарникові й лучні степи, водно-болотні комплекси.
	<p> 
             На плакорах переважають щільнокущові ковили, костриця валійська, кипець гребінчастий, різнотрав'я; у зниженнях вологолюбні кореневищні злаки: бекманія вузьколиста, 
            стоколос безостий, тонконіг вузьколистий. Поширені рідкісні, ендемічні та зникаючі види рослин. Серед них занесені до Червоної книги України ковили українська, 
            Лессінга, тюльпани скіфський і Шренка, зіркоплідник частухоподібний та ін.
	<p> 
            У заповіднику охороняються журавель степовий, дрохва, хохітва, гадюка степова, чотирисмугий полоз та ін. У великому Чапельському поді випасаються тварини, завезені 
            з усіх континентів: зубри, бізони, плямисті олені, європейські муфлони, кінь Пржевальського, кулан туркменський, зебра Греві, гвинторога коза, гривастий баран, 
            сайгак, сибірський козерог та ін. У зоопарку утворено орнітопарк, в якому утримуються промислово-мисливські та декоративні птахи, серед них червоновола казарка, 
            вінценосний журавель, гірська гуска, рожевий фламінго. В зоопарку проводять наукові дослідження з гібридизації та одомашнення диких тварин. У ландшафтному 
            дендрологічному 
	<p>	парку створено лісові, лісостепові, приозерні, садово-паркові комплекси, водойми, пагорби, проводять роботи з акліматизації та інтродукції нових 
             декоративних рослин, степового лісорозведення. Заповідник Асканія-Нова входить до міжнародної системи біосферних заповідників, бере участь у глобальній системі 
             біосферного моніторингу. Його збереження має велике наукове і практичне значення.</div>



<h1>
	Чорноморський біосферний заповідник
</h1>
<div class='body'>
	<p>	Чорноморський біосферний заповідник розташований у Голопристанському районі Херсонської області та Очаківському районі Миколаївської області, на 
            північно-західному узбережжі Чорного моря між Дніпровським лиманом і Тендрівською Косою. Заповідник утворено в 1927 р., з 1975 р. — віднесено до водно-болотних 
            угідь міжнародного значення. У 1984 р. його було включено до міжнародної мережі біосферних заповідників. До його складу входять ділянки на Кінбурнському півострові 
            (Івано-Рибальчанська, Солоноозерна, Волижин ліс), ділянки приморського степу (Ягорлицький кут і Потіївська), східна частина Тендрівської затоки з островами 
            Тендрівська Коса, Бабин, Смалений Острів та ін., а також острови Довгий, Круглий і Кінські в Ягорлицькій затоці. Загальна площа заповідника — понад 100 809 га, з 
            них акваторії Тендрівської та Ягорлицької заток займають 77 900 га. В Україні — це найбільший за площею заповідник, в якому поєднуються шквальні й теральні природні 
            комплекси. Основне його завдання — охорона південностепових ландшафтів, птахів, які тут зимують. Серед теральних природних комплексів виділяються лісостепові, 
            піщано-степові, опустелені степові, приморські солончакові. Своєрідними є лісостепові ділянки: Івано-Рибальчанська, Солоноозерна, Воложин ліс. Тут спостерігається 
            поєднання піщаних степів, лук, гаїв. У гаях ростуть дуб звичайний, ендемік береза дніпровська, осика, вільха, груша звичайна, 
	<p>	чагарникова рослинність — терен, 
             крушина. У піщаних степах панують угруповання з ковили дніпровської, житняку пухнастоквіткового, костриці Беккера, гвоздики плоскозубої та ін.</div>



<h1>
	Карпатський біосферний заповідник
</h1>
<div class='body'>
	<p>	Карпатський біосферний заповідник розташований на південно-західному макросхилі Українських Карпат. З 1992 р. входить до міжнародної мережі 
            біосферних резерватів ЮНЕСКО. Заповідні масиви знаходяться в межах складчастих гір (Чорногірський, Свидовецький, Мармороський, Кузійський, 
            Угольсько-Широколужанський) та в Закарпатській западині (масиви Долина нарцисів, ботанічні заказники Чорна Гора і Юлівська Гора), У Карпатському 
            біосферному заповіднику представлений весь спектр висотної поясності Українських Карпат. Тут наявні низинні заплавні луки, передгірні дібровні, низько- і 
            середньогірні ландшафти з буковими, мішаними і смерековими лісами, сосново-вільховим криволіссям, субальпійськими луками, скелями, осипищами. У заповіднику 
            охороняються унікальні ландшафти з пралісами, понад тисяча видів судинних рослин, 65— ссавців, 179 — птахів, 9 — плазунів, 13 видів земноводних, 23 — риб, понад 
            15 000 видів безхребетних тварин. Серед рослин 40 ендемічних та 74 рідкісних видів, а серед тварин 73 види занесено до Червоної книги України. Більше 90 % площі 
            заповідника займають ліси. На Закарпатській низовині в ботанічних заказниках, гірських масивах ростуть дубові, дубово-грабові, дубово-букові, буково-дубові ліси. 
            У Кузійському масиві наявне найвище в Україні місцезростання дуба скельного 1090 м над рівнем моря). У всіх гірських заповідних масивах ростуть чисті букові ліси, 
             а найбільш поширені смереково-ялицево-букові, ялицево-смереково-букові та буково-ялицево-смерекові лісові угруповання. У Чорногірському, Свидовецькому, 
             Мармароському масивах верхня межа лісів утворена смерекою. В субальпійському поясі спостерігаються угруповання із сосни гірської, вільхи зеленої, ялівцю 
             сибірського, 
	<p>	рододендрона східнокарпатського та ін. У трав'яному покриві трапляються щучник дернистий, куничник волохатий, мітлиця тонка, костриця червона,             
             тонконоги лучний та альпійський, рідкісні рослини: анемона нарцисоцвітна, роман Карпатський, жовтяниця альпійська, тирличі, перестріч скельний, медунка угорська, 
             білотка альпійська та ін.
	<p> 
             У Чорногірському, Свидовецькому, Мармароському масивах водяться олень благородний, козуля, рись, ведмідь бурий, вовк, із птахів — трипалий дятел, дрізд біловолий, 
            шишкар ялиновий, глухар, боривітер звичайний, канюк та ін. До Червоної книги України занесено кутору малу, видру, горностая, лелеку чорного, полоза лісового, 
            тритона карпатського. В гірських річках водяться форель струмкова, мінога угорська, гольян.</div>



<h1>
	Дунайський біосферний заповідник
</h1>
<div class='body'>
	<p>	Дунайський біосферний заповідник створено на базі заповідника Дунайські плавні в 1998 р. на площі 46 403 га. Знаходиться він в Килійській дельті 
            Дунаю. Дельта порізана рукавами, каналами, в ній багато озер. У межах заповідника розташовані острови Анкундинів, Єрмаків, Кубанський, Полуденний. За Рамсарською 
            конвенцією заповідник має статус водно-болотних угідь міжнародного значення. Тут гніздяться і мешкають водоплавні й навколоводні численні пташині зграї. Багатий та 
            різноманітний рослинний і тваринний світ заповідника. Серед 950 видів судинних рослин багато псамофітів та північнопричорноморських ендемів: жовтозілля дніпровське, 
            козельці українські й дніпровські, громовик дніпровський, ковила дніпровська, верблюдка українська та ін. Ростуть три види водяного горіха, на солончакових ґрунтах 
            поширений кермек дунайський, сотник високий, курай содовий, солонець європейський.
	<p> 
             Великі площі займають очерет, осока гостролиста, чистець болотний, плакун верболистий, м'ята водяна та ін. До Червоної книги занесено 14 видів рослин і серед них 
            меч-трава болотна, зозулинець болотний, альдрованда пухирчаста, сальвінія плаваюча, водяний горіх, ковила дніпровська та ін. 5 тис. видів тварин заповідника 4,5 
             тис. становлять комахи, які поділяються на ентомокомплекси: лісовий, чагарниковий, заплавний, солончаковий, очеретяний. У дельті 
	<p>	налічується понад 250 видів птахів, 
             із них до Червоної книги України та Європейського червоного списку занесено 43 види. Для багатьох рідкісних птахів, таких як баклана малого, пелікана кучерявого, 
             орлана-білохвоста та ін., заповідна дельта є основним місцем існування їх популяцій.
	<p> 
             Звичайно, на водно-болотних угіддях наявні численні популяції земноводних, перш за все жаб. Озерної, їстівної і ставкової жаб скупчується до 10-20 тис. на гектар. 
             Водяться також кумка червоночерева, квакша звичайна, тритони звичайний і дунайський, вуж звичайний, черепаха болотяна та ін. У гирлах, протоках, озерах водяться 
             осетер атлантичний, лосось чорноморський та ін. У прибережних водах з'являються чорноморські дельфіни і єдиний представник ластоногих Чорного моря тюлень-монах. 
             Зустрічаються видра річкова, горностай, норка європейська, кіт дикий лісовий.</div>



<h1>
	Замок Любарта
</h1>
<div class='body'>
	<p>	Верхній замок Луцька, один із двох (частково) збережених замків, пам’ятка архітектури та історії національного значення. Один з найбільших, 
            найдавніших і найкраще збережених в Україні замків.
	<p> 
            Замок Любарта, або Луцький замок — верхній замок Луцька, один із двох (частково) збережених замків, пам'ятка архітектури та історії національного значення. Один з 
            найбільших, найдавніших  і найкраще збережених в Україні замків. Головний об'єкт історико-культурного заповідника «Старий Луцьк», культурний осередок та найстаріша 
            споруда Луцька.
	<p> 
            Будівництво Верхнього замку розпочалося у 1350-ті роки і в основному було завершене у 1430-ті, хоча деякі елементи (наприклад, висота веж) ще змінювалися протягом 
            наступних століть. Окольний замок почали реконструювати у цеглі з 1502 року. Від часу побудови замки були резиденцією Великого князя, а після утворення Королівства 
            — резиденцією королівської влади, де були зосереджені політичні, адміністративні, судові, оборонні, релігійні функції центру Воєводства Волинського.
	<p> 
            У 1429 році у князівському палаці, що знаходився у Верхньому замку, проходив з'їзд європейських монархів, який мав на меті розв'язати політичні та економічні 
            питання центрально-східної Європи та вирішити питання про коронацію Вітовта. Замки неодноразово підлягали нападу. Так, у 1431 році під час «Луцької війни» замки 
             витримали облогу військ політичних противників великого литовського князя Свидригайла. У 1595 році замок був узятий військовими загонами Северина Наливайка.
	<p> 
             На території замків знаходилися обидві кафедри — латинська Святої Трійці та православна Івана Богослова. У них проходили, окрім того, зібрання та сеймики волинської 
             шляхти обох віросповідань. У замку діяли різного роду суди, які займалися питаннями міського 
	<p>	та воєводського масштабу. В окремий період в замку діяв особливий суд — 
             Луцький Трибунал, якому підлягали кілька воєводств.
	<p> 
             У XVIII столітті замок почав утрачати свої функції, що було пов'язано із суспільними трансформаціями суспільства Речі Посполитої. Окольний замок припинив своє 
             існування, а в XIX столітті, коли Волинь була анексована Російською імперією, і Верхній замок припинив існування. Залишилися руїни, які тільки на зламі XIX-ХХ 
             століть почали оберігати законом.
	<p> 
             Упродовж ХХ століття Верхній замок і залишки Окольника були реставровані і на сьогодні відкриті для відвідування. А на початку XXI століття був відновлений і 
             невеликий шматочок Окольного замку.</div>



<h1>
	Музей бурштину
</h1>
<div class='body'>
	<p>	Музей бурштину, як виставкова зала Рівненського обласного краєзнавчого музею, почав функціонувати в Рівному 24 серпня 2010 р. за підтримки 
            Рівненської обласної державної адміністрації.
	<p> 
            Це наймолодша експозиція краєзнавчого музею. Знаходиться вона на вулиці Симона Петлюри, 17, у Рівненському будинку вчених, що є пам’яткою архітектури початку ХХ ст. 
            місцевого значення.
	<p> 
            Музей Бурштину містить дві експозиційні зали, де представлені фрагменти бурштину різноманітних форм та відтінків, знайдені на Рівненщині в різні часи. Художні 
            вироби вражають своїм розмаїттям.
	<p> 
            Родзинка музею – унікальний фрагмент бурштину вагою 988 грамів, знайдений у Сарненському районі на Клесівському родовищі. Окраса експозиції – янголи, виконані з 
            кераміки, скла, соломи, оздоблені бурштином тканини.
	<p> 
            Серед коштовних експонатів – бурштинова корона, яка була символом конкурсу краси «Бурштинова корона України». Його організатори вирішили передати корону до музею. 
            Найновіший експонат – колекційні шахи, виготовлені з бурштину у формі різноманітних комах.
	<p> 
	<p>	Музей проводить екскурсію «Сонячне диво – бурштин», театралізовану екскурсію для дітей «Подорож бурштиновою стежинкою», нічну екскурсія «Бурштинова казка» (метод 
             проведення – анімація, організовується за попереднім замовленням).
	<p> 
             Музей бурштину перетворив Рівненський будинок вчених у справжній бурштиновий палац. Тут також діє бурштинова крамниця.
	<p> 
             Музей працює щодня, крім понеділка та суботи, з 10.00 до 18.00. Каса – з 10.00 до 17.30.</div>



<h1>
	Кременець, Почаїв
</h1>
<div class='body'>
	<p>	Кременець -  місто обласного значення в Тернопільській області України, центр району. Економічний і культурний осередок північної (волинської) 
            частини області. Розташоване біля підніжжя Кременецьких гір. Відстань до обласного центру — 70 км. Є залізнична станція.
	<p> 
            Кременець – батьківщина великого польського поета Юліуша Словацького (1809 –1849). Тут минуло його дитинство. Кременець не міг не увійти у творчість поета.
	<p> 
            У 1829 р. Словацький заінчив Віденський університет. Навчаючись, на канікули завжди приїздив у Кременець. Після закінчення навчання він ще близько півроку проживав 
            тут, а потім виїхав до Варшави. Там у 1830 році його застало польське визвольне повстання, після придушення якого він емігрував за кордон. Був в Швейцарії, Італії, 
            подорожував Сходом. До Кременця поет більше ніколи не повернувся. Помер у Парижі. 
	<p> 
            У Кременці на вулиці Словацького, 26, зберігся будинок, де пройшли дитячі роки Юліуша. Тепер у ньому – бібліотека, яка носить ім‘я поета. В 1969 р. на подвір‘ї 
            встановили погруддя Словацького роботи народного художника УРСР В. З. Бородая. А на околиці міста, в районі Калинівки, видніються мальовничі скелі, куди юнак часто 
            любив приходити, - скелі Словацького. В соту річницю з дня народження славетного поляка в стіну костелу було вмуровано пам‘ятник-барельєф, таємно від царського 
            уряду привезений з Парижа. Автор його- видатний польський скульптор В. Шимановський. 
	<p> 
            1846 року за дорученням Археографічної комісії Кременець відвідав Т. Шевченко, у березні 1847 р. в місті з двома концертами виступав Ференц Ліст. 
	<p> 
            Кременець – місто невелике, воно витягнулося вздовж однієї центральної вулиці, тому прогавити 
	<p>	якусь з пам‘яток міста важко. І парафіяльний костел, і Миколаївська церква (XVI ст.) з ошатною барочною дзвіницею (XVIII ст.), і 
             Колегіум, і жіночий Богоявленський монастир з високою дзвіницею (1636 р.) – всі ці споруди розташовані одна за другою, майже поруч. А над містом – Замкова гора 
             (Бона) з руїнами надворотної вежі з арковим готичним проїздом та мурів. Гарно. Хоча трошки картину псує місцевий телепередатчик, що розташований на території 
             фортеці.
	<p> 
             Трохи осторонь знаходяться лише знамениті будинки-близнюки (XVII-XVIII ст.). Це, по суті, один будинок, який складається з двох симетричних частин, з‘єднаних 
             загальною центральною стіною, ліва частина повторює праву майже у всьому. Люди говорть, колись тут жили два брати-близнюки.
	<p> 
             Є у місті і краєзнавчий музей. По середах він не працює.</div>



<h1>
	Берестечко
</h1>
<div class='body'>
	<p>	Битва під Берестечком 1651 року вважається найбільшою за всю національно-визвольну війну. До ХІХ століття Берестецька битва залишалася 
            наймасовішою в історії Європи. Бойові дії відбувалася між селами Острів та Пляшева, що на Рівненщині. На місці цих визначних подій створено Національний 
            історико-меморіальний заповідник Поле Берестецької битви.
	<p> 
	<p>	</div>



<h1>
	Музей Лесі Українки
</h1>
<div class='body'>
	<p>	Музей Лесі Українки у Колодяжному, літературно-меморіальний музей у с. Колодяжному Ковельського району Волинської області, заснований 1949 в 
            садибі, в якій Леся Українка прожила дитячі й юнацькі роки.
	<p> 
            У травні 1882 р. сім'я Косачів перебралася з Луцька в с. Колодяжне і замешкала у будинку, який у родині звався великим. Тут народилися молодші сестри та брати 
            Лесі — Оксана, Микола, Ізидора. Діти підростали, тому в 1890 р. на садибі побудували Лесин «білий» будиночок, а в 1896 р. розпочали спорудження «сірого» будинку 
            (в родині його ще називали батьківським).
	<p> 
            Косачі дуже любили Колодяжне і не раз у листах до друзів висловлювали свої почуття:
	<p> 
            „Колодяжне — це, власне, вдома, а решта, то це все так собі — між іншим. Для цілої нашої родини ця квартира (м. Київ, вул. Саксаганського, 97) не була нашим 
            «вдома», вона була раніше в Колодяжному, поки ще цілою родиною ми там жили, а потім то все було тимчасове, випадкове і не своє“.
	<p> 
            З Колодяжного Леся Українка давала братові Михайлу настанови щодо створення бібліотечки найкращих творів світової літератури українською мовою, до якої увійшли 
            понад сімдесят імен письменників відповідно до порад і за джерелами, присланими М. Драгомановим, 1890 р. Леся склала курс Стародавня історія східних народів, 
            і перша збірка її поезій готувалося до друку тут, у Колодяжному.
	<p> 
            У лютому 1907 р. Леся востаннє побувала в селі.
	<p> 
            Під час Другої світової війни садиба була зруйнована, і музей створено фактично у новому 
	<p>	приміщенні.
	<p> 
             Політична причина створення Музею - намагання сталінської влади маркувати недавні польські території іменами українських культурних діячів, які, в свою чергу, були 
             громадянами Російської імперії.
	<p> 
             У 1991 р. експозицію оновлено і сьогодні вона складається з таких розділів:
	<p> 
             «Волинськими стежками Лесі Українки»;\n
             «Колодяжне — колиска Лесиного таланту»;\n
             Крізь все житія — до «Лісової пісні»;\n
             «Історія музею. Трагедія родини Косачів».
	<p> 
             В експозиції представлено меморіальні речі Лесі Українки та її родини, прижиттєві видання творів поетеси та її матері — Олени Пчілки, фотографії, речі побуту та 
             етнографії Волині, відтворені фрагменти робочого кабінету і сільської хати.</div>



<h1>
	Острозький замок
</h1>
<div class='body'>
	<p>	Острозький замок — розташований на вершині 20-метрового пагорба над долиною ріки Вілії, в районному центрі Острог, Рівненської області. Замок був 
            побудований на місці дерев'яного укріплення зруйнованого монголо-татарами в 1241 році. Спочатку це була башта-донжон, яка тепер носить назву «Вежа Мурована». Замок 
            був резиденцією князів Острозьких. Зараз на території Острозького замку розташований Острозький краєзнавчий музей.
	<p> 
            Замок був оточений глибоким ровом, наповненим водою. Башти служили оборонною системою для замку: Мурована вежа, Кругла Вежа, Богоявленська церква-фортеця і 
            Надбрамна башта (з 1905 року — дзвіниця)
	<p>	</div>



<h1>
	Зимненський Свято-Успенський Святогірський жіночий монастир
</h1>
<div class='body'>
	<p>	Належить до найдавніших в Україні. Київський великий князь Володимир заснував єпархію у місті Володимирі, названому на його честь.
	<p> 
            До складу комплексу входять ділянки кріпосних стін з трьома вежами по кутах і надбрамною вежею-дзвоном, трапезна, Успенська церква, Троїцька церква, поряд з якою 
            розташовані печери з підземною церквою Св. Варлаама.
	<p> 
            Головна святиня монастиря – це, звичайно ж, Зимненська ікона Божої Матері. Дізнавшись в 101 кілометрі Луцька ціни на поїздку, ви можете послухати цікаві історії 
            про події, які супроводжували перенесення ікони з Троїцького храму Корецького монастиря. Напередодні безліч людей побачили над храмом стовп із вогню, що піднімався 
            високо в небо, а з церкви лунав спів. Поспішивши до храму, паломники побачили тільки закриті двері, за якими нікого не було. Під час хресного ходу зі святим образом 
            відбулося ще одне диво – прозріла від сліпоти жителька села Зимно. Іконі приписують зцілення онкохворих, безплідних жінок, але особливо – хвороб очей. За переказами, 
            всі, хто хотів заподіяти шкоду монастирю або самій іконі, втрачали зір.
	<p> 
            Біля монастиря стоїть великий хрест з каменю, поставлений у 13 столітті 
	<p>	князем Данилом Галицьким. Вважається, що кожен військовий, що доторкнеться до нього, 
             отримає «кам`яні» силу і здоров`я.
	<p> 
             І всі ці чудеса доступні кожному, варто тільки переступити поріг монастиря в Зимному.</div>



<h1>
	Дубенський замок
</h1>
<div class='body'>
	<p>	Дубенський замок - головна визначна пам'ятка міста Дубна Рівненської області. Це один з об'єктів Державного історико-культурного заповідника 
            Дубна. Дубенський замок велично височить над річкою Іквою. Тут у минулі часи зберігали свої численні багатства князі Острозькі.
	<p> 
            Дубенський замок побудований у 1492 році князем Костянтином Острозьким на місці давньоруського городища. Згодом замком у Дубні правили й інші аристократичні 
            родини: Заславські, Сангушки, Любомирські, Барятинські. Дубенський замок неодноразово перебудовували та укріплювали. Це була необхідна міра в умовах постійних 
            воєн XVI - XIX ст. Завойовників приваблювали скарби, які зберігалися в Дубенському замку.
	<p> 
            Вдале місце розташування замку також мало велике значення в його обороні. Оскільки Дубенський замок перебував у низині, на березі річки, пересування ворожої важкої 
            артилерії значно ускладнювалося. Крім того, Дубенський замок оточував глибокий оборонний рів, через який перекидався міст. Це давало значні переваги мешканцям замку.
	<p> 
             Завдяки сукупності всіх цих факторів Дубенський замок протягом століть жодного разу не був захоплений. Його товсті суворі стіни витримали облогу татар у XV-XVI ст., 
             напад козаків під керівництвом Максима Кривоноса, штурм російських та шведських військ у XVII столітті.
	<p> 
	<p>	
             Замковий ансамбль складається з надвратного корпусу (XV ст.) та двох палаців - палацу князів Острозьких (XVI ст.) і палацу князів Любомирських (XVIII ст.).
	<p> 
             У триповерховому надбрамному корпусі розташовані в'їзні ворота. Їх окрасою є герб родини Острозьких. Надбрамна вежа спочатку мала купольний дах. У ході численних 
             перебудов вона видозмінилася. Надбрамний корпус складається з трьох ярусів, раніше там були каземати, вони служили приміщенням для надвірної хоругви.
	<p> 
             Палац князів Острозьких - найбагатшого та найвпливовішого роду - розташований у південній частині замку. У різні часи тут зберігалися цінні документи князів 
             Острозьких, Заславських, Любомирських, Сангушків, Конецпольських.</div>



<h1>
	Пересопниця
</h1>
<div class='body'>
	<p>	Пересопниця – поселення на річці Стублі за 25 км від м.Рівне та 50 км від м.Луцьк . Назва поселення походить від слова «пересип», «гребля».
	<p> 
            Археологічні знахідки свідчать про проживання тут первісної людини від доби пізнього палеоліту.
	<p> 
            1. Княжа столиця Х-ХІІІ ст.. Пересопниця є удільним князівством Київської Русі та Галицько-Волинської держави.
	<p> 
            Перша літописна згадка – 1149 рік.
	<p> 
            Пересопницькі князі за літописом: В’ячеслав Мономахович, Гліб Юрійович, Андрій Юрійович (Боголюбський), Мстислав Юрійович, Мстислав Ізяславич, Володимир Андрійович, 
            Мстислав Ярославович (Німий), Іван Мстиславович, Василько Романович.
	<p> 
            Місто зруйноване монголо-татарами у ХІV ст..
	<p> 
            Уцілілим залишився княжий некрополь – Пречистенський православний чоловічий монастир.
	<p> 
             2. У цьому монастирі протягом 1557-1561 р.р. було створено національний продукт ренесансної культури- ПЕРЕСОПНИЦЬКЕ ЄВАНГЕЛІЄ, перший повний переклад із 
             староболгарської мови на давньоукраїнську Святого Письма.
	<p> 
             Крім того, за своїм мистецьким оформленням їй немає рівних. Саме тому вона стала Головною книгою України: на ній присягають на вірність народові новообрані 
             Президенти України (Л. Кравчук,  Л.Кучма,  В.Ющенко,  В.Янукович).
	<p> 
	<p>	
	<p> 
             3. У центрі села Пересопниця 14 травня 1989 року з ініціативи діячів культури було споруджено гранітний пам’ятник Пересопницькому Євангелію. Відкриття пам’ятника 
             наменувало початок нової епохи – Відродження Незалежності України.
	<p> 
             4. Біля пам’ятника 29 серпня 2011 року було урочисто відкрито за участю Президента України Віктора Януковича та очільників обласної влади новозбудований музейний 
             комплекс під назвою «Культурно-археологічний центр «Пересопниця».
	<p> 
             Президент передав для музею Першокниги факсимільне видання Пересопницького Євангелія.</div>



