<h1>
Дубенський замок
</h1>
<div class='body'>
<p>	Дубенський замок — головна визначна пам'ятка міста Дубна Рівненської області. Це один з об'єктів Державного історико-культурного заповідника 
Дубна. Дубенський замок велично височить над річкою Іквою. Тут у минулі часи зберігали свої численні багатства князі Острозькі.
<p> 
Дубенський замок побудований у 1492 році князем Костянтином Острозьким на місці давньоруського городища. Згодом замком у Дубні правили й інші аристократичні 
родини: Заславські, Сангушки, Любомирські, Барятинські. Дубенський замок неодноразово перебудовували та укріплювали. Це була необхідна міра в умовах постійних 
воєн XVI — XIX ст. Завойовників приваблювали скарби, які зберігалися в Дубенському замку.
<p> 
Вдале місце розташування замку також мало велике значення в його обороні. Оскільки Дубенський замок перебував у низині, на березі річки, пересування ворожої важкої 
артилерії значно ускладнювалося. Крім того, Дубенський замок оточував глибокий оборонний рів, через який перекидався міст. Це давало значні переваги мешканцям замку.
<p> 
Завдяки сукупності всіх цих факторів Дубенський замок протягом століть жодного разу не був захоплений. Його товсті суворі стіни витримали облогу татар у XV-XVI ст., 
напад козаків під керівництвом Максима Кривоноса, штурм російських та шведських військ у XVII столітті.
<p> 
<p>	
Замковий ансамбль складається з надвратного корпусу (XV ст.) та двох палаців — палацу князів Острозьких (XVI ст.) і палацу князів Любомирських (XVIII ст.).
<p> 
У триповерховому надбрамному корпусі розташовані в'їзні ворота. Їх окрасою є герб родини Острозьких. Надбрамна вежа спочатку мала купольний дах. У ході численних 
перебудов вона видозмінилася. Надбрамний корпус складається з трьох ярусів, раніше там були каземати, вони служили приміщенням для надвірної хоругви.
<p> 
Палац князів Острозьких — найбагатшого та найвпливовішого роду — розташований у південній частині замку. У різні часи тут зберігалися цінні документи князів 
Острозьких, Заславських, Любомирських, Сангушків, Конецпольських.</div>
