<h1>
Карпатський національний природний парк
</h1>
<div class= "body" >
<p>Карпатський національний природний парк національний парк в Україні, на території Івано-Франківської області. Створений для збереження унікальних лісових екосистем Центральної Європи.</p>
<p>Карпатський національний природний парк перший і один з найбільших в Україні національних природних парків. Він був створений постановою Ради Міністрів УРСР від 3 червня 1980 р. № 376. Ще в 1921 році у межах його нинішньої території на площі 447 га було створено резерват для охорони Чорногірських пралісів.</p>
<p>Частина нинішньої території парку з 1968 по 1980 рік була у складі Карпатського державного заповідника, від якого при створенні парку були відокремлені Говерлянське і Високогірне лісництва.</p>
</div>