<h1>
Березнівський
</h1>
<div class='body'>
<p>	Місто Березне Рівенської області. Територія – близько 30 га.
<p> 
Цей витвір садово-паркового мистецтва створювався не одним поколінням садівників та скульпторів Західного Полісся. Парку 
трохи більше тридцяти років.
<p> 
Він поділений на окремі ділянки з цікавими назвами: сад садових жасминів, передгір’я, кам’янистий сад… Парк має свій Острів 
кохання, що пливе посеред озерця з берегами квітучого бузку декількох видів.
<p> 
Приїхавши на екскурсію у дендропарк, ви побуваєте і у Кавказі, і у Середній Азії, і в Сибіру… — все це — свого роду регіони, 
засаджені рослинами певних видів і кліматичних зон.
<p> 
Дерев тут висаджено близько 1000 — представників екзотичної, зарубіжної та місцевої флори.
<p>	</div>
