<h1>
Історико-культурні ресурси
</h1>
<div class= "body" >
<p>Історико-культурні туристичні ресурси — це сукупність створених у процесі історичного розвитку певної території пам'ятників матеріальної і духовної культури, які є об'єктами туристського інтересу. До групи істо-рико-культурних рекреаційних ресурсів належать пам'ятки історії, історичні архітектурні пам'ятки, пам'ятки сучасної архітектури, унікальні споруди культури, спорту тощо.</p>
<p>Історико-культурний потенціал, матеріальні та духовні пам'ятки народу дуже важливі для формування світогляду народу, для задоволення матеріальних, у тому числі туристичних, потреб. У розвинених країнах світу цей туристичний ресурс активно використовують для отримання прибутку. Деякі країни, наприклад, Італія, Франція, значну частину прибутків, які дає рекреаційне господарство, отримують від вмілої експлуатації історико-культурного потенціалу. Цьому сприяє велика кількість пам'яток, їхня висока художня цінність, добра збереженість, вміла організація туристичних послуг. Всесвітньо відомі пам'ятки історії та культури Риму, Венеції, Флоренції, Парижа приваблюють щороку сотні тисяч туристів.</p>
</div>