<h1>
    Історична довідка про геоінформаційні системи
</h1>
<div class="body">
    <p>Першою реально працюючою геоінформаційною системою у світі вважається ГІС Канади, розроблена в середині 60-х
        років XX ст на базі перших ЕОМ і пакетної системи обробки даних. Основне призначення ГІС Канади полягало в
        обробці і аналізі даних, накопичених Канадською службою земельного обліку, для використання при розробленні
        планів землеустрою величезних площ переважно сільськогосподарського призначення.
    <p>В історії розвитку геоінформаційних технологій можна виділити такі етапи: 1) кінець 1950-х - кінець 1970-х років;
        2) 80-ті роки та 3) 90-ті роки XX століття - початок XXI століття.
    <p>Перший етап (кінець 50-х - кінець 70-х років XX ст.) разом зі створенням перших географічних інформаційних
        систем, перш за все в Канаді і США, характеризується розробленням перших комп'ютерних систем просторового
        аналізу растрових зображень й автоматизованого картографування з використанням лінійних і пір'яних плоте рів.
        Першим і найвідомішим програмним пакетом, що реалізовував функції побудови картограм, карт ізоліній і трендових
        поверхонь, був пакет SYMAP (Synagraphic Mapping System), розроблений у 1967 p. у Гарвардській лабораторії
        комп'ютерної графіки і просторового аналізу Массачусетського технологічного інституту. У подальшому (70-ті роки
        - початок 80-х років XX ст.) у цій же лабораторії були розроблені інші програмні пакети (GRID, CALFORM, ODYSSEY
        та ін.), що забезпечували як цифрування карт і автоматичне картографування, так і просторовий аналіз. Одночасно
        подібного роду програмні продукти, відомі залежно від їх основного призначення під назвою або «пакетів
        картографічного аналізу», або «систем автоматизованого картографування» розроблялися і в інших наукових центрах
        Північної Америки і Західної Європи.
    <p>Найбільшу популярність у світі з цих більш пізніх розробок одержав пакет аналізу растрових даних MAP (Map
        Analysis Package), який реалізував алгоритми картографічної алгебри, основи якої були розроблені С.Д.Томліном,
        США. Цей пакет, а також його більш пізні версії РМАР, аМар та ін. розповсюджував Йєльський університет (США) за
        дуже низькою ціною (близько $20). Характерним для цього часу також було удосконалення методів аналізу
        просторових даних і технологій їх кодування і представлення. Зокрема, саме в цей період були розроблені
        теоретичні основи геостатистики (Ж. Матерон, Франція), векторна топологічна структура просторових даних
        (DIME-структура, США), технології графічного зображення тривимірних поверхонь та ін.
    <p>Для другої частини даного періоду характерна тенденція до посилення міждисциплінарних зв'язків у середовищі
        розробників ГІС, у першу чергу, між ученими та інженерами. Проте в цей період геоінформаційні системи все ще
        залишаються спеціалізованими, створюваними на базі могутніх і дуже дорогих ЕОМ, унаслідок чого вони є системами
        унікальними з обмеженим колом користувачів.
    <p>Другий етап (80-ті роки XX ст.). У другій половині 70-х років - на початку 80-х років XX ст. на Заході в розробку
        і застосування ГІС-технології були зроблені значні інвестиції як урядовими, так і приватними агентствами,
        особливо в Північній Америці. У цей період були створені сотні комп'ютерних програм і систем. Розробка ж
        (1973-1978) і широке розповсюдження недорогих комп'ютерів з графічним дисплеєм (що одержали назву
        «персональних») дозволили відмовитися від «пакетного» режиму обробки даних і перейти до діалогового режиму
        спілкування з комп'ютером за допомогою команд англійською мовою. Це сприяло децентралізації досліджень в галузі
        ГІС-технологій.
    <p>Тісна ж інтеграція міждисциплінарних досліджень, їх спрямованість на вирішення комплексних завдань, пов'язаних із
        територіальним проектуванням, плануванням і управлінням, привели до створення інтегрованих ГІС, які
        характеризувалися більшою або меншою універсальністю.
    <p>Для 80-х років XX ст. у цілому характерне зростання наукового, політичного і комерційного інтересу до ГІС. Це
        було обумовлено усвідомленням необхідності створення державних інтегрованих ГІС, особливо у зв'язку з
        управлінням природними ресурсами і моніторингом навколишнього середовища.
    <p>Розвиток геоінформаційних систем, особливо здатних інтегрувати дані дистанційного зондування («інтегрованих
        ГІС»), розглядається як необхідна умова ефективного використання матеріалів дистанційного зондування. Зокрема, у
        1985 році Європейське космічне агентство стало спонсором досліджень, пов'язаних з інтегрованими ГІС, а
        Британський національний космічний центр видав замовлення на контракти з розроблення ГІС.
    <p>У 80-ті роки XX ст. розробляються програмні ГІС-пакети (інструментальні ГІС), майбутні лідери світового
        програмного ГІС-забезпечення - пакет ARC/INFO, розроблений Інститутом досліджень систем навколишнього середовища
        (Environmental System Research Inctitute, ESRI Inc.) (1982), пакет MapInfo фірми Maping Information Systems
        Corp. (1987), пакет IDRISI, розроблений в Університеті Кларка (1987), пакет Modular GIS Environment (MGE) фірми
        Intergraph (1988) - усі в США. У кінці 80-х років XX ст. сформувалася світова ГІС-індустрія, що містила апаратні
        і програмні засоби ГІС та їх обслуговування.
    <p>Третій етап (90-ті роки XX століття - початок XXI століття). Прогрес у ГІС-технології в 90-ті роки минулого
        століття значною мірою був пов'язаний з прогресом апаратних засобів, причому як комп'ютерів - виникненням
        32-бітових, а потім 64-бі-тових міні- і мікроЕОМ, так і засобів введення і виведення просторової інформації -
        дигітайзерів, сканерів, графічних дисплеїв і плотерів. Для цього ж періоду характерне широке поширення так
        званих комерційних ГІС-пакетів («інструментальних ГІС»), що з'явилися ще в 80-ті роки XX ст. Здебільшого вони є
        програмним середовищем, яке дозволяє користувачу або достатньо просто створювати геоінформаційні системи
        відповідно до його власних запитів і можливостей, або вирішувати завдання, пов'язані з просторовою інформацією,
        з використанням геоінформаційних технологій. Світовими лідерами серед комерційних ГІС-пакетів стають програмні
        продукти фірм ESRI (Arc/Info і Arc ViewGIS), Intergraph (MGE), Maping Information Systems (Maplnfo).
    <p>У розвинутих країнах світу ГІС-технологія стає повсюдно використовуваною технологією обробки, аналізу і
        представлення просторово-координованої інформації при вирішенні різних завдань у географії, геології, екології,
        особливо при виконанні великих міждисциплінарних проектів, містобудівному плануванні, на транспорті, у
        кадастровій діяльності, регіональному плануванні і управлінні та багатьох інших сферах людської діяльності.
    <p>Простежується тенденція переключення масового інтересу від великих професійних інструментальних ГІС, що
        запускаються на робочих станціях або великих комп'ютерах фірм IBM, SUN, DEC та ін., до настільних
        інструментальних ГІС, здатних працювати на персональних комп'ютерах.
    <p>У колишньому Радянському Союзі дослідження в галузі геоінформаційних технологій розпочаті у вісімдесяті роки і в
        основному були пов'язані з адаптацією зарубіжного (західного) досвіду. Дослідження проводили Інститут географії
        і Далекосхідний науковий центр AH CPCP, Московський (кафедра картографії і геоінформатики), Казанський,
        Тбіліський, Тартуський і Харківський університети. У цей період (середина і друга половина 80-х років XX ст.)
        були розроблені перші автоматизовані системи картографування (наприклад, АКС МДУ), здійснювались дослідження з
        просторового аналізу, картографо-математичного моделювання, тематичного картографування та їх автоматизації
        (О.М.Берлянт, Н.Л. Беручишвілі, В.Т. Жуков, П.В. Петров, CM. Сербенюк, Ю.Г. Симонов, B.C. Тікунов, І.Г.
        Черваньов, В.А. Черв'яков та ін.), з теоретичного обґрунтування і розроблення перших геоінформаційних систем
        (Н.Л. Беручишвілі, І.В. Гарміз, B.C. Давидчук, В.П. Каракин, А.В.Кошкарьов, В.Г. Лінник, М.В. Панасюк, A.M.
        Трофимов та ін.).
    <p>Першою ГІС, розробленою в колишньому Радянському Союзі, була геоінформаційна система Марткопського
        фізико-географічного стаціонару Тбіліського університету (Беручишвілі, 1986). Перші ж програмні ГІС-пакети на
        території колишнього Радянського Союзу були розроблені вже після його розпаду в 90-ті роки XX ст. Серед них
        найвідомішим є пакет GeoDraw/Географ, створений в 1992 р. у Центрі геоінформаційних досліджень Інституту
        географії Російської академії наук (РАН), який має декілька тисяч інсталяцій.
    <p>Геоінформаційні технології в Україні набули розвитку в середині 90-х років XX ст. Серед позитивних чинників, що
        характеризують сучасний стан застосування геоінформаційних технологій в Україні є:
    <ul>
        <li>формування в державних установах і організаціях груп фахівців, які активно працюють у напрямку застосування
            ГІС у різних сферах людської діяльності, зокрема: у Державному проектному інституті Діпромісто (Київ); у
            Науково-дослідному інституті геодезії і картографії (Київ); в Управлінні земельних ресурсів Одеської
            обладміністрації; в Одеському національному університеті ім. І.І. Мечникова; у Національному університеті
            «Львівська політехніка» (Львів); у Національній гірській академії (Дніпропетровськ); у Харківському
            технічному університеті радіоелектроніки; в Українському центрі менеджменту Землі і ресурсів (Київ) та в
            ряді інших;
        </li>
        <li>створення ГІС-асоціації (1997) і Асоціації геоінформатиків (2003) України, що сприяють активізації і
            консолідації гєоінформаціонної діяльності в країні;
        </li>
        <li>щорічне проведення ГІС-форумів (1995-2001), конференцій «Геоінформатика: теоретичні і прикладні аспекти» (з
            2002 p.), конференцій користувачів продуктів фірми ESRI в Криму (з 1998 p., ЗАТ ЕСОММ), а також окремих
            тематичних конференцій, семінарів, нарад, присвячених використанню геоінформаційних технологій (наприклад,
            «Геоінформаційні технології сьогодні» (Львів, 1999); «Геоінформаційні системи і муніципальне управління»
            (Миколаїв, 2000 р.) «Можливості ГІС/ДЗЗ-технологій у сприянні вирішення проблем Причорноморського регіону»
            (Одеса, 2003) та ін.);
        </li>
        <li>створення державних підприємств і комерційних компаній, що спеціалізуються на розробці і/або використанні
            геоінформаційних технологій, зокрема: державних науково-виробничого підпріємства «Геосистема» (м. Вінниця) і
            науково-виробничого центру «Геодезкартінформатика» (м. Київ); комерційних компаній «Інтелектуальні системи,
            Гео», «Інститут передових технологій», «ЕСОММ», ГЕОКАД, «Аркада», «Геоніка» (м. Київ); «Високі технології»
            (м. Одеса) та ін.;
        </li>
        <li>розроблення спеціалізованого геоінформаційного пакета Рельєф-процесор - Харьківський національний
            університет ім. В.Н. Каразіна, векторно-растрової інструментальної ГІС настільного типу ОКО - ВАТ
            «Геобіономіка» (м. Київ); програмних комплексів GEO+CAD і GeoniCS, призначених для обробки даних досліджень
            і геоінженерного проектування в галузі цивільного, промислового і транспортного будівництва - компанія
            «ГЕОКАД», AT «Аркада» і НПЦ «Геоніка» (м. Київ) та ін.
        </li>
        <li>створення електронного атласу України - пілотної версії комп'ютерного Національного атласу України (2000) -
            Інститутомгеографії НАН України і компанією «Інтелектуальні системи, Гео» (Київ);
        </li>
        <li>внесення курсів з ГІС і геоінформаційних технологій до програми підготовки фахівців природознавчих і
            екологічних спеціальностей у багатьох вищих навчальних закладах країни; відкриття у деяких з них курсів
            підготовки фахівців у галузі геоінформаційних систем і технологій, зокрема, в Університеті «Львівська
            політехніка» (Львів) - у рамках спеціальності «Картографія», в Одеському національному університеті ім. І.І.
            Мечникова - у рамках спеціальності «Географія», в Одеському державному екологічному університеті - у рамках
            спеціальності «Інформаційні технології», у Національній гірській академії України (Дніпропетровськ) - за
            фахом «Геоінформаційні системи і технології».
        </li>
    </ul>
    <p>До факторів, що стримують розвиток геоінформаційних технологій, належать низький в цілому рівень комп'ютеризації
        в країні і відсутність у достатній кількості відповідних фахівців.

</div>