<h1>
Автоматизоване введення даних
</h1>
<div class= "body" >
<p>Автоматизоване введення даних або сканування в наш час є одним з основних видів перетворення зображень з паперових (плівкових та ін.) типів носіїв у різні формати електронних зображень. Сам термін «сканування» означає, що площина вихідного зображення проглядається послідовно по смугах, кожна смуга, у свою чергу, поділяєтьсяна окремі елементи. Якість сканування визначається точністю місцеположення елементів сканера, що зчитують (різниця між положенням піксела на вихідному документі й в електронному файлі, що може бути розрахована за допомогою спеціального програмного забезпечення), і якістю передачі кольору (у більшості випадків визначається користувачем на око).</p>
<p>Процес сканування карт, як правило, здійснюється із середовища якогось графічного редактора, (МарЕdit, Еаsу Тrасе, Dеsсаrtеs) і дозволяє робити два основних типи перетворень: змінювати кількість пікселів у зображенні, змінювати місце розташування групи пікселів усередині площини зображення (геометрична корекція); змінювати колірний режим або колірні характеристики всього зображення чи групи обраних пікселів (яскрава і колірна корекція).</p>
<p>Перекіс зображення є однієї з найбільш поширених помилок, що виникають у процесі сканування. Навіть незначні відхилення на частки градуса від базової лінії при великих розмірах карт призводять до лінійних перекручувань у кілька міліметрів. Це особливо помітно на стиках окремих фрагментів при зшиванні великих аркушів. За наявності ліній координатної сітки або маркерів перекіс може бути усунутий за допомогою функцій «Поворот зображення на довільну величину». Кут повороту визначається шляхом надання базових ліній (північ-південь, лінія рамки тощо), відносно яких розраховується виправлення. У разі потреби може здійснюватися поворот усього поля зображення на 90° за чи проти годинникової стрілки або розворот зображення на 180°. У багатьох випадках доводиться створювати необхідне зображення з окремих фрагментів. Таке зшивання може здійснюватися як у вигляді злиття окремих файлів, так і складанням «мозаїк» з окремих файлів.</p>
<p>Афінне перетворення може виправити зрушення, поворот і розтягання окремо по осі X і У. Усі перетворення лінійні для всього растра, тобто рівнобіжні лінії залишаються рівнобіжними (рис. 1 а, б).</p>
<img src= ".\resourses\introduction-gis\article-res\1.jpg" >
<p class= "description" >Рис. 1 – Геометричні трансформації растрових даних</p>
<p class= "description" >а) афінні перетворення кутових перекручувань; б) афінні перетворення перекосів; в) поліномінальні перетворення перекручувань сканування; г) поліномінальні перетворення перекручувань при прогинанні аркуша</p>
<p>Для запуску перетворення досить трьох точок, що не лежать на одній прямій. Поліноміальнє перетворення виправляє більш складні, у тому числі і нелінійні перекручування. Якщо афінні перетворення допомагають позбутися неправильного положення аркуша на площині, то квадратичні допомагають виправити прогинання аркуша, перекручування сканування та ін. (рис. 1 в, г). Для запуску перетворення необхідно кілька точок, і розташовуватися вони повинні максимально хаотично. Якщо, наприклад, якісь чотири точки будуть утворювати прямокутник, рівнобіжний осям координат, то перетворенняпрацюватиме некоректно.</p>
<p>Скановане зображення (наприклад, карти) з точністю 800 400 dpi утворить графічний файл розміром до 50-100 Мb. Загальний розмір сканованих даних для великого міста чи району може складати десятки і сотні гігабайт. Апаратні комплекси, що використовуються для сканування і підготовки вихїдних картографічних даних, повинні мати значні обсяги оперативної і магнітної пам'яті, графічні прискорювачі, системи створення резервних копій даних на оптичні носії. Для зменшення розмірів файлів при їхньому збереженні і пересиланні використовуються різні технології стиснення графічної інформації, наприклад, для збереження і швидкого розпакування великих масивів стиснутих графічних даних використовується формат МrSiD.</p>
</div>