<h1>
Полтавський
</h1>
<div class='body'>
<p>	Місто Полтава. Розташований на території 124,5 га. Заснований на початку 1960-х років.
<p> 
Дендропарк поділений на окремі «тематичні» частини з красивими назвами: Шведський ліс, Бузковий гай, Лісостеп, Східна 
долина…
<p> 
На території багато мальовничих майданчиків і галявин. Навколо ставків схиляються плакучі верби.
<p> 
З одного боку – темно-зелений ялинник, з іншого – білокоре царство беріз, з третього – ростуть горіхові дерева, розкинулась 
бузкова галявина. А неподалік ставка — галявина постійного цвітіння. Є також дендрарій.
<p> 
Всього тут росте близько 170 видів кущів та дерев.
<p>	</div>
