<h1>
Соціально-економічні туристичні ресурси
</h1>
<div class= "body" >
<p>Туризм як специфічний вид діяльності охоплює безліч галузей економіки, починаючи з будівництва і закінчуючи транспортними перевезеннями. Досить важко дати точну оцінку чисельності працівників, зайнятих у сфері туризму. Крім того, туризм підтримує різноманітні зв'язки з підприємствами інших секторів економіки: сільськогосподарськими підприємствами, заводами з виробництва транспортних засобів, меблевими фабриками та ін.</p>
<p>До групи соціально-економічних туристичних ресурсів належать географічне положення, транспортна доступність, рівень економічного розвитку та добробуту суспільства, стандарти обслуговування, організація туристичного господарства, кількість зайнятих у галузі тощо.</p>
<p>Зростання обсягів туризму впливає позитивно на економіку країн, створюючи додаткові робочі місця, сприяючи розвитку малого підприємництва. Доведено, що вплив туризму на зайнятість стає визначальним для багатьох країн, які головно залежать від цього сектору економіки. Так, економіка Ізраїлю страждає через значне скорочення туристського потоку, безробітними стали сотні висококваліфікованих гідів-перекладачів, закриваються кафе, перукарні, порожніють готелі. Досить напруженою є ситуація й у Єгипті, де зберігається загроза терористичних актів. У таких країнах діяльність понад 50% працездатного населення прямо чи опосередковано пов'язана з туризмом. На відміну від невеликих держав, у великих індустріальних країнах у туристичній сфері зайнято лише 5% працездатного населення. Однак зі зростанням значення туризму, збільшенням туристського потоку, розширенням будівництва готелів та інших об'єктів інфраструктури туризму ця цифра збільшується. Наприклад, Німеччина ще кілька десятиліть тому не була настільки популярною серед туристів, тепер же за відвідуваністю вона входить у першу десятку. Саме тому всі великі міста Німеччини — Берлін, Мюнхен, Гамбург — буквально вкриті мереживом риштувань.</p>
<p>Під час туристичного сезону кількість зайнятих у туристичній сфері також зростає, значною мірою за рахунок молоді, студентів, які, крім заробітку, бажають удосконалити свої знання іноземної мови.</p>
<p>Зайнятість характеризується як кількісними, так і якісними показниками, до яких належать рівень кваліфікації працівників, зайнятих у туризмі. У туризмі здебільшого використовується низько кваліфікована праця: швейцари, підношувачі багажу, покоївки, кур'єри та ін., але водночас існують спеціальності, що вимагають високої кваліфікації: гід-перекладач, шеф-кухар, менеджер.</p>
<p>Статистика свідчить, що частка жінок у готельному господарстві перевищує 50%. У готельній індустрії Франції, Німеччини, Австрії зайняті переважно іноземці, особливо на роботах, що не вимагають високої кваліфікації, здебільшого вихідці з країн Південно-Східної Азії.</p>
</div>