<h1>
    Контроль якості створення цифрових карт
</h1>
<div class="body">
    <p>Залежно від сфери використання цифрових карт до них висуваються різні вимоги. У наш час можна виділити дві
        основні сфери використання цифрових карт:</p>
    <ol>
        <li>як основи для створення різних паперових карт або картографічних ілюстрацій.</li>
        <li>як основи для просторових вимірів, розрахунків, аналізу. У першому випадку просторова точність визначається
            точністю поліграфічного відбитка створюваної карти і залежить від методу друку, системи умовних знаків,
            відображуваного масштабу та ін.
        </li>
    </ol>
    <p>У тому випадку, коли цифрова карта є основою для розрахунків відстаней, площ і обсягів у кадастрових, будівельних
        або навігаційних ГІС, просторові похибки можуть спричинити значні перекручування підсумкових просторових
        розрахунків, що, у свою чергу, призводить до похибок розрахунку вартості земельних ділянок, вартості
        будівництва, оподатковування та ін. У таких додатках просторова точність визначається точністю використовуваних
        приладових вимірів (до 0,1 мм на місцевості).</p>
    <p>Систематичні похибки при створенні цифрової картографічної продукції виникають унаслідок різних об'єктивних і
        суб'єктивних причин (відсутність необхідного обладнання, невідповідність технічних характеристик обладнання
        необхідної точності, відсутність чи слабка формалізація класифікаторів об'єктів, що цифруються, помилки введення
        через неопрацьовані інструкції з введення різних ситуацій, низька кваліфікація операторів, відсутність
        контролю).</p>
    <p>У наш час башто цифрових карт, особливо в неспеціалізованих установах організаціях, виконується в ручному режимі,
        тому суб'єктивний фактор, тобто кваліфікація оператора і контролера, є основним стримуючим фактором для
        збільшення кількості якісної цифрової продукції. Для підготовки кваліфікованого оператора для екранного або
        апаратного дигітизування необхідно кілька років практичної роботи за наявності відповідної геодезичної,
        картографічної або географічної освіти. Унаслідок цього все більш істотним фактором картографічного виробництва
        стає зростання вартості кваліфікованої праці фахівців. Тому основною лінією зростання продуктивності цифрового
        картографування є подальший розвиток автоматизованих методів введення: підвищення якості розпізнавання
        картографічних образів сканованих карт і даних дистанційного зондування Землі.</p>
</div>