<h1>
Моделі і бази даних у ГІС
</h1>
<div class= "body" >
<p>База даних є інформаційною моделлю реального світу і являє собою сукупність даних, організованих за певними правилами, що встановлюють загальні принципи опису, збереження і маніпулювання даними.</p>
<p>Об'єкти бази даних можуть бути описані різними способами: у вигляді текстових описів, цифрових кодів, комбінованих цифро- буквених класифікаторів, числових значень різного типу, календарних дат та ін. Кожен однотипний об'єкт бази даних описується однаковим набором атрибутів, таким чином, база даних складається з окремих записів, що характеризують кожний об'єкт і покажчики зв'язків між ними.</p>
<p>У більшості випадків бази даних проектуються таким чином, щоб один або кілька атрибутів однозначно ідентифікували запис. Сукупність значень цих атрибутів називається ключем запису, а самі атрибути – ключовими атрибутами. Ключ запису можна розглядати як унікальне ім'я запису, за яким користувач завжди може знайти цей запис.</p>
<p>У концептуальній схемі вся множина однотипних записів подається одним абстрактним записом, що називають типом запису. Кожному типу записів відповідають ім'я і список атрибутів. Аналогічно безлічі наявних у базі даних однотипних зв'язків у концептуальній схемі відповідає один тип зв’язку. Створення бази даних і звернення до неї здійснюються за допомогою системи керування базами даних (СКБД). Виділяються персональні бази даних для роботи з даними, пов'язаними з посадовими обов'язками окремого посадовця; бази даних підрозділу, підприємства, що обслуговують кілька різних фахівців у складі локальної обчислювальної мережі; корпоративні (наприклад, муніципальні) бази даних, що обслуговують кілька тисяч фахівців і сотні тисяч зовнішніх користувачів у режимі розділеного доступу, з використанням різноманітного програмного забезпечення, апаратних засобів, різних мережних протоколів і форм представлення даних.</p>
<p>Основою бази даних є модель даних — фіксована система понять і правил для представлення даних структури, стану і динаміки проблемної області в базі даних. У різний час послідовне застосування одержували ієрархічна, мережна і реляційна моделі даних. У наш час усе більшого поширення набуває об'єктно-орієнтований підхід до організації баз даних ГІС.</p>
<p>Ієрархічна модель даних. Часто об'єкти перебувають у відношеннях, що називають ієрархічними: відношення «частина — ціле». Об'єкти, що перебувають в ієрархічних відношеннях, утворюють дерево «орієнтований граф», у якого є тільки одна вершина, не підлегла жодній іншій вершині (цю вершину називають коренем дерева); будь-яка інша вершина графа підлегла лише одній іншій вершині (рис. 1).</p>
<img src= ".\resourses\models-dig\article-res\1.jpg" >
<p class= "description" >Рис. 1 – Схема відношень між об’єктами в ієрархічній базі даних</p>
<p>Ієрархічні бази даних є навігаційними, тобто доступ можливий тільки за допомогою заздалегідь визначених зв'язків. При моделюванні подій, як правило, необхідні зв'язки типу «багато до декількох». Як одне з можливих рішень зняття цього обмеження можна запропонувати дублювання об'єктів. Однак дублювання об'єктів створює можливості неузгодженості дії них. Достоїнство ієрархічної бази даних полягає в тому, що її навігаційна природа забезпечує швидкий доступ при проходженні вздовж заздалегідь визначених зв'язків. Однак негнучкість моделі даних і, зокрема відсутність прямого доступу до даних роблять її непридатною в умовах частого виконання запитів, не запланованих заздалегідь. Ще одним недоліком ієрархічної моделі даних є те, що інформаційний пошук з нижніх рівнів ієрархії не можна спрямувати по вище розміщених вузлах.</p>
<p>Мережна модель. У мережній моделі даних поняття головних і підлеглих об'єктів дещо розширені. Будь який об'єкт може бути і головним, і підлеглим (у мережній моделі головний об'єкт позначається терміном «власник набору», а підлеглий — терміном «член набору»). Той самий об'єкт може одночасно виконувати і роль власника, і роль члена набору. Це означає, що кожний об'єкт може брати участь у будь-якій кількості взаємозв'язків. Подібно до ієрархічної, мережну модель також можна подати у вигляді орієнтованого графа. Але в цьому випадку граф може містити цикли, тобто вершина може мати кілька батьківських вершин. Така структура набагато гнучкіша і виразніша від попередньої і придатна для моделювання більш ширшого класу завдань. У цій моделі вершини є сутностними, а ребра, що їх з'єднують, — відношеннями між ними (рис. 2).</p>
<img src= ".\resourses\models-dig\article-res\2.jpg" >
<p class= "description" >Рис. 2 – Схема відношень між об’єктами в мережній базі даних</p>
<p>Наскільки складними є схеми представлення ієрархічних і мережних баз даних, настільки і трудомістким є проектування конкретних прикладних систем на їхній основі. Як показує досвід, тривалі терміни розроблення прикладних систем нерідко призводять до того, що вони постійно перебувають на стадії розроблення і доопрацювання. Складність практичної реалізації баз даних на основі ієрархічної і мережної моделей визначила створення реляційної моделі даних. У реляційній моделі даних об'єкти і взаємозв'язки між ними представляються за допомогою таблиць. Взаємозв'язки також подаються як об'єкти. Кожна таблиця представляє один об'єкт і складається з рядків і стовпців. Таблиця повинна мати первинний ключ (ключовий елемент) — поле чи комбінацію полів, що єдиним способом ідентифікують кожний рядок у таблиці (рис. 3).</p>
<img src= ".\resourses\models-dig\article-res\3.jpg" >
<p class= "description" >Рис. 3 – Схема відношень між об’єктами в реляційній базі даних</p>
<p>Назва «реляційна» (rеlаtiоnal) пов'язана з тим, що кожен запис у таблиці даних містить інформацію, яка стосується (rеlаtеd) якогось конкретного об'єкта. Крім того, зв'язані між собою (тобто такі, що знаходяться в певних відношеннях — rеlаtiоns) дані навіть різних типів в моделі можуть розглядатися як одне ціле.</p>
<p>Порядок розміщення рядків і стовпців у таблиці довільний; таблиця такого типу називається відношенням. У сучасній практиці для рядка використовується термін «запис», а для стовпця термін «поле».</p>
<p>Недоліком реляційної моделі даних є надмірність по полях (для створення зв'язків між різними об'єктами бази даних). Практично всі існуючі на сьогоднішній день комерційні бази даних і програмні продукти для їх створення використовують реляційну модель даних. Об'єктно-орієнтована модель є подальшим розвитком технології баз даних ГІС. У цьому випадку вся сукупність даних, що буде зберігатися й оброблятися в базі даних, подана не у вигляді набору окремих картографічних шарів і таблиць, а у вигляді об'єктів певного класу.</p>
<p>Об'єктно-орієнтована модель поряд з геометричною й атрибутивною інформацією зберігає програмний код, що визначає поведінку об'єктів того чи іншого класу при введенні і редагуванні, аналізі або поданні даних.</p>
<p>Об'єкт бази даних являє собою цілісну сутність, наприклад, ріка, озеро, будинок, установа. Крім знака на карті і запису в табличній базі даних, об'єкт має визначену поведінку. Спеціальний інтерфейс буде контролювати весь процес роботи з об'єктом визначеного класу: перевіряти правильність цифрування об'єкта (наприклад, не дозволить використовувати лінію для цифрування контуру будинку); перевіряти правильність заповнення табличної бази даних (типи і формат даних, заповнення обов'язкових полів); перевіряти топологію різних картографічних шарів (наприклад, заборона на взаємоперетинання певних типів об'єктів); перевіряти взаємоположення об'єктів на одному картографічному шарі (наприклад, місця стикування труб різного діаметра (необхідний перехідник), з'єднання доріг різного класу (необхідний обладнаний з'їзд та ін). Об'єкти мають визначений інтелект при організації запитів, аналізі, представленні даних, що значною мірою дозволяє автоматизувати обробку даних, створювати різні сценарії обробки даних, у яких більшість конфліктних ситуацій буде відслідковуватися і виправлятися без участі оператора.</p>
<p>Керування даними в ГІС. СКБД, призначені для створення і підтримки баз даних ГІС, надають користувачу широкий набір функцій, властивих звичайним, «непросторовим» СКБД, а такожнизку спеціальних «просторових» функцій. Це — функції створення структури нових баз даних у режимі «конструктора», зміна структури існуючих табличних баз даних, додавання і видалення полів і записів, використання формул для заповнення і зміни значень полів, зв'язування двох і більше таблиць для подання даних. До деяких спеціальних функцій відносять функції побудови просторових об'єктів за значеннями координат з таблиць, визначення координат об'єктів, довжин, периметрів і площ об'єктів із записом отриманих значень у відповідне поле.</p>
</div>