<h1>
    Дермансько-Острозький національний природний парк
</h1>
<div class='body'>
    <p>Адміністративно-територіальне розташування:</p>
    <p>Національний природний парк «Дермансько-Острозький» розташований на території Острозького та Здолбунівського
        районів Рівненської області</p>
    <p>Площа: 5448,3 га, у тому числі надається у постійне користування — 1647,6 га.</p>
    <p>Підпорядкування: Міністерство екології та природних ресурсів України.</p>
    <p>Єдиний в Рівненській області національний природний парк «Дермансько-Острозький», створений в 2009 році на
        території Здолбунівського та Острозького районів, є справжньою окрасою не тільки регіону, а й України загалом.
        Парк розташований у найвужчій частині Малого Полісся – Острозькій прохідній долині, в заплаві річки Збитинка, що
        протікає між мальовничими пагорбами Мізоцького кряжу та Кременецькими горами. Завдяки своєму географічному
        положенню та своєрідній історії формування ландшафтів, територія НПП «Дермансько-Острозький» виявилась на
        перетині кордонів різних фізико-географічних областей. Вона є перехідною зоною, в якій вузька смуга поліських
        ландшафтів дна долини оточена краєвидами, характерними для лісостепової зони в межах Волинської та Подільської
        височин. Це зумовило багатство рослинного та тваринного світу парку, зокрема, за попередніми даними, тут зростає
        47 видів рослин та зустрічається 19 видів тварин, занесених до Червоної книги України.</p>
    <p>Національний природний парк «Дермансько-Острозький» створено 11 грудня 2009 року згідно з указом президента
        України Віктора Ющенка з метою збереження цінних природних територій та історико-культурних об'єктів. В основі
        парку – 18 раніш існуючих об’єктів природно-заповідного фонду. До складу парку частково увійшов регіональний ландшафтний
        парк «Дермансько-Мостівський», створений в 2002 році на території Здолбунівського району.</p>
    <p>Національний парк розташований у найвужчій частині Малого Полісся – Острозькій прохідній долині, місці
        найбільшого зближення між Волинською та Подільською височинами.</p>
    <p>За фізико-географічним районуванням України територія належить до трьох областей. Невелика північно-східна
        частина – до Волинської височинної області (Повчансько-Мізоцький район), найбільша, центральна – до Малого
        Полісся (Смігівсько-Славутський район), південна – до Середньоподільської височинної області (Кременецький
        район). Всі три області належать до зони широколистяних лісів Східноєвропейської рівнини. Таке розташування
        території зумовлює різноманіття екотопів та багатство рослинного та тваринного світу.</p>
    <p>Територія національного природного парку являє собою знижену акумулятивно-денудаційну рівнину з численними
        ерозійними останцями, які побудовані з крейди, перекритої згори неогеновими вапнякуватими пісковиками -це
        створює своєрідний рельєф місцевості. Територія характеризується неглибоким заляганням кристалічного фундаменту.
        Основна частина покрита алювіальними та флювіогляціальними водно-льодовиковими відкладами та є акумулятивним
        утвором, великою прадолиною. В ґрунтовому покриві переважають дерново-підзолисті, дерново-карбонатні, лучні та
        болотні ґрунти.</p>
    <p>Основною річкою парку є річка Збитинка (басейн Горині) з притоками Бущанкою та Піщанкою. Вона бере початок на
        Мізоч-Повчанському плато біля с. Збитин Дубенського району і тече територією парку зі сходу на захід. Загальна
        довжина річки становить 56 км, а загальна площа її водозбору – 399 км&sup2.</p>
    <p>Добре розчленований рельєф зі стрімкими схилами і вузькими улоговинами, характерний для центральної частини
        парку, сприяє виходу підземних вод у підніжжі і дні крутосхилів та ярів, які створюють напрочуд мальовничі
        краєвиди.</p>
    <p>До території парку входить Новомалинське водосховище, розташоване на р. Збитинка біля с. Новомалин Острозького
        району. Площа його водного дзеркала становить 232 га, а об'єм – 3,46 млн. м&sup3.</p>
    <p>Клімат території помірно континентальний. Літо тепле та вологе, зима м'яка, хмарна, з частими відлигами.
        Середньомісячна температура січня становить -4,5°С, а липня – +18,5°С. Середня кількість опадів – 420-440
        мм.</p>
    <p>Велика строкатість екологічних умов зумовлює розмаїтість рослинного покриву території НПП
        «Дермансько-Острозький». Лісові фітоценози репрезентують весь спектр існуючих у рівнинній частині України
        угруповань: дубові, грабово-дубові, грабово-дубово-соснові, дубово-соснові, соснові, ясенові, чорновільхові ліси
        та рідкісні угруповання букових, скельнодубових та ялинових лісів. Своєрідною і багатою є болотна рослинність,
        представлена переважно низинними болотами. Найбільшим за площею та найбагатшим за видовим складом флори є
        Бущанське болото в заплаві річки Збитинки поблизу села Батьківці. Це одне із найбільш східних
        середньоєвропейських карбонатних боліт.</p>
    <p>Флора парку в цілому відзначається багатством і різноманітністю. Попередній список нараховує 377 видів судинних
        рослин, що належать до 234 родів, 91 родини, 50 порядків та 6 класів. Флора мохоподібних практично не
        досліджена, за літературними даними наводиться зростання 22 видів. До Червоної книги України занесено 47 видів
        рослин, до Додатку 1 Бернської конвенції – 5 видів, до Європейського червоного списку – 1 вид, до списку CITES –
        16 видів, до Переліку регіонально рідкісних видів рослин Рівненської області – 34 види. З рідкісних видів рослин
        на території НПП “Дермансько-Острозький” поширені плауноподібні: баранець звичайний, діфазіаструм сплюснутий,
        плаун річний, низка орхідей, таких як пальчатокорінники травневий, Фукса та м'ясочервоний, жировик Лезеля, любки
        дволиста та зеленоквіткова, коручки болотна, чемерниковидна та темно-червона, булатки великоквіткова, червона та
        довголиста. Надзвичайно цінними в парку є такі рідкісні види боліт як сверція багаторічна та язичник
        буковинський. На вологих місцях поширені, крім того, сашник іржавий, меч-трава болотна, осоки Девела, Хоста,
        дводомна, а також комахоїдні рослини – товстянка звичайна та росичка англійська.</p>
    <p>Фауна налічує 189 видів хребетних, що були виявлені на території парку та на суміжних територіях, з них:
        променеперих риб – 12 видів, земноводних – 10 видів, плазунів – 6 видів, птахів – 128 видів, ссавців – 33 види.
        До Червоної книги України занесено 23 види тварин, до Європейського Червоного списку – 10 видів, до додатків 2
        та 3 Бернської конвенції – 166 видів, до списку МСОП – 9 видів, Бонською конвенцією охороняється 57,
        Вашингтонською – 16 видів тварин національного природного парку “Дермансько-Острозький”. З рідкісних
        представників безхребетних трапляються жук-олень, махаон, мнемозина, стрічкарка топлева, мінливець великий; з
        плазунів – мідянка. Справжнього поліського «відтінку» тутешньому тваринному світу надає гніздування чорного
        лелеки та журавля сірого. На території парку відмічені такі види рукокрилих, як вечірниця руда, вухань бурий,
        кажан пізній. З рідкісних хижих ссавців трапляються перегузня, видра, горностай, тхір чорний.</p>
    <p>Територія розташування національного парку цікава не лише з природничої точки зору, це також своєрідний
        історико-культурний регіон. Довкола розташовані такі визначні пам’ятки, як Острог – місто-фортеця, родове гніздо
        князів Острозьких, монастир, заснований ними ж у Межирічі, руїни замку у Новомалині, селище Дермань, де
        народився відомий поет, публіцист, громадсько-політичний діяч Улас Самчук. На території розташування парку
        збереглись археологічні пам'ятки трипільської, городоцько-здовбицької, тишнецько-комарівської культур, залишки
        поселень доби бронзи та заліза. Недалеко від села Буща знаходиться горб Пекло з дев'ятьма печерами, в котрих
        знаходили закопчені вогнищами місця, жорнові камені, старовинні крем'яні, кам'яні вироби – свідки перебування
        тут людей.</p>
    <p>В деяких селах збереглися надзвичайно цікаві історичні раритети: водяний млин в с. Мости Здолбунівського району,
        глибоченні криниці (більше 60 м) в селах Мала Мощаниця і Буща, викопані на відрогах Волинської височини ще на
        початку XX ст.</p>
    <p>Історична складова місцевості тісно пов'язана з історією визвольних змагань українського народу проти багатьох
        поневолювачів. На території парку знаходиться місце найбільшого в історії бою УПА з військами НКВС – урочище
        Гурби. Зараз тут влаштовано меморіальний комплекс та побудовано чоловічий монастир.</p>
    <p>Багато урочищ парку та околиць оповиті народними переказами та легендами. Одне з таких місць – Турова могила. За
        переказами, на цьому місці відбувся бій між турками і козаками, в якому козаки отримали перемогу. В тому бою
        загинув турецький воєначальник, тут же він був похований на коні у вертикальному положенні. В цьому місці при
        розкопках 1914 року знайшли багато людських і тваринних останків, серед котрих і накриту перевернутою тарілкою
        кантову пляшку, що символізує, за мусульманським ритуалом, охорону покійного від злих духів. За кілька
        кілометрів від урочища Турова Могила, серед мішаного лісу на схилі пагорба є нагромадження великих каменів,
        найбільший із них – Зіньків. Його висота понад два метри, а діаметр біля п’яти. У навколишніх селах збереглася
        легенда про молодого воєводу Зінька, який у долині Збитинки бився з монголо-татарами, а потім з купкою своїх
        воїнів сховався під каменем. Неподалік села Дермань знаходиться Джерело «Батиївка» – струмок, що тече територією
        спаленого татарами поселення ”Райгородок”. За місцевими переказами, з цього джерела напував свого коня сам хан
        Батий.</p>
    <p>Ще багато цікавого приховує цей край для тих, хто небайдужий до природи та історико-культурної спадщини, хоче
        збагатити свій багаж екологічних знань, та просто цікаво відпочити.</p>
</div>
