<h1>
Херсонес Таврійський
</h1>
<div class='body'>
<p>	Місто Херсонес було засноване древньогрецькими колоністами більше ніж 2500 тисячі років тому на південному 
заході Криму. Нині його руїни — одна з найвизначніших пам'яток Севастополя.
<p> 
Це місто-держава мало довге життя — майже дві тисячі років — і його історія є частиною історії Древньої Греції, Древнього 
Риму та Візантії.
<p> 
Околиці міста були заселені різноманітними племенами, мирними та ворожими, а в середні віки, коли Херсонес набуває статусу 
християнської столиці півострова, навколо нього з'являється безліч монастирів та скитів, а також знамениті печерні міста. В 
кінці XIV століття навала кочівників поклала кінець існуванню міста, а його руїни поховала земля.
<p> 
Лише в 1827 році на цьому місці розпочалися розкопки, які майже відразу принесли Херсонесу ще одну назву — Руська Троя. 
Масштаб досліджень та велика кількість археологічних пам'яток, що потребують збереження, спричинили до створення Національного 
заповідника Херсонес Таврійський.
<p> 
Територія заповідника охоплює розташування стародавнього грецького міста — Херсонеса Таврійського, що виникло тут, на 
узбережжі Чорного моря, у 5 ст. до н. е.
<p> 
Місто було огороджене могутніми оборонними стінами і розплановане за схемою, поширеною тоді в грецькому та римському світі. 
До наших днів збереглося багато давніх споруд. Серед них елліністичний театр, римська цитадель, середньовічні християнські 
храми, житлові квартали, вулиці, гончарні майстерні, рибозасолованне обладнання, колодязі та ін.
<p> 
Територія досліджується археологами уже 170 років. За цей час відкрито більше третини міста. 
<p>	Серед археологічних знахідок є 
унікальні предмети — присяга громадян Херсонеса, декрети, фрески, мозаїки, шиферні ікони християнських храмів, написи-присвяти, 
численні побутові предмети. Загалом музейні зібрання заповідника нараховують понад 200 тис. експонатів.
<p> 
Херсонес виник наприкінці VI ст. до н. е. і проіснував до початку XV ст. н. е. Протягом двох тисячоліть, за часів розквіту 
стародавньої Греції, Риму та Візантії Херсонес був значним центром культури на Кримському півострові. Херсонес відіграв також 
особливу роль у взаємовідносинах між Візантією та Київською Руссю і був провідним центром розповсюдження християнства на 
східнослов'янських землях.
<p> 
Херсонес та його сільськогосподарська округа (хора) насичені пам'ятками, які в унікальному автентичному стані збереглися до 
сьогодення тільки на цій території та є надбанням світової цивілізації. Комплекс пам'яток, що входить до складу заповідника 
Херсонес Таврійський, має не тільки національне значення, а і міжнародне.</div>
