<h1>
    Апаратні засоби ГІС
</h1>
<div class="body">
    <p>Ефективна робота сучасних ГІС можлива тільки на основі потужної технічної комп'ютерної підтримки. Апаратні засоби
        ГІС - це окремі комп'ютери або системи комп'ютерів з мережевим устаткуванням плюс комп'ютерна периферія, до якої
        відносять принтери, плоттери, сканери. Апаратні засоби ГІС повинні забезпечувати можливість:
    <ul>
        <li>введення даних з різних джерел;</li>
        <li>зберігання, маніпулювання, обробки великих масивів даних;</li>
        <li>виконання складних операцій просторового аналізу великих масивів даних;</li>
        <li>якісного представлення даних на монітор або на паперові носії;</li>
        <li>ефективну взаємодію компонентів.</li>
    </ul>
    <p>Залежно від призначення і масштабу ГІС апаратне забезпечення може мати різні функціональні групи пристроїв. Для
        простих настільних ГІС кінцевого користувача досить звичайногоофісного комп'ютера з принтером,
        багатофункціональні корпоративні ГІС можуть налічувати десятки робочих місць з різними периферійними пристроями,
        об'єднаних у єдину обчислювальну мережу з керованим доступом. Для виконання деяких технологічних операцій
        введення чи представлення даних у середовищі ГІС розробляються унікальні апаратні пристрої вартістю в десятки і
        сотні тисяч доларів США. У той самий час основна частина бюджетних ГІС-проектів орієнтована на використання
        стандартних комп'ютерів і периферійних пристроїв. У зв'язку з особливостями організаційної структури ГІС
        апаратне забезпечення прийнято поділяти на три основні групи:
    <ol>
        <li>пристрої обробки і збереження даних (власне комп'ютери);</li>
        <li>пристрої збору і введення даних;</li>
        <li>пристрої візуалізації і представлення даних.</li>
    </ol>
    <p>Комп'ютери класифікуються за сферою застосування, конструктивним виконанням та іншими критеріями, Наприклад,
        дотепер використовується така класифікація: суперЕОМ, чи суперкомп'ютери, комп'ютери загального призначення, чи
        універсальні комп'ютери, або «мейнфрейми» (mainframe), робочі станції, персональні комп'ютери, мобільні
        комп'ютери. Засновник фірми Microsoft Білл Гейтс, ввів таку класифікацію персональних комп'ютерів: сервери,
        настільні, портативні, кишенькові, ПК-кіоски й інтерактивні телевізори.
    <p>У наш час практично не існує відмінностей між технічними характеристиками комплектуючих і готових вузлів, з яких
        складають різні класи комп'ютерів. Основні розбіжності між класами визначаються кількістю, компонуванням і
        якістю комплектуючих, типом корпуса й екрана, розмірами, енергоспоживанням. Для апаратного забезпечення ГІС
        можуть використовуватися усі типи комп'ютерів.
    <p>Суперкомп'ю́тер - загальний термін, який використовується для позначення класу існуючих найпотужніших
        комп'ютерних систем. Вони використовуються при вирішенні складних наукових та інженерних задач, які вимагають
        виконання великої кількості математичних операцій та(чи) працюють з великими об'ємами даних. Станом на сьогодні,
        найпотужнішим суперкомп'ютером в Україні є система М-12, створена в компанії «М-Платформа». Швидкодія М-12
        становить 10,2 ПФлопс (тис. трлн. операцій на секунду з 64-бітними числами з плаваючою комою). В даний час М-12
        - дослідницький прототип, йде робота над створенням комплексу «Академік Сергій Корольов», що буде змагатися за
        місце в першій десятці рейтингу Топ-500. Два українських суперкомп'ютери входять в рейтинг Топ50 найпотужніших
        суперкомп'ютерів СНД:
    <ol>
        <li>Центр суперкомп'ютерних обчислень НТУУ «КПІ», Суперкомп'ютерний обчислювальний центр (СОЦ) на базі
            високопродуктивних кластерних систем СКІТ Інституту кібернетики ім. В. М. Глушкова.
        </li>
        <li>Центр суперкомп'ютерних обчислень НТУУ «КПІ» виконує не лише внутрішні завдання університету, але і задачі
            галузевих інститутів, навчальних закладів України і grid-користувачів з будь-якої точки світу. Він тісно
            співпрацює в цьому плані з Інститутом теоретичної фізики та Інститутом математики НАНУ, Національним
            космічним агентством України тощо.
        </li>
    </ol>
    <p>Суперкомп'ютерний обчислювальний центр (СОЦ) на базі високопродуктивних кластерних систем СКІТ створений
        Національною академією наук України в Інституті кібернетики ім. В. М. Глушкова. Серед задач, які розв'язуються
        зараз в СОЦ НАНУ, - попередження екологічних катастроф, обробка і інтерпретація геофизичних даних для розвідки
        нафти і газу, моделювання і прогнозування погоди, а також наслідків шкідливих викидів в атмосферу.
    <p>Сервер призначений для роботи в складі локальних чи розподілених обчислювальних систем, виконує певні функції для
        обслуговування інших комп'ютерів. Залежно від призначення сервери оснащуються наборами комплектуючих з різними
        технічними характеристиками.
    <p>Сервер надає віддалений доступ до векторних карт, растрів і матриць. З'єднання із сервером встановлюється по
        протоколу TCP/IP з використанням механізму сокетів. Між клієнтом і сервером передаються двійкові дані -
        координати об'єктів, атрибути, блоки даних растрів і матриць. Тому для нормальної роботи потрібне
        високошвидкісне з'єднання клієнта й сервера, наприклад, по мережі Ethernet 1 Гбіт/сек.
    <p>Розміщення даних на сервері забезпечує захист даних від нелегального копіювання й зміни. Користувач вибирає дані
        для роботи за їхніми умовними іменами (аліасами). Векторні карти можуть бути відкриті для перегляду або для
        перегляду й редагування. Растри й матриці доступні тільки для перегляду й виконання розрахунків. Крім того, всі
        дані можуть бути закриті або відкриті для копіювання із сервера - в обмінні формати, у буфер обміну або на інші
        карти.
    <p>Як сервер використовуються комп'ютери із процесором Pentium 4 - 3 Ггц 1 Гб ОЗУ, ОС Windows XP. Мережа із
        пропускною здатністю 100 Мбіт/сек (12 Мбайт/сек). Програма ГІС сервер призначена для забезпечення віддаленого
        доступу до картографічних даних користувачів програм ГІС "Карта 2011", Панорама-Редактор, ГІС "Навігатор", ГІС
        "Панорама Міні", ГІС "Панорама АГРО" та інших програм, розроблених у середовищі GIS ToolKit версії 11 та новіше.
    <p>Більшість сучасних робочих станцій складається зі спеціально підібраних стандартних комплектуючих, готові машини
        тестуються й оптимізуються для виконання певного набору завдань і програмного забезпечення. Для геоінформаційних
        систем розроблені типові конфігурації робочих станцій для введення чи виведення даних з різними периферійними
        пристроями, що містять визначені моделі процесорів, відеокарт, дисплеїв, периферійних пристроїв.
    <p>Комп'ютери настільної конфігурації призначені для роботи користувача в умовах офісу чи будинку. Електронні
        компоненти комп'ютера складені в єдиному корпусі (системному блоці), кожен комп'ютер оснащений засобами
        керування, що підключаються (миша, клавіатура, монітор). Комп'ютери цього класу розраховані на виконання
        порівняно нескладних завдань, що не вимагають значних обчислень, побудови складних тривимірних зображень,
        збереження й обробки великих масивів даних. У той самий час розроблений досить широкий набір програмного
        ГІС-забезпечення, здатного ефективно працювати на комп'ютерах з порівняно невисокими технічними
        характеристиками. На базі персональних комп'ютерів можливе створення робочих місць для введення текстових чи
        табличних даних, перегляду готових наборів кінцевих даних, електронних атласів та ін.
    <p>Пристрої збору і введення даних. Стандартними пристроями введення інформації в комп'ютер є клавіатура і графічний
        маніпулятор «миша». Різновидом механічної миші є трекбол - кулька розміщена зверху й обертається рукою
        користувача.
    <p>Для введення великих масивів просторово-розподілених даних у ГІС використовуються спеціальні периферійні
        пристрої. Для цифрування паперових картографічних матеріалів в умовах офісу призначені дигітайзери (ручне
        введення даних) і сканери (автоматичне введення даних). При цифруванні за допомогою дигігайзера картографічні
        об'єкти обводяться по зовнішньому контуру чи осьовій лінії (векторне представлення). Сканер повністю копіює всю
        поверхню вихідного графічного джерела, площина карти розбива. ється на окремі елементи певного розміру (растрове
        представлення), кожному елементу присвоюється код кольору. Скановане зображення може відразу перетворюватися в
        растрові дані формату якогось ГІС-пакета чи використовуватися для розпізнавання і векторного цифрування об'єктів
        ручним (екранне дигітизування) або автоматизованим способом (векторизація).
    <p>Для збору і просторової прив'язки даних у польових умовах використовуються приймачі GPS і електронні геодезичні
        прилади. Сучасні моделі цих пристроїв можуть працювати як автономно, обмінюючись даними з ПК за допомогою
        flash-карт, так і бути прямо підключеними до мобільного ПК. У спеціальних організаціях, що займаються створенням
        і відновленням топографічних карт, використовуються периферійні пристрої, які дозволяють розпізнавати й
        цифрувати рельєф за аерознімками - оптичні або цифрові стереофотограметричні станції.
    <p>Пристрої візуалізації і представлення даних. Крім екрана дисплея, картографічні зображення можуть бути
        відображені на великих екранах за допомогою проекційної системи чи виведення у вигляді твердої копії на папері,
        плівці за допомогою принтера чи плотера.
    <p>Комп'ютерний принтер - периферійний друкувальний пристрій, що підключається до комп'ютера і має змогу друкувати
        текстову та іншу графічну інформацію на папері чи плівці. Технічні характеристики сучасних принтерів
        визначаються просторовим дозволом друку, швидкістю виведення чорно-білої чи кольорової сторінки, вартістю друку
        однієї сторінки, стійкістю зображення під впливом вологи чи світла, розмірами, додатковими функціями.
    <p>Плотер - пристрій, призначений для виведення даних в графічній формі на папір. Найчастіше це широкоформатний,
        струменевий принтер, зорієнтований на друк в декартовій системі координат аркушів формату А0, А1, А2, А3, А4
        тощо різної товщини (від 80 г/м², ватманів, напівватманів тощо). Використовується для друку як у чорнобілому так
        і в кольоровому варіантах, креслень, схем, карт). Також може бути обладнаний головкою з лезом, або спеціальним
        пером, а вивід інформації здійснюється шляхом нарізки матеріалу по кривим лініям (на оракалі, плівках для
        термопереносу тощо). Дані на плотер подаються з програм, призначених для роботи з векторною графікою (Corel
        Draw, Adobe Illustrator тощо).
    <p>Від організації взаємодії і технічних характеристик різних пристроїв залежить ефективність роботи
        геоінформаційної системи в цілому. Узагалі ГІС характеризуються підвищеними вимогами до технічних характеристик
        комплектуючих вузлів комп'ютерів і периферійних пристроїв. Зокрема, спеціальні вимоги висувають до апаратної
        підсистеми збору і введення просторових даних, у якій використовуються спеціалізовані прилади. Особливі вимоги
        також висуваються до підсистеми виведення даних - необхідність друку великоформатних повнокольорових карт
        зумовила необхідність створення спеціального класу друкувальних периферійних пристроїв.
</div>