<h1>
    Головні методи і прийоми просторового ГІС-аналізу
</h1>
<div class="body">
    <p>До складу аналітичних можливостей сучасних інструментальних ГІС пакетів входить декілька десятків різних
        процедур, які в сукупності складають могутній арсенал просторово-часового аналізу і моделювання. Вони
        поділяються на такі групи:</p>
    <ul>
        <li>картометричні операції;</li>
        <li>операції вибору;</li>
        <li>рекласифікація;</li>
        <li>картографічна алгебра;</li>
        <li>статистичний аналіз;</li>
        <li>просторовий аналіз;</li>
        <li>оверлейний аналіз;</li>
        <li>мережний аналіз.</li>
    </ul>
    <p>Крім зазначених, у пакетах, орієнтованих на завдання, пов'язані з проблемами навколишнього середовища, у тому
        числі й екологічними, в окрему групу виділяють:</p>
    <ul>
        <li>аналітичні процедури, що базуються на цифровій моделі рельєфу;</li>
        <li>операції просторової інтерполяції, завданням яких є побудова безперервних поверхонь на основі наборів
            дискретних просторово-координованих даних.
        </li>
    </ul>
    <p>Більшість аналітичних процедур ґрунтується на растровій моделі просторових даних. їх реалізація здійснюється з
        використанням операцій картографічної алгебри. У рамках векторної моделі аналітичні процедури реалізуються з
        використанням алгоритмів аналітичної геометрії.</p>
    <p>Картометричні операції, тобто вимірювання по картах та інших геозображеннях з використанням програмних засобів, є
        одним із найбільш розповсюджених типів аналітичних операцій у ГІС. Можливість і точність виконання вимірювань
        багато в чому визначається моделлю даних (векторна або растрова), методами вимірювань і точністю цифрування
        даних (просторова похибка для векторних об'єктів, розмір комірки растра та ін.). Найбільш часто вимірювальні
        операції в ГІС-пакетах реалізовані у вигляді спеціальних функцій і подані у вигляді окремого пункту меню. До
        таких функцій відносять:</p>
    <ul>
        <li>вимірювання (визначення) координат точки;</li>
        <li>вимірювання відстаней між двома зазначеними координатами (з урахуванням або без урахування системи
            тривимірних координат);
        </li>
        <li>вимірювання довжини прямої чи ламаної лінії;</li>
        <li>вимірювання довжини периметра полілінії;</li>
        <li>вимірювання площі полігона;</li>
        <li>вимірювання об'ємів з використанням поверхні і січної площини.</li>
    </ul>
    <p>Вимірювання координат. Технологія і точність вимірювання координат точки (що існує у вигляді об'єкта на цифровій
        карті або курсора в площині карти) визначаються моделлю даних і використовуваною системою координат. При
        створенні цифрових карт, як правило, використовуються такі системи координат.</p>
    <ol>
        <li>Двовимірна декартова система координат — початок відліку в нульовій точці в нижньому (чи верхньому) лівому
            куті площини карти, координати X і У можуть мати тільки позитивні значення. Ця система координат, як
            правило, використовується в растрових цифрових або сканованих картах. У більшості випадків такі системи
            координат створюються користувачем для локальних проектів.
        </li>
        <li>Двовимірна картезіанська система координат — початок відліку в нульовій точці, координати X і У можуть мати
            як позитивні, так і негативні значення. Значного поширення набули дві глобальні системи координат,
            побудовані за цим принципом, — географічна з нульовою точкою в місці перетинання екватора і Гринвіцького
            меридіана; одиниці вимірювання — кутові градуси-хвилини-секунди; і топографічна система координат з нульовою
            точкою також у місці перетинання екватора і Гринвіцького меридіана; одиниці вимірювання — метри.
        </li>
        <li>Тривимірна сферична система координат — початок відліку X і У з нульової точки в місці перетинання екватора
            і Гринвіцького меридіана, координати X і У можуть мати як позитивні, так і негативні значення, для
            координати 2 відлік ведеться від геометричного центра еліпсоїда
        </li>
    </ol>
    <p>Координати точок у векторному поданні виміряються і подаються користувачу у певному форматі — шестидесятеричні
        градуси, десятинні градуси, метри із заданою кількістю знаків після коми. Для полігональних об'єктів
        визначаються крайні значення координат X і У, координати геометричного центра (центроїда) полігона. При
        растровому поданні просторових даних визначаються координати центральної точки комірки растра.</p>
    <p>Вимірювання відстаней. До складу більшості ГІС-пакетів входить спеціальний інструмент «Лінійка» або «Рулетка», що
        дозволяє проводити вимірювання найкоротшою прямою або за складним маршрутом. Вимірювання відстаней може
        проводитися:</p>
    <ul>
        <li>за найкоротшою прямою з урахуванням або без урахування сферичності земної поверхні («повітрям»);</li>
        <li>за заданим маршрутом з використанням точок повороту;</li>
        <li>за заданим маршрутом з урахуванням нерівностей рельєфу («землею»).</li>
    </ul>
    <p>У складі растрових ГІС-пакетів вимірювання відстаней реалізовано у вигляді аналітичної функції Distance, яка
        дозволяє будувати карти полів рівної далекості комірок растра відносно одного або декількох об'єктів.
        Вимірювання відстаней з урахуванням нерівностей рельєфу може бути реалізоване при спільному використанні карти
        поля рівних відстаней і цифрової моделі рельєфу.</p>
    <p>Вимірювання довжин ліній і периметрів полігонів багато в чому подібне до вимірювання відстаней між двома і більше
        точками. Ця процедура звичайно реалізована у вигляді окремої функції (Оbject Length, Реrіmеtеr), доступної при
        побудові просторових запитів або при виконанні розрахункових операцій у картографічних базах даних. За допомогою
        цієї функції можливий пошук лінійних об’єктів певної довжини, а також автоматичне визначення довжини або
        периметра в заданих одиницях вимірювання і поміщення результату в зазначене поле бази даних. Визначення довжин
        ліній і периметрів може виконуватися як з урахуванням, так і без урахування сферичності поверхні Землі.</p>
    <p>Вимірювання площ. Вимірювання площі векторних і растрових полігонів виконується з використанням спеціальної
        функції Аrea. Вимірювання площі може виконуватися як з урахуванням, так і без урахування сферичності поверхні
        Землі. За допомогою цієї функції можливий пошук полігонів заданої площі, а також автоматичне визначення площі в
        заданих одиницях вимірювання і поміщення результату в зазначене поле бази даних.</p>
    <p>Вимірювання об'ємів виконується з використанням цифрових моделей рельєфу. Користувач повинен задати рівень
        горизонтальної площини, що розсікає, в одиницях вимірювання цифрової моделі рельєфу. Найпростіші процедури
        вимірювання об'ємів визначають об'єми, обмежені земною поверхнею знизу чи зверху, які розміщені нижче або вище
        площини, що розсікає. Звичайно цей спосіб використовується для визначення об'ємів води у водоймищах при різних
        рівнях заповнення. Так само досить поширеними є методи розрахунку об'ємів шляхом порівняння рівнів двох
        поверхонь, що характеризують геологічні або ґрунтові шари.</p>
    <p>Операції вибору допомагають користувачу одержати саме ту інформацію, яка необхідна йому в даний момент роботи з
        ГІС. Вибір необхідної частини інформації з однієї чи декількох картографічних баз даних здійснюється за
        допомогою запитів.</p>
    <p>Запити (query) є одним з основних інструментів практично будь-якого ГІС-пакета, за допомогою якого користувач
        одержує інформацію з бази даних. Як правило, користувач за допомогою різних інструментів організації запитів
        формулює вимоги до інформації, яку необхідно витягти із загального масиву доступних даних і подати у певному
        вигляді.</p>
    <p>Залежно від характеру необхідної інформації запити можуть організовуватися як за місцем розташування (за
        координатами і взаємоположенням об'єктів), так і за атрибутами (ідентифікаторами, класифікаторами і текстовими
        описами, що зберігаються в атрибутивній базі даних). Залежно від типу запиту і переліку параметрів, які беруть
        участь у запиті, його організація здійснюється за допомогою різних наборів інструментів. У ході виконання запиту
        відбувається пошук об'єктів, що задовольняють задані умови; об'єкти, які мають необхідні властивості, попадають
        у вибірку, які може бути оформлена як у вигляді таблиці в окремому екранному вікні, так і у вигляді карти, на
        якій обрані об'єкти позначені спеціально визначеним кольором чи штрихуванням. Для участі в запитах у
        властивостях картографічного шару має бути зазначено, що вибірка дозволена.</p>
    <p>Вибірка може бути скопійована в інший файл даних, використана для зміни графічних змінних обраних об'єктів або
        змісту полів бази даних.</p>
    <p>Основним інструментом запитів за місцем розташування в більшості програмних ГІС-пакетів є велика стрілка на
        кнопці піктографічного меню. За допомогою цього інструмента визначаються й активізуються картографічні об'єкти
        при редагуванні. При затримці цього інструмента над об'єктом на певний час (2-5 с) на екран виводиться текстове
        повідомлення про атрибути об'єкта (звичайно виводяться вміст першого текстового поля або, можливо, настроювання
        на інше поле, або використання комбінації вмісту полів).</p>
    <p>Стандартним інструментом запиту атрибутів одиничного об'єкта є кнопка Інфо (і), при цьому на екрані з'являється
        спеціальне вікно інформації, у яке виводиться вміст усього запису, який відповідає обраному об'єкту. Так само
        можуть бути організовані групові просторові вибірки за допомогою побудови рамок, що розсікають. При вибірці
        об'єктів у прямокутній області в підсумкову вибірку потраплять усі об'єкти, центральні точки яких (для ліній і
        полігонів) містяться всередині рамки, що розсікає. Аналогічно відбувається вибірка в радіальній області, радіус
        області звичайно відображається в рядку стану екрана програми. Для пошуку об'єктів, які знаходяться в межах
        території більш великого полігона, використовується вибірка в області довільної форми. При вказівці на певний
        полігон одного шару всі точкові, лінійні або полігональні об'єкти інших шарів, що знаходяться на його території,
        попадають у вибірку.</p>
    <p>При організації просторових вибірок з використанням різних шарів використовуються різні функції визначення
        взаемоположення просторових об'єктів. Просторове положення розраховується відносно одини-чних об'єктів, груп
        об'єктів або усієї сукупності об'єктів зазначених шарів. У багатьох пакетах ГІС доступні такі функції (рис.
        1):</p>
    <img src=".\resourses\methodological-research\article-res\1.jpg">
    <p class="description">Рис. 1 – Методи організації просторових вибірок</p>
    <ul>
        <li>цілком містить — у вибірку попадають всі об'єкти, у межах яких цілком знаходяться об'єкти іншого шару (а);
        </li>
        <li>частково містить — у вибірку попадають всі об'єкти, у межах яких знаходяться центральні точки об'єктів
            іншого шару (б);
        </li>
        <li>цілком міститься — у вибірку попадають об'єкти, що цілком знаходяться всередині об'єктів іншого шару (в);
        </li>
        <li>частково міститься — у вибірку попадають об'єкти, центрпльні точки яких знаходяться всередині об'єктів
            іншого шару (г);
        </li>
        <li>перетинаються — об'єкти одного або різних шарів мають хоча б одну спільну точку на межі (д);</li>
        <li>знаходяться на певній відстані від межі (лінії, точки) іншого об'єкта на одному чи різних шарах (будується
            буферна зона відповідного розміру) (є).
        </li>
    </ul>
    <p>Побудова запиту за атрибутами, що зберігаються в записах реляційної бази даних, виконується з використанням
        спеціальних мов програмування — універсальних (ЗОЦ мова структурованих запитів) або ГІС- пакета. Звичайно запит
        являє собою вираз, написаний в спеціальному редакторі або рядку побудови запиту; текст запиту може бути
        збережений для повторного використання. У запиті використовуються імена полів атрибутивної бази даних, оператори
        і функції.</p>
    <p>Дані, за якими виробляється пошук, визначаються ім'ям файлу картографічної бази даних і ім'ям поля в цій базі
        даних; як правило, пропонується список імен доступних полів.</p>
    <p>При побудові текстів запитів мовою SQL для користувача доступні оператори і функції однієї з версій цієї мови
        роботи із СКБД. Тут можливий пошук у двох і більше таблицях одночасно, зв'язування полів різних таблиць. За
        допомогою SQL-запитів можливе здійснення пошуку у віддалених базах даних, що зберігають дані в різних файлових
        форматах, одержання вибірки, побудованої за заданою умовою, і збереження отриманої інформації у внутрішньому
        форматі конкретного ГІС-пакета.</p>
    <p>Рекласифікація є поширеною на практиці операцією, суть якої полягає в зміні змісту растрової карти або на основі
        характеристик, які містяться в іншій карті (чи картах) з наявної бази даних, або одержаних в результаті
        просторового аналізу, або, нарешті, на основі сформульованої умови. Операція застосовується для створення нових
        шарів просторових даних для даної території на основі вже наявної цифрової картографічної бази. Шляхом
        рекласифікації можуть бути побудовані тематичні карти, що мають самостійне наукове або прикладне значення,
        наприклад, карти еколого-технологічних груп земель, побудовані на основі карти крутизни схилів, або карти оцінки
        умов життя людей для гірських територій, побудовані шляхом рекласифікації цифрової моделі рельєфу тощо.</p>
    <p>Більшість процедур аналізу в середовищі ГІС, які виконуються з растровими просторовими даними, виконується з
        використанням операцій картографічної алгебри.</p>
    <p>Операції картографічної алгебри поділяються на локальні операції (роint оperation), операції сусідства
        (neighbourhood оperation), або фокальні операції (focal operation), зональні операції (area operation) і
        глобальні операції (map operation). Операції картографічної алгебри реалізуються за допомогою набору операторів,
        які виконуються через введення команд, записаних з використанням певних правил побудови. У загальному вигляді ці
        команди мають вигляд: Результат = оператор (вираз), де Результат — результуюча карта; оператор — один з
        операторів картографічної алгебри; вираз — карта, або оператор, або послідовність операторів.</p>
    <p>Необхідною умовою для виконання операцій з декількома картографічними шарами є збіг просторових атрибутів цих
        шарів — кількості рядків, кількості стовпців, розміру комірок растра, систем координат і картографічних
        проекцій, що використовуються.</p>
    <p>Локальні операції. Клас локальних операцій містить функції, що впливають на картографічні шари «покомірково»,
        тобто — на окремі комірки однієї або декількох карт. Властивості комірок змінюються на основі вмісту цих самих
        комірок або вертикального потоку матеріалу через ці комірки. Операції не залежать від властивостей навколишніх
        комірок і для кожної комірки нове значення обчислюється на основі значень у цій комірці в одному (чи більше) з
        картографічних шарів (Рис. 2).</p>
    <img src=".\resourses\methodological-research\article-res\2.jpg">
    <p class="description">Рис. 2 – Приклад локальної операції картографічної алгебри (операції додавання)</p>
    <p>Найбільш простими з локальних операцій є арифметичні, тригонометричні, експоненціальні (показові) і логарифмічні
        функції, застосовувані до комірок одного або кількох шарів даних. Простими є оператори округлення, оператори
        порівняння й умовні оператори. До цієї ж групи операторів належать булівські (логічні) оператори, оператори
        перекодування карти за алгоритмами, що задаються користувачем, і генерування полів випадкових чисел, реалізовані
        в ГІС-пакетах з розвинутими аналітичними можливостями (Рис. 3).</p>
    <img src=".\resourses\methodological-research\article-res\3.jpg">
    <p class="description">Рис. 3 – Просторова інтерпретація операцій логічної алгебри (затемненим показано області, де
        результат виконання операцій дорівнює "1", світлим – "0")</p>
    <p>Нижче наведений стислий опис операторів даного класу, що найбільш часто використовуються в сучасних
        інструментальних ГІС.</p>
    <p>Арифметичні оператори:</p>
    <ul>
        <li>+ — оператор додавання;</li>
        <li>(<) — оператор «менше»;</li>
        <li>(>)- оператор «більше або дорівнює»;</li>
        <li>(<) — оператор «менше або дорівнює»;</li>
        <li>(=) — оператор «дорівнює»;</li>
        <li>(=) — оператор «не дорівнює»;</li>
        <li>— оператор віднімання;</li>
        <li>* — оператор множення;</li>
        <li>/ — оператор ділення;</li>
        <li>** — оператор піднесення до ступеня.</li>
    </ul>
    <p>Логічні оператори є операторами булевої, алгебри — розділу математики, який вивчає закони алгебри двох значень.
        Уперше досліджений Джорджем Булем, англійським математиком і логіком XIX сторіччя. Загальний вигляд булівської
        операції:</p>
    <p>З операторів логічної алгебри можуть формуватися складні логічні функції на основі законів комутативності,
        асоціативності і дистрибутивності.</p>
    <p>Результатом виконання логічних операцій є карта, яка містить тільки логічні "1" і/або "0". Найбільш часто
        використовуваними логічними операторами є аnd (логічне «і»), оr (логічне «або»), not (логічне «ні»), і деякі
        інші. Просторова інтерпретація операцій логічної алгебри наведена на рис. 3.</p>
    <p>Операція А апгї В має результатом "1" у тих місцеположеннях (комірках растра), де одночасно є об'єкти А
        (наприклад, нееродовані ґрунти) і В (наприклад, ділянки з нахилом земної поверхні, що не перевищує 3о</p>
    <p>Операція А оr В («або», що не виключає) має результатом "1" у тих місцеположеннях, де є об'єкт А або об'єкт В,
        включаючи частини території, де ці об'єкти присутні одночасно (наприклад, для ділянок досліджуваної території з
        не еродованими ґрунтами або з ухилом поверхні менше 3°).</p>
    <p>Операція А not В має результат "1" для частини об'єкта А, яка не збігається з об'єктом В (наприклад, для ділянок
        з нееродованими ґрунтами, які мають ухил 3° і більше).</p>
    <p>Операція А хоr В має результат "1" для об'єктів А або В за винятком ділянок, де ці об'єкти присутні одночасно
        (наприклад, для ділянок досліджуваної території або з нееродованими ґрунтами, або з ухилом поверхні менше
        3°).</p>
    <p>Для логічних функцій без дужок використовується такий порядок обчислень:</p>
    <ul>
        <li>обчислити операції заперечення;</li>
        <li>обчислити операції логічного множення;</li>
        <li>обчислити операції логічного складання.</li>
    </ul>
    <p>Порядок дій може бути змінений за допомогою круглих дужок.</p>
    <p>До алгебраїчних операцій відносять операції перетворення змісту комірок растра з використанням таких алгебраїчних
        функцій, як степенева (з виділенням як самостійного оператора обчислення квадрата числа і кореня квадратного з
        числа), логарифмічна (з використанням як десяткових, так і натуральних логарифмів), експоненційна, ціла частина
        числа (реалізована шляхом відкидання дробової частини або за правилами округлення), абсолютна частина числа,
        знак числа і деякі інші. До цієї ж групи слід віднести операції генерації випадкових поверхонь, що
        підпорядковуються певному закону розподілу, у тому числі, як правило, нормальному, експоненційному і
        рівномірному.</p>
    <p>З тригонометричних операцій в ГІС, як правило, реалізуються основні прямі і зворотні тригонометричні функції:
        синус (sin), косинус (соs), тангенс (tg), котангенс (сtg) і, відповідно, арксинус (arcsin), арккосинус (arccos),
        арктангенс (arctg) i арккотангенс (arcctg).</p>
    <p>При операціях сусідства (фокальних операціях) вміст (властивості) комірки растра зіставляється зі вмістом
        (властивостями) оточуючих комірок і змінюється за певним правилом, або на основі властивостей оточуючих комірок,
        або залежно від характеристик потоку матеріалу із сусідніх комірок. В цьому випадку для кожної комірки нове
        значення обчислюється на основі інформації, що міститься в одному чи декількох картографічних шарах у комірках,
        просторово асоційованих з даною, і зберігається в новому картографічному шарі.</p>
    <p>Розглянемо далі зазначені вище види операцій сусідства більш докладно.</p>
    <p>Операції в ковзному (або змінному) вікні. Полягають у виконанні певних операцій в прямокутному вікні, що
        переміщається по растру, з присвоєнням на кожному кроці результату центральній комірці вікна.</p>
    <p>Існують дві групи операцій у ковзному вікні. До першої групи відносять операції обрахування деяких статистичних
        параметрів зі значень комірок, що надходять у вікно.</p>
    <p>Для цих операцій розмір квадратного вікна визначається користувачем і не обмежений загальною кількістю комірок.
        До цієї групи відносять операції, що виконуються такими операторами, як:</p>
    <ul>
        <li>визначення мінімального значення у вікні (minimum);</li>
        <li>визначення максимального значення у вікні (maximum);</li>
        <li>визначення різниці між найбільшим і найменшим значеннями у вікні (range);</li>
        <li>визначення суми всіх значень у вікні (total);</li>
        <li>визначення середнього арифметичного значення у вікні (mode);</li>
        <li>визначення значення, що з'являється у вікні найчастіше;</li>
        <li>визначення значення, що з'являється у вікні найрідше;</li>
        <li>визначення кількості унікальних значень у вікні і деякі інші.</li>
    </ul>
    <p>До другої групи операцій у ковзному вікні відносять операції у фіксованому вікні розміром 3x3 комірки, за
        допомогою яких обчислюються морфометричні характеристики топографічної поверхні (Рис. 4.)</p>
    <img src=".\resourses\methodological-research\article-res\4.jpg">
    <p class="description">Рис. 4 – Операції в ковзаному вікні розміром&sup3*3</p>
    <p>Як вихідна карта в цьому випадку використовується цифрова модель рельєфу. До складу операцій цієї групи належать
        операції з обчислення ухилів, експозицій, кривизни поверхні і побудови карт місцевих ліній течій.</p>
    <p>Дистанційні операції визначають шлях між розглянутою (цільовою) та іншими комірками растра. При цьому шлях може
        бути визначений двома способами: як найкоротша відстань між комірками або по лініях течії з використанням карти
        місцевих ліній течії. При цьому й у першому, і у другому випадках можуть враховуватися витрати на подолання
        кожної комірки (тертя).</p>
    <p>Операція з аналізу видимості використовує вихідну карту висот (цифрову модель рельєфу), за якою визначаються
        комірки, що знаходяться в прямій видимості від даної.</p>
    <p>Зональні операції картографічного моделювання складаються із операторів, що обчислюють нове значення для кожної
        комірки як функцію значень комірок, які входять у той самий ареал (зону), що і розглянута в даний момент
        комірка. Ці операції забезпечують агрегування значень комірок у межах територіальних одиниць (ареалів)
        розглянутої карти. Для кожної комірки розглянутої територіальної одиниці обчислюється статистичне значення на
        основі значень комірок вихідної карти. Це значення присвоюється всім коміркам результуючої карти, що належить до
        однієї (даної) територіальній одиниці (зони, ареалу). Загальний формат команд більшості зональних операцій
        такий: Результат = оператор (вираз, класи ареалів), де Результат – результуюча карта; оператор — один із
        зональних операторів; вираз — карта змінної, з якою виконуються дії (обчислюється площа, середнє значення,
        знаходиться кількість унікальних значень і т. ін.), класи ареалів — карта просторового розподілу деяких класів
        просторових ареалів (ґрунтових, рослинності, ландшафтних, адміністративних або господарських одиниць).</p>
    <p>Глобальні операції виконуються в тому випадку, коли карта класів об'єктів представлена одним об'єктом,
        розподіленим по всій площі. Результатом виконання глобальної операції є число — функція значень всіх комірок, що
        не містять відсутні значення. До складу глобальних входять такі оператори, як:</p>
    <ul>
        <li>обчислення загальної площі комірок;</li>
        <li>обчислення суми значень всіх комірок;</li>
        <li>обчислення середнього значення зі значень усіх комірок;</li>
        <li>знаходження максимального чи мінімального значень зі значень усіх комірок;</li>
        <li>визначення площі і довжини комірки растра і деякі інші.</li>
    </ul>
    <p>Загальним форматом глобальної операції є:</p>
    <p class="center">Результат = оператор (вираз), де</p>
    <p>Результат — результуюча карта; оператор — один із глобальних операторів; вираз – карта змінної. Результат
        виконання глобальних операцій присвоюється всім коміркам нової карти з такими ж просторовими атрибутами, що й у
        вихідної.</p>
    <p>Сучасні інструментальні ГІС мають різні можливості статистичного аналізу.</p>
    <p>Функції статистичного аналізу реалізовані як власні оператори і відображені в головному меню. У низці пакетів, у
        тому числі й у пакеті Маріnfo, що широко використовується в Україні, функції статистичного аналізу реалізуються
        засобами офісного пакета фірми (МS Ехсеl), з яким вони цілком сумісні.</p>
    <p>До найбільш часто реалізованих у рамках ГІС-пакетів операцій статистичного аналізу відносять такі:</p>
    <p>обчислення статистичних параметрів просторового розподілу змінної, представленої на карті, — середнього,
        середньоквадратичного відхилення, дисперсії, мінімального і максимального значень;</p>
    <p>побудова гістограм просторового розподілу змінної для всієї території або її частини в графічній і табличній
        формі з можливістю задання користувачем кількості інтервалів і/або ширини інтервалів.</p>
    <p>У пакетах з розвинутими аналітичними можливостями набір операцій статистичного аналізу значно розширений, у тому
        числі:</p>
    <ul>
        <li>визначення статистичних параметрів — середнього, середньоквадратичного відхилення, мінімального і
            максимального значень, розмаху коливань вибіркової сукупності, сформованої на основі карти по масці, що
            задається;
        </li>
        <li>лінійної регресії просторових розподілів двох змінних з побудовою графіка регресії;</li>
        <li>множинної лінійної регресії кількох просторових змінних (геозображень);</li>
        <li>лінійної регресії двох логарифмічно перетворених просторово розподілених змінних;</li>
        <li>побудови трендової поверхні геозображення з використанням поліномів першого, другого і третього порядку,
            параметри яках визначаються за допомогою методу найменших квадратів;
        </li>
        <li>розрахунку характеристики «однокрокової» просторової автокореляції – статистики Морана / для усього
            геозображення або його частин, що задаються картою-маскою;
        </li>
        <li>зіставлення двох просторових розподілів і оцінка їх відповідності один одному;</li>
        <li>нормалізації просторового розподілу кількісної змінної з використанням попередньо обчислених середнього
            арифметичного значення і середньоквадратичного відхилення — шляхом віднімання від значення кожної комірки
            середнього значення і ділення отриманої різниці на середньоквадратичне відхилення;
        </li>
        <li>генерування просторового розподілу випадкової змінної, що підпорядковується лінійному, нормальному і
            логнормальному законам розподілу.
        </li>
    </ul>
    <p>До методів просторового аналізу можна, по суті, віднести переважну більшість процедур аналітичного блока сучасних
        ГІС, а саме: побудову буферів, аналіз географічного збігу і включення, аналіз близькості і зонування території з
        використанням полігонів Тиссена — Вороного.</p>
    <p>Побудова буферів. Точкові, лінійні і територіальні об'єкти можуть бути використані для побудови нових
        територіальних об'єктів, межі яких знаходяться на певній відстані від вихідних. Ці нові територіальні об'єкти в
        ГІС-технології називаються буферами. Буфери можуть будуватися навколо точкових (свердловина питного
        водопостачання, зосереджене джерело забруднення та ін.), лінійних (ріка, траса автомобільної дороги або
        залізниці, нафтопроводу тощо) і просторових (територіальних) об'єктів (смітник побутових відходів, водоймища,
        лісовий масив та ін.) (рис. 5).</p>
    <img src=".\resourses\methodological-research\article-res\5.jpg">
    <p class="description">Рис. 5 – Буфери навколо точкових (а), лінійних (б) та просторових (в) об’єктів</p>
    <p>Навколо точкового об'єкта буфер утворить коло з радіусом, визначеним користувачем або обчисленим за зазначеним
        правилом з використанням набору характеристик.</p>
    <p>Для лінійних об'єктів буфер формує прилеглі до них смуги, що вміщують територію, яка лежить у межах визначеної
        відстані від лінійного об'єкта. Відстань знову-таки може бути задана або обчислена. Можливе задання буферів
        змінної ширини а відстанню від лінійного об'єкта, пропорційною деяким атрибутам.</p>
    <p>Для просторового об'єкта буфер може бути побудований поза вихідним просторовим об'єктом або всередині нього.</p>
    <p>Розміри буфера можуть бути постійними або визначені автоматично за деякими правилами на основі інформації, що
        міститься в базі даних, або змінюватися відповідно до змінних зовнішніх умов.</p>
    <p>Аналіз географічного збігу і включення полягає у визначенні взаємного розміщення точкових, лінійних і просторових
        об'єктів. Варіантами є:</p>
    <ul>
        <li>визначення знаходження всіх точкових об'єктів (наприклад, метеорологічних станцій), що знаходяться в межах
            територіального об'єкта (наприклад, адміністративної області або річкового басейну);
        </li>
        <li>ідентифікація всіх лінійних об'єктів (наприклад, магістральних трубопроводів) у межах територіального
            об'єкта (наприклад, адміністративної області);
        </li>
        <li>визначення територіальних об'єктів (наприклад, водойм, звалищ побутових відходів, масивів лісонасаджень), що
            лежать у межах інших територіальних об'єктів (наприклад, території міста, річкового басейну).
        </li>
    </ul>
    <p>Дана процедура часто використовується разом із процедурою побудови буферів для знаходження об'єктів, що
        потрапляють у межі буферної зони.</p>
    <p>Аналіз близькості. Завданням даного виду географічного аналізу є пошук об'єктів, що лежать на визначеній відстані
        від початкового об'єкта. Результати аналізу можуть бути використані для подальшої обробки. Концептуально ця
        процедура подібна до побудови буфера «на льоту» і не вимагає розроблення нової карти — карти буферів. Аналіз
        близькості передбачає, наприклад, пошук усіх будинків, що містять небезпечні матеріали, у межах 300м від місця
        пожежі. Ця процедура може також бути використана, наприклад, для виявлення всіх людей похилого віку, а також
        інших людей із хронічними респіраторними захворюваннями, які потрапляють у зону задимлення і потребують
        евакуації цри пожежі тощо. Зонування території за допомогою полігонів Тиссена – Вороного.</p>
    <p>Полігонами Тиссена — Вороного називаються багатокутники, побудовані навколо мережі точкових об'єктів таким чином,
        що для будь-якої позиції в межах полігонів відстань до центрального точкового об'єкта завжди менша, ніж до
        будь-якого іншого об'єкта мережі, що розглядається.</p>
    <p>Побудова багатокутників (полігонів) Тиссена — Вороного на практиці є однією з основних операцій, що поділяють
        територію, яка розглядається, на сукупність районів, що визначають просторові асоціації і взаємодії. Цей вид
        аналізу широко використовується для розподілу поверхні на основі визначених користувачем критеріїв і атрибутів.
        Як приклад можна навести завдання визначення ареалів поширення даних спостережень на мережі метеорологічних
        станцій, нерівномірно розміщених у межах розглянутої території (рис. 6).</p>
    <img src=".\resourses\methodological-research\article-res\6.jpg">
    <p class="description">Рис. 6 – Полігони Тиссена, побудовані для нерівномірної мережі точкових об’єктів</p>
    <p>При представленні аналітичних можливостей ГІС серед інших звичайно називають і оверлейні операції, або оверлейний
        аналіз. Як правило, при цьому розуміють операції „накладення” один на одного двох або більше шарів, в результаті
        якого утворюється графічна композиція, або графічний оверлей, вихідних шарів або один похідний шар, що містить
        композицію просторових об'єктів вихідних шарів; топологія цієї композиції і атрибути арифметично або логічно
        похідні від топології і значень атрибутів вихідних об'єктів в топологічному оверлеї. У сумісних оверлейних
        операціях можуть використовував-тися різні типи просторових об'єктів: точкові, лінійні і полігональні. Проте
        найчастіше спостеріга-ються накладення двох полігональних шарів.</p>
    <p>Аналіз рельєфу. Перш ніж перейти до процедур аналізу рельєфу в ГІС, які базуються на цифрових моделях рельєфу,
        слід визначити поняття «цифрова модель рельєфу» і розглянути методи побудови цифрових моделей рельєфу, оскільки
        внаслідок нерегулярності топографічної поверхні й обмеженості наявних даних для її побудови – це завдання не є
        тривіальним.</p>
    <p>Під цифровою моделлю рельєфу — ЦМР, хоча останній термін не є точним, оскільки його дослівним перекладом з
        англійської мови є термін «цифрова модель місцевості») – у геоінформатиці звичайно розуміють цифрове подання
        топографічної поверхні у вигляді регулярної мережі комірок заданого розміру або нерегулярної трикутної мережі.
        Ці дві форми подання ЦМР є в наш час взаємно конвертованими і мають практично однакові можливості щодо подання і
        аналізу рельєфу.</p>
    <p>Відомо, що в геоморфології і картографії існують дещо інші підходи до трактування цього поняття. V коло
        визначення ЦМР згідно з цими підходами звичайно входять форма задання аихід-них даних і спосіб обчислення
        значень поля в заданих точках.</p>
    <p>Так, О. В. Поздняков і І. Г. Черваньов (1990) цифровою (точніше, структурно-цифровою) моделлю рельєфу називають
        модель, утворену дискретним масивом чисел, що описує просторове положення характерних точок каркасних ліній
        (тальвегів і вододілів) одного порядку. У картографії під ЦМР будь-якого географічного поля, у тому числі й
        рельєфу, розуміють певну форму подання вихідних даних і спосіб їх структурного опису. Це дозволяє обчислювати
        (відновлювати) значення поля в заданій області шляхом інтерполяції і/чи екстраполяції (Сербенюк, 1990).</p>
    <p>Уявляється, що з погляду на аналіз територіальних природних або природно- господарських комплексів і вирішення
        прикладних завдань, пов'язаних з навколишнім середовищем, засобами ГІС-технологій, кращим є перше визначення.
        Воно трактує ЦМР як один із шарів інформаційного блока ГІС, що містить цифрову інформацію про відмітки
        топографічної поверхні у вигляді растра або ТІМ-моделі. У цьому випадку форма представлення вихідних даних про
        рельєф і спосіб відновленнязначень топографічної поверхні по комірках растра заданого розміру з використанням
        методів інтерполяції й екстраполяції складають основу її побудови.</p>
    <p>Дані про рельєф можуть бути отримані шляхом натурних вимірювань, включаючи топогеодезичні роботи на місцевості,
        промірні роботи на водоймах, дистанційне зондування, а також картометричні роботи. У зв'язку із цим можливі
        істотно різні форми задания цих даних:</p>
    <ol>
        <li>з регулярним розміщенням точок на прямокутних, трикутних і шестикутних (гексагональних) сітках, отриманих
            при тахеометричній зйомці або спеціальних видах площинного нівелювання, а також у результаті картометричних
            робіт;
        </li>
        <li>з нерегулярним поданням точок по структурних лініях, профілях, центрах площ, локальних точках, отриманих у
            результаті інструментальної зйомки чи карто метричних робіт;
        </li>
        <li>з ізолінійним заданням точок, розміщених по ізолініях рівномірно або з урахуванням складності їхнього
            рисунка, отриманих, при цифруванні горизонталей топографічних карт.
        </li>
    </ol>
    <p>Форма задаяня вихідних даних про рельєф, їх детальність і вірогідність визначають вибір різновиду ЦМР, спосіб
        просторової інтерполяції в межах досліджуваної території, а також ступінь адекватності побудованої моделі
        рельєфу. Найбільш поширеним різновидом цифрової моделі рельєфу, що використовується, є цифрове подання
        топографічної поверхні у вигляді растра (рис. 7. а).</p>
    <img src=".\resourses\methodological-research\article-res\7.jpg">
    <p class="description">Рис. 7 – Цифрова модель рельєфу у вигляді растра (а) і трикутної нерегулярної мережі (б)</p>
    <p>Побудова ЦМР у цьому випадку полягає в поширенні наявного обмеженого набору точкових даних про відмітки
        топографічної поверхні в прилеглі комірки растра, що суцільно покриває дану територію, з використанням методів
        просторової інтерполяції. Просторова інтерполяція точкових даних ґрунтується на виборі аналітичної моделі
        топографічної поверхні.</p>
    <p>Завдання інтерполяції тут полягає в тому, щоб побудувати за цими даними цю функцію для всієї області, тобто
        задати алгоритм обчислення функції (X, У) у будь-якій точці з координатами X, У. У зв'язку з неможливістю опису
        топографічної поверхні в межах усієї території однією функцією для просторової інтерполяції поверхонь з
        регулярним розміщенням опорних точок звичайно використовують методи локальної (або кускової) інтерполяції. Для
        визначення значення змінної в розглянутій точці (вузлі) використовується не вся сукупність наявних даних, а дані
        вимірювань у точках, що знаходяться в деякому околі цієї точки. При цьому використовують поліноміальну і
        сплайнову інтерполяцію із застосуванням в останньому випадку бікубічних сплайнів. При нерегулярній схемі
        розміщення опорних точок використовується кускова поліноміальна інтерполяція з застосуванням як ортогональних,
        так і неортогональних поліномів, рядів Фур'є, аналітична сплайн-інтерполяція (з використанням — О-сплайнів),
        ковзного зваженого осереднення і деякі інші методи.</p>
    <p>Для мережного аналізу в різних ГІС-пакетах розроблено ряд спеціальних алгоритмів, користувач має можливість
        створювати власні алгоритми на основі набору функцій мережного аналізу. Перед початком аналізу користувач
        повинен провести підготовку мережі — установити початкові і кінцеві точки для розрахунку напрямку потоку (руху);
        установити стан перемикачів, що забороняють рух у визначеному напрямку; встановити проміжні пункти руху на
        ребрах або з'єднаннях. На основі стандартних функцій (визначення пройденої відстані, визначення напрямку руху,
        опору при русі та ін.) в ГІС, як правило, реалізовані такі алгоритми мережного аналізу:</p>
    <ul>
        <li>визначення найкоротшого маршруту руху транспорту між двома і більше точками (враховується тільки сума довжин
            ребер);
        </li>
        <li>визначення оптимального маршруту руху транспорту між двома і більше точками (враховується довжина і час
            проходження ребер залежно від атрибута, що характеризує опір руху);
        </li>
        <li>визначення максимальної або оптимальної швидкості руху транспорту між двома і більше тачками (враховується
            довжина і час проходження ребер залежно від атрибута, що характеризує опір руху, кількість транспорту,
            зупинки на світлофорах);
        </li>
        <li>визначення витрат на рух транспорту, нарахування дорожніх зборів (ураховується довжина і час проходження
            ребер залежно від атрибута, що характеризує опір руху);
        </li>
        <li>пошук маршруту для перевезення небезпечних матеріалів (ураховуються атрибути ребер і з'єднань, що
            забороняють відповідні дії);
        </li>
        <li>визначення зони транспортної досяжності з початкової точки за певний відрізок часу (ураховуються довжина і
            час проходження ребер залежно від атрибута, що характеризує опір руху);
        </li>
        <li>визначення тиску чи температури у водопровідній або газовій мережі (ураховуються довжина і діаметр труб,
            пропускна здатність вентилів, тиск або температура на виході з джерела, тиск або температура у кінцевого
            користувача);
        </li>
        <li>визначення спадання напруги в електричній мережі (ураховуються довжина, перетин і опір ребер, коефіцієнти
            передачі й опору на з'єднаннях).
        </li>
    </ul>
    <p>У процесі аналізу проводиться трасування мережі від початкової до кінцевої точки, зазначеної користувачем.
        Залежно від поставленої мети будуть обрані і відповідним чином позначені ребра і з'єднання, що знаходяться на
        маршруті руху, у табличному вигляді подані відстані і витрати на подолання маршруту (витрати часу, палива та
        ін.; витрати продукту або електричної напруги); списки проміжних об'єктів на маршруті, їхній стан. Отриманий у
        результаті аналізу маршрут або списки об'єктів на маршруті можуть бути використані для побудови інших
        аналітичних процедур.</p>
</div>