<h1>
Берестечко
</h1>
<div class='body'>
<p>	Битва під Берестечком 1651 року вважається найбільшою за всю національно-визвольну війну. До ХІХ століття Берестецька битва залишалася 
наймасовішою в історії Європи. Бойові дії відбувалася між селами Острів та Пляшева, що на Рівненщині. На місці цих визначних подій створено Національний 
історико-меморіальний заповідник Поле Берестецької битви.
<p> 
<p>	</div>
