<h1>
    Архітектурні пам'ятки та пам’ятки містобудування
</h1>
<div class="body">
    <p>Пам'ятка архітектури один із різновидів пам'яток культури, високохудожній архітектурний твір, збудований у минулі
        історичні періоди. Хронологічна дистанція має складати понад 40-50 років від сучасного моменту, споруда повинна
        оцінюватися передовсім з точки зору співвідношення просторів і мас, мистецького вирішення екстер'єру та
        інтер'єру.</p>
    <p>Архітектурними пам'ятками є:</p>
    <ul>
        <li>історичні — будинки, споруди, їх комплекси (ансамблі), окремі поховання та некрополі, місця масових поховань
            померлих та померлих (загиблих) військовослужбовців (у тому числі іноземців), які загинули у війнах,
            внаслідок депортації та політичних репресій на території України, місця бойових дій, місця загибелі бойових
            кораблів, морських та річкових суден, у тому числі із залишками бойової техніки, озброєння, амуніції тощо,
            визначні місця, пов'язані з важливими історичними подіями, з життям та діяльністю відомих осіб, культурою та
            побутом народів;
        </li>
        <li>об'єкти монументального мистецтва — твори образотворчого мистецтва: як самостійні (окремі), так і ті, що
            пов'язані з архітектурними, археологічними чи іншими пам'ятками або з утворюваними ними комплексами
            (ансамблями);
        </li>
        <li>об'єкти архітектури — окремі будівлі, архітектурні споруди, що повністю або частково збереглися в
            автентичному стані і характеризуються відзнаками певної культури, епохи, певних стилів, традицій,
            будівельних технологій або є творами відомих авторів;
        </li>
        <li>об'єкти містобудування — історично сформовані центри населених місць, вулиці, квартали, площі, комплекси
            (ансамблі) із збереженою планувальною і просторовою структурою та історичною забудовою, у тому числі
            поєднаною з ландшафтом, залишки давнього розпланування та забудови, що є носіями певних містобудівних ідей.
        </li>
    </ul>
</div>