<h1>
Домузла
</h1>
<div class='body'>
<p>	Орнітологічний заказник площею 1411,9га. Розташований на землях Привільненської сільської ради Каланчацького району. В заказнику зустрічається 
понад 200 видів птахів. Відмічені скупчення крижнів — до 30 тис. особин, шпаків — до 60 тис. В заказнику охороняються птахи на прольоті та на гніздуванні, серед 
них і рідкісні червонокнижні види — жовта чапля, коровайка, дрохва, червоновола казарка, лунь польовий і степовий, орлан-білохвіст та ін.
<p>	</div>
