<h1>
    Програмне забезпечення ГІС
</h1>
<div class="body">
    <p>Програмне забезпечення ГІС можна представити як сукупність взаємозв'язаних концентричних оболонок. Ядро такої
        сукупності складає системне програмне забезпечення, у тому числі операційна система, система управління базою
        даних та ін. Оболонкою ядра є базовий інструментальний програмний засіб ГІС, який забезпечує виконання всіх
        функцій: введення, інтеграція, зберігання, обробка, аналіз і презентація географічній інформації.
    <p>Базовий інструментальний програмний засіб ГІС може бути представлений сукупністю програмних продуктів, що
        реалізовують окремі функції. Але якщо програмний продукт не виконує всі вказані функції ГІС, він розглядається
        як спеціалізоване ГІС-прикладання, призначене для задоволення специфічних запитів користувачів.
    <p>У даний час у світі розроблено сотні комерційних програмних продуктів ГІС різної якості й функціональних
        можливостей. При всій різноманітності конкретних систем в них можна виділити інваріантне технологічне ядро, не
        залежне від предметної галузі, ні від проблемної орієнтації, ні від додатків взагалі, що дозволяє говорити про
        деяку геоінформаційну технологію як технологію збору, введення інтеграції, зберігання, обробки, аналізу і
        презентації географічної інформації, яка викристалізувалася з досвіду реалізації і експлуатації різних
        геоінформаційних систем.
    <p>Компанією ESRI створені потужні системи програмних продуктів під назвою ArcGIS 9.x, ArcGIS 10.x, які є
        оптимальним рішенням для побудови корпоративної ГІС, фундаментом інформаційної системи ефективного управління
        крупними державними і комерційними організаціями.
    <p>Фундаментальна архітектура ArcGIS 9.x забезпечує її використання у багатьох прикладних сферах і на різних рівнях
        організації роботи: на персональних комп'ютерах, на серверах, через Web або в польових умовах. ArcGIS 9.3
        включає:
    <ul>
        <li>настільні ГІС (ArcView, ArcEditor, ArcInfo, DesktopExtensions, ArcCGISEngine, ArcExplorer, ArcReader), які
            дозволяють ефективно виконувати і моделювати операційний процес, виконувати просунутий просторовий аналіз,
            візуалізувати результати на картах високої якості;
        </li>
        <li>серверні ГІС (ArcGISServer, ArcGISServerExtensions, ArcGISforAUTOCAD), які дозволяють розподіляти карти,
            моделі і інструменти іншим користувачам в організації так, що вони добре відповідають їх процесам;
        </li>
        <li>мобільні ГІС (ArcGIS Mobile, ArcPad), які надають можливість виконавцям в польових умовах отримувати,
            зберігати, оновлювати, маніпулювати, аналізувати і відображувати географічну інформацію;
        </li>
        <li>інтернет ГІС (ArcGIS Online), які забезпечують загальну платформу для користувачів ArcGIS, щоб знаходити,
            розподіляти і створювати ГІС додатки, сервіси і інформаційніресурси;
        </li>
        <li>інструменти розробника (Developer Tools), які забезпечують інтерфейсом програмування додатків, програмами і
            ресурсами так, що розробник може створити інноваційне ГІС-рішення для настольної, мобільної, серверної або
            інтернет ГІС;
        </li>
        <li>спеціалізовані ГІС:</li>
    </ul>
    <p>ESRIBusinessAnalyst - є доступне і масштабоване сімейство продуктів, які дозволяють малим підприємствам і
        підприємствам дістати доступ до великого об'єму даних і збільшити свій прибуток на інвестиції в цьому
        економічному кліматі;
    <p>ArcLogistics - є комплексне рішення для створення оптимізованих маршрутів і вирішення завдань складання
        розкладів;
    <p>ArcLogisticsNavigator - є GPS-керований транспортний навігаційний продукт, який дозволяє мобільним професіоналам
        перебувати на маршруті й у встановлені терміни;
    <p>MapIt - це програмне забезпечення і онлайн-послуги, які дозволять створити прості карти з ваших корпоративних
        даних;
    <p>PLTS ArcGIS використовують для всіх типів організацій для поліпшення своїх робочих процесів і задоволення своїх
        найскладніших карт і діаграм потреб.
    <p>Situational Awarenessfor ArcGISє рішенням, яке забезпечує геопросторову основу для негайних і довгострокових
        потреб ситуаційної обізнаності.
    <p>Слід зазначити, що в даний час також велике поширення мають раніше створені фірмою ESRI програмні продукти
        ArcView GIS версії3.х, відносно прості у використанні і ефективні для багатьох завдань. Важливе те, що дані,
        створені в ArcViewGIS 3.х, сприймаються вArcGIS 9.x.
    <p>У порівнянні з ESRI, менше поширення програмних продуктів ГІС мають інші фірми. Серед них за убуванням частки у
        світовому ринку слід назвати фірми й відповідні програмні продукти ГІС:
    <ul>
        <li>Intergraph Corp. MGE(Modular GISEnvironment), GeoMedia</li>
        <li>GE Network SolutionSmallworld GIS</li>
        <li>(General Electric Company)</li>
        <li>Bentley Systems Inc. MicroStation</li>
        <li>Mapping Information Systems Corp. MapInfoProfessional</li>
        <li>Autodesk Inc. AUTOCAD</li>
        <li>Autodesk Map</li>
        <li>AutodeskSurvey</li>
    </ul>
    <p>У Росії і Україні також мають поширення вітчизняні програмні продукти ГІС:
    <ul>
        <li>Інститут географії Російської академії наук GeoDraw / GeoGraph</li>
        <li>КБ «Панорама», МО, Росія Panorama, Карта</li>
        <li>ДНВП «Геосистема», ТОВ «Аналітика»Україна Digitals, Delta</li>
    </ul>
    <p>Геоінформаційні системи відрізняються від інших інформаційних систем тим, що вони мають багаті можливості роботи
        з геопросторовими даними.
</div>