<h1>
Одеський зоопарк
</h1>
<div class='body'>
<p>	Ідея створення зоопарку в Одесі виникла напередодні святкування сторіччя міста, в 1889 р., коли було 
зроблено креслення і план «Звіринця на Поліцейській вулиці біля обриву», проте втілити в життя цей план не вдалося.
<p> 
Наступний крок до створення зоопарку був зроблений в 1914 р. — створений проект його споруди на території ботанічного саду, 
схвалений Міською думою, але розпочата Перша світова війна, а потім й громадянська перешкодили цим планам.
<p> 
І як тільки в 1922 році почалося будівництво зоопарку в Одесі на Приморському бульварі, в районі нижнього саду Воронцовського 
палацу.
<p> 
Головна заслуга в організації першого зоопарку в Одесі належить одному з енергійних керівників суспільства «Південьклімат» 
Г. В. Бейзерту.
<p> 
У 1992 році відповідно до Закону України зоопарк отримав статус заповідної території загальнодержавного значення й увійшов до 
складу природно-заповідного фонду України. Головна заслуга в організації першого зоопарку в Одесі належить одному із 
керівників товариства «Югоклімат» 
<p>	Генріху Володимировичу Бейзерту.
<p> 
Цей зоопарк – єдиний в Україні, де успішно розмножуються індійські слони. Перший малюк – Фантик – народився тут у 1992 році 
і став артистом європейського цирку–шапіто. У 1998 році на світ з'явилася слониха Тенді, яка потім переїхала до Харківського 
зоопарку. А в 2004 році з'явилося третє слоненя, якого назвали Дюк. Також тут добре розмножуються рідкісні, але надзвичайно 
красиві тварини, – амурські барси. При Одеському зоопарку існує єдиний в Україні розплідник з утримання і розведення хижих 
птахів та сов. Також тут є можливість не просто подивитися на тварин, а й поспілкуватися з ними: на Острові черепах 
(водоплавні птахи, черепахи, карасики), і в Сільському дворику (кози, кролі, гуси, кабанчики).</div>
