<h1>
Корсунський
</h1>
<div class='body'>
<p>	Загальнозоологічиий заказник площею 3357га. Розташований в Корсунському лісництві Каховського району на ділянках Козачелагерної піщаної арени. 
Соснові ліси чергуються з трав'янистими лучними ценозами в зниженнях піщаних арен та псамофітними ділянками степів. Охороняється тваринний світ мисливської фауни — 
косуля, олень благородний, лось та інші види.
<p>	</div>
