<h1>
Джарилгацький
</h1>
<div class='body'>
<p>	Ботанічний заказник площею 300га створений для охорони рідкісного червонокнижного виду золотобородника цикадового. Розташований на острові 
Джарилгач в Скадовському лісництві Скадовського району. Золотобородник зростає на дещо підвищених елементах рельєфу в степовій центральній частині острова.
<p> 
Заказник у зв'язку з обмеженою площею уже не виконує завдань, що ставились при його створенні, адже золотобородник зараз поширився далеко за його межі. Заказник 
не надає охорони ще майже 10 видам рослин, двом видам лишайників багатьом видам тварин, що мають такий же високий природоохоронний статус. Необхідно взяти під 
охорону весь острів Джарилгач, однокілометрову зону відкрита моря та всю Джарилгацьку затоку, надавши цьому комплексу статус національної чи регіонального 
природного парку, оскільки цей комплекс відіграє дуже важливу роль в екологічному коридорі морських узбереж.
<p>	</div>
