<h1>
Березові гайки
</h1>
<div class='body'>
<p>	Лісовий заказник площею 1320га в Іванівському та Рибальчанському лісництвах Голопристанського району. Тут на Іванівській піщаній арені 
зберігаються природні березові ліси, утворені березою дніпровською. Це ендемічний вид пониззя Дніпра і Південного Бугу, який занесений до Червоної книги України, 
а формація берези дніпровської як ендемічне, зникаюче угруповання занесено до Зеленої книги України. З ендемічних видів в заказнику зростають дрік дніпровський 
(genista borysthenica), зіновать дніпровська (С hamaecytisus borysthenicus), чебрець дніпровський (Тhymus borysthenicus), жовтозілля дніпровське (Senecio 
borysthenicus) та ін. Є рідкісні види мохів, лишайників, грибів.
<p>	</div>
