<h1>
Чорноморський біосферний заповідник
</h1>
<div class='body'>
<p>	Чорноморський біосферний заповідник розташований у Голопристанському районі Херсонської області та Очаківському районі Миколаївської області, на 
північно-західному узбережжі Чорного моря між Дніпровським лиманом і Тендрівською Косою. Заповідник утворено в 1927 р., з 1975 р. — віднесено до водно-болотних 
угідь міжнародного значення. У 1984 р. його було включено до міжнародної мережі біосферних заповідників. До його складу входять ділянки на Кінбурнському півострові 
(Івано-Рибальчанська, Солоноозерна, Волижин ліс), ділянки приморського степу (Ягорлицький кут і Потіївська), східна частина Тендрівської затоки з островами 
Тендрівська Коса, Бабин, Смалений Острів та ін., а також острови Довгий, Круглий і Кінські в Ягорлицькій затоці. Загальна площа заповідника — понад 100 809 га, з 
них акваторії Тендрівської та Ягорлицької заток займають 77 900 га. В Україні — це найбільший за площею заповідник, в якому поєднуються шквальні й теральні природні 
комплекси. Основне його завдання — охорона південностепових ландшафтів, птахів, які тут зимують. Серед теральних природних комплексів виділяються лісостепові, 
піщано-степові, опустелені степові, приморські солончакові. Своєрідними є лісостепові ділянки: Івано-Рибальчанська, Солоноозерна, Воложин ліс. Тут спостерігається 
поєднання піщаних степів, лук, гаїв. У гаях ростуть дуб звичайний, ендемік береза дніпровська, осика, вільха, груша звичайна, 
<p>	чагарникова рослинність — терен, 
крушина. У піщаних степах панують угруповання з ковили дніпровської, житняку пухнастоквіткового, костриці Беккера, гвоздики плоскозубої та ін.</div>
