<h1>
    Зимненський Свято-Успенський Святогірський жіночий монастир
</h1>
<div class='body'>
    <p> Належить до найдавніших в Україні. Київський великий князь Володимир заснував єпархію у місті Володимирі,
        названому на його честь.
    <p>
        До складу комплексу входять ділянки кріпосних стін з трьома вежами по кутах і надбрамною вежею-дзвоном,
        трапезна, Успенська церква, Троїцька церква, поряд з якою
        розташовані печери з підземною церквою Св. Варлаама.
    <p>
        Головна святиня монастиря – це, звичайно ж, Зимненська ікона Божої Матері. Дізнавшись в 101 кілометрі Луцька
        ціни на поїздку, ви можете послухати цікаві історії
        про події, які супроводжували перенесення ікони з Троїцького храму Корецького монастиря. Напередодні безліч
        людей побачили над храмом стовп із вогню, що піднімався
        високо в небо, а з церкви лунав спів. Поспішивши до храму, паломники побачили тільки закриті двері, за якими
        нікого не було. Під час хресного ходу зі святим образом
        відбулося ще одне диво – прозріла від сліпоти жителька села Зимно. Іконі приписують зцілення онкохворих,
        безплідних жінок, але особливо – хвороб очей. За переказами,
        всі, хто хотів заподіяти шкоду монастирю або самій іконі, втрачали зір.
    <p>
        Біля монастиря стоїть великий хрест з каменю, поставлений у 13 столітті князем Данилом Галицьким. Вважається, що
        кожен військовий, що доторкнеться до нього,
        отримає «кам'яні» силу і здоров'я.
    <p>
        І всі ці чудеса доступні кожному, варто тільки переступити поріг монастиря в Зимному.</div>
