<h1>
Ягорлицький
</h1>
<div class='body'>
<p>	Орнітологічний заказник площею 18620га. Розташований в акваторії Ягорлицької затоки Чорного моря в Голопристанському районі. Входить до складу 
Рамсарських водно-болотних угідь. В акваторії заказника, шо є буферною зоною Чорноморського біосферного заповідника, зимує величезна кількість водоплавних птахів. 
Видовий склад цих птахів такий, як і в заповіднику, він охарактеризований при описі птахів заповідника.
<p>	</div>
