<h1>
Карпатський біосферний заповідник
</h1>
<div class='body'>
<p>	Карпатський біосферний заповідник розташований на південно-західному макросхилі Українських Карпат. З 1992 р. входить до міжнародної мережі 
біосферних резерватів ЮНЕСКО. Заповідні масиви знаходяться в межах складчастих гір (Чорногірський, Свидовецький, Мармороський, Кузійський, 
Угольсько-Широколужанський) та в Закарпатській западині (масиви Долина нарцисів, ботанічні заказники Чорна Гора і Юлівська Гора), У Карпатському 
біосферному заповіднику представлений весь спектр висотної поясності Українських Карпат. Тут наявні низинні заплавні луки, передгірні дібровні, низько- і 
середньогірні ландшафти з буковими, мішаними і смерековими лісами, сосново-вільховим криволіссям, субальпійськими луками, скелями, осипищами. У заповіднику 
охороняються унікальні ландшафти з пралісами, понад тисяча видів судинних рослин, 65— ссавців, 179 — птахів, 9 — плазунів, 13 видів земноводних, 23 — риб, понад 
15 000 видів безхребетних тварин. Серед рослин 40 ендемічних та 74 рідкісних видів, а серед тварин 73 види занесено до Червоної книги України. Більше 90% площі 
заповідника займають ліси. На Закарпатській низовині в ботанічних заказниках, гірських масивах ростуть дубові, дубово-грабові, дубово-букові, буково-дубові ліси. 
У Кузійському масиві наявне найвище в Україні місцезростання дуба скельного 1090 м над рівнем моря). У всіх гірських заповідних масивах ростуть чисті букові ліси, 
а найбільш поширені смереково-ялицево-букові, ялицево-смереково-букові та буково-ялицево-смерекові лісові угруповання. У Чорногірському, Свидовецькому, 
Мармароському масивах верхня межа лісів утворена смерекою. В субальпійському поясі спостерігаються угруповання із сосни гірської, вільхи зеленої, ялівцю 
сибірського, 
<p>	рододендрона східнокарпатського та ін. У трав'яному покриві трапляються щучник дернистий, куничник волохатий, мітлиця тонка, костриця червона, 
тонконоги лучний та альпійський, рідкісні рослини: анемона нарцисоцвітна, роман Карпатський, жовтяниця альпійська, тирличі, перестріч скельний, медунка угорська, 
білотка альпійська та ін.
<p> 
У Чорногірському, Свидовецькому, Мармароському масивах водяться олень благородний, козуля, рись, ведмідь бурий, вовк, із птахів — трипалий дятел, дрізд біловолий, 
шишкар ялиновий, глухар, боривітер звичайний, канюк та ін. До Червоної книги України занесено кутору малу, видру, горностая, лелеку чорного, полоза лісового, 
тритона карпатського. В гірських річках водяться форель струмкова, мінога угорська, гольян.</div>
