<h1>
Векторизування
</h1>
<div class= "body" >
<p>Скановані растрові картографічні матеріали використовуються для створення векторних цифрових карт. При гарній якості вихідних карт (гарне розрізнення ліній і контурів, відсутність фону і забруднень, чітка передача кольору) можуть використовуватися системи розпізнавання графічних образів і автоматичного промальовування їхніх контурів. Процедури розпізнавання растра і промальовування векторних графічних примітивів позначаються терміном векторизування. Векторизування може бути ручним і напівавтомйтичшім. Напівавтоматичне векторизування в основному застосовується для лінійних даних, точкові об'єкти вводяться в ручному режимі, полігональні об'єкти також замикаються в ручному режимі. Процес напінавтоматичного або ручного простежування лінії за її зображенням на растрі називається трасуванням.</p>
<p>Процес векторизування керується набором параметрів трасування, які можна поєднувати в стратегії трасування. Для автоматизованого векторизування необхідне використання попередньо підготовлених растрових матеріалів (рис. 1).</p>
<img src= ".\resourses\vectorization-ig\article-res\1.jpg" >
<p class= "description" >Рис. 1 – Робочий екран векторизатора Easz Trace з ділянкою міського плану</p>
<p>Рекомендується використовувати матеріали із заздалегідь розділеними тематичними шарами, тобто на карті, що векторизується, повинні бути елементи одного типу — горизонталі рельєфу, річкова мережа, дороги, контури будинків та ін. Для підвищення яскравості і контрастності растрової карти використовується процедура інвертування кольору, за якої білий колір стає чорним, і навпаки.(рис.) кольору. У процесі створення векторних об'єктів здійснюється присвоєння ідентифікаторів (номерів трубопроводів, будинків, назв вулиць, висот горизонталей рельєфу тощо). Одним із режимів автоматичної ідентифікації є присвоєння значень висот лініям горизонталей рельєфу, глибин та інших ізоліній з рівним кроком зміни значень.</p>
</div>