<h1>
Геокодування
</h1>
<div class= "body" >
<p>Геокодування — метод і процес позиціонування просторових об'єктів відносно деякої координатної системи і їхніх атрибутів. Для геокодування необхідні табличний набір координатних даних — широта і довгота, координати Х і У, вулична адреса, файл просторової бази даних, у координатах якої буде здійснюватися пошук місця розташування точки, а також установлення в ці координати точкового об'єкта з заданими атрибутами. У наш час у різних ГІС-пакетах реалізовані функції адресного прив'язування даних з використанням файлів спеціального формату, у яких формалізована інформація з вуличних мереж.</p>
</div>