<h1>
    Нижньодністровський національний природний парк
</h1>
<div class="body">
    <p>Нижньодністро́вський націона́льний приро́дний парк — природоохоронна територія, національний природний парк в
        Україні в пониззі р. Дністер. Розташований у межах Білгород-Дністровського, Біляївського та Овідіопольського
        районів Одеської області. Парк засновано 13. 11. 2008 року Указом Президента України №1033. Нижньодністровський
        національний природний парк входить в 10-ку найкращих національних природних парків України.</p>
    <p>Територія, на якій розташоване село Маяки, була заселена ще в давні часи. Тут виявлено залишки поселення віку
        бронзи (II тисячоліття до н. е.). У IV–III сторіччі до н. е. на цьому місці існувало античне поселення. Перші
        письмові згадки про Маяки стосуються початку XV сторіччя. З розбудовою Одеси поселення набуває значення
        важливого торгівельно-перевалочного пункту. На той час у Маяках була едина зручна пристань на Дністрі та діяли
        переправа через Дністер (паром), карантинний пост, а також митниця. На сьогодні у Маяках мешкає біля 6000 тис.
        чоловік.</p>
    <p>1 жовтня 1993 року рішенням № 496 — XXI Одеської обласної ради було створено заповідне урочище «Дністровські
        плавні» площею 7620 га. значна частина територій заповідного урочища стала ядром для створення
        Нижньодністровського національного природного парку.</p>
    <p>Нижньодністровський національний природний парк створений згідно з указом «Про створення Нижньодністровського
        національного природного парку» з метою збереження, відтворення та раціонального використання типових та
        унікальних природних комплексів пониззя річки Дністра, що мають важливе природоохоронне наукове, естетичне,
        рекреаційне та оздоровче значення.</p>
    <p>Одним з ініціаторів створення Парку виступив відомий в Україні науковець, а нині директор НПП
        «Нижньодністровський» Микола Роженко, який висловив думку про важливість створення цієї заповідної території і
        навів необхідні аргументи ще у своїй дисертації 2006 року. Будучи співробітником Парку, Микола Васильович доклав
        чимало зусиль до розвитку наукових досліджень, моніторингу біоти, екопросвіти та природоохорони в Парку, при
        тому не тільки силами співробітників Парку, але й залучаючи волонтерів, місцеву владу та громадськість. 2 грудня
        2014 року Миколу Васильовича було призначено директором Парку, після чого почався новий етап у житті Парку. За
        цей час було розроблено сайт Парку, організовано не тільки цілу низку акцій, але й їх систему, розпочато активну
        співпрацю з волонтерами та місцевими громадами, активізовано боротьбу з бракон'єрством.</p>
    <p>Загальна площа Нижньодністровського НПП становить 21311,1 га, у тому числі 3700 га земель, що надаються йому в
        постійне користування, та 17611,1 га земель, що включені до його складу без вилучення у землекористувачів, на
        яких здійснюється традиційна господарська діяльність з додержанням загальних вимог щодо охорони навколишнього
        природного середовища.</p>
    <p>Найближчий населений пункт — село Маяки Біляївського району, в якому розташований адміністративний будинок № 2
        Нижньодністровського НПП. Село Маяки розташоване на лівому березі річки Дністер, на відстані 40 км від міста
        Одеси.</p>
    <p>У структурі Парку є чотири відділи та два науково-дослідні відділення:</p>
    <ul>
        <li>Науковий відділ</li>
        <li>Відділ державної охорони, збереження та відтворення екологічних систем</li>
        <li>Відділ екоосвіти та рекреації</li>
        <li>Господарський відділ</li>
        <li>Маякське природоохоронне науково-дослідне відділення</li>
        <li>Удобнянське природоохоронне науково-дослідне відділення</li>
    </ul>
    <p>На території Парку зареєстровано понад 700 видів вищих рослин, з яких 28 — рідкісні, занесені до Червоної книги
        України. Деякі види рослин і тварин занесені також до Європейського червоного списку та до списку рідкісних
        видів Міжнародної спілки охорони природи. Саме тому дельта Дністра є природним багатством світового
        надбання.</p>
    <p>На території Парку виявлено: молюсків — 90 видів, комах — 554 види, риб; — 67 видів, земноводних — 9, рептилій —
        6 видів, представників пташиного світу — 254 види; ссавців — 32 види (без рукокрилих).</p>
    <p>У межі Парку включені частини двох водно-болотних угідь міжнародного значення «Межиріччя Дністра-Турунчука» та
        «Північна частина Дністровського лиману», які охороняються Рамсарською конвенцією. Тому територія Парку, як
        складова водно-болотних угідь, має унікальне значення як місце гніздування, линяння і зимівлі для птахів, що
        мігрують між Євразією та Африкою.</p>
    <p>Завдяки унікальним природним умовам і збереженню типових ландшафтів територія НПП характеризується надзвичайно
        високим різноманіттям фауни. З них у Червону книгу України занесені 9 видів риб, 20 видів комах, 2 види
        рептилій, 20 видів ссавців, 58 видів птахів. Пелікан кучерявий, баклан малий, казарка червоновола, савка,
        орлан-білохвіст — види, що занесені до Європейського червоного списку тварин і рослин, що знаходяться під
        загрозою зникнення у світовому масштабі.</p>
    <p>У пониззі Дністра існують найбільші колонії лелекоподібних і веслоногих птахів Азово-Чорноморського регіону.
        Чисельність деяких гніздових видів дельті Дністра складає понад 1% відповідних георгафічних популяцій, що
        визначає виключну важивість цих місць існування. Тут гніздиться (максимальна чисельність) 3160 пар коровайки
        (7,0% географічнї популяції), 5400 пар квака (3,6%), 1020 пар чаплі жовтої (1,6%), 8000 пар баклана великого
        (8,0%), 860 пар чепури великої (7,2%), 1026 пар чепури малої (1,6%), 420 пар чаплі рудої., понад 700 пар баклана
        малого.</p>
    <p>На території Парку мешкає одна з останніх в Україні природних популяцій рідкісного коловодного виду ссавців —
        норки європейської</p>
</div>