<h1>
Інгулецький лиман
</h1>
<div class='body'>
<p>	Ботанічний заказник площею 50га займає смуту акваторії в Інгулецькому лимані між селами Микільське та Садово Білозерського району. Створений для 
охорони рідкісних формацій водних рослин, включених до Зеленої книги України: горіха водяного (Trapeta natansis), густі зарості якого збереглися біля околиці 
с. Микільське, сальвінії плаваючої (Salvinieta natansis), латаття білого (Nymphaeeta albae), глечиків жовтих (Nuphareta luteae), плавуна щитолистого (Nymphoideta 
peltatae).
<p> 
Екологічні проблеми заказника пов'язані зі скидом в зимово-весняний період забруднених вод Кривбасу, а також з поглибленням каналу посередині русла Інгульця для 
проходження суден та виловом риби сітками, коли в них набивається багато червонокнижних рослин, які після очистки сіток гинуть.
<p>	</div>
