<h1>
Кіровоградський
</h1>
<div class='body'>
<p>	Місто Кіровоград. Парк має площу 44,2 га. Більше як дві третини з них – це зелені насадження.
<p> 
Кіровоградський дендропарк є досить молодим. Будівництво розпочалось у 1950-х роках.
<p> 
Дендропарк найперше відомий своїми розкішними квітковими ланшафтами. Серед яких тут найбільше тюльпанів і нарцисів. 
Свого часу вони були спеціально завезені сюди із Голандії. Мальовничі алеї дерев, обсаджені кущами білого жасмину, жовтої 
акації, барбарису та дикої троянди. Особливо тут красиво навесні, коли клумби починають світитись дивовижним різнобарв `ям 
пахучих суцвіть.
<p> 
Зараз на території парку встановлено дуже багато атракціонів. Тому тут постійно людно і весело, проводяться концерти і акції. 
Кіровоградський дендропарк називають українським Діснейлендом.
<p>	</div>
