<h1>
Ручне введення даних
</h1>
<div class= "body" >
<p>Ручне введення даних. Апаратне та екранне дигітизування. Ручне дигітизування (дигіталізація, цифрування) на сьогодні є найбільш поширеним способом введення просторових даних у бази даних ГІС. Сам процес ручного дигітизування являє собою розпізнавання користувачем об'єкта на карті-джерелі і створення векторного елементарного графічного об'єкта шляхом обведення меж цього об'єкта. Карта-джерело може використовуватися як у вигляді паперового оригіналу, що закріплюється на дигітайзері, так і у вигляді її сканованої копії, яка виводиться на екран дисплея в спеціальному картографічному редакторі. У першому випадку виковується апаратне дигітизування, у другому — цифрування з використанням стандартного пристрою введення «миша» (екранне дигітизування) «миша» (екранне дигітизування).</p>
<p>При апаратному дигітизуеанні з використанням спеціального пристрою — дигітайзера — застосовуються оригінальні паперові або пластикові картографічні матеріали високої якості. До складу багатьох програмних ГІС-пакетів входять спеціальні модулі для настроювання і керування роботою різних моделей дигітайзерів. При натисканні кнопки зчитування координати точки записуються у відповідний активний файл бази даних; відповідні атрибутивні дані вводяться клавіатурним способом. Точність і швидкість введення даних залежать від кваліфікації оператора.</p>
<p>Останніми роками через велику залежність від малодоступних паперових оригіналів карт, наявність перекручувань і ушкоджень паперових карт, складність редагування цифрових карт, а також високу вартість самих пристроїв, технології апаратних дигітайзерів поступово були витіснені технологіями екранного дигітизування. При екранному дигітизуеанні вхідний попередньо сканований і просторово прив'язаний картографічний матеріал знаходиться на задньому плані екрана. На нього накладаються один чи кілька похідних шарів, у межах яких, візуально порівнюючи з контурами оригінальних об'єктів на шарі-підкладці, виконують обведення об'ектів-копій.</p>
<p>Таким чином, перед початком роботи на екран має бути виведена сканована карта- підкладка і, як мінімум, один із раніше створених на базі цієї підкладки шарів. Для введення, видалення ибо зміни якихось просторових об'єктів необхідно, щоб робочий шар був редагованим.</p>
</div>