<h1>
    Музей Лесі Українки
</h1>
<div class='body'>
    <p> Музей Лесі Українки у Колодяжному, літературно-меморіальний музей у с. Колодяжному Ковельського району
        Волинської області, заснований 1949 в
        садибі, в якій Леся Українка прожила дитячі й юнацькі роки.
    <p>
        У травні 1882 р. сім'я Косачів перебралася з Луцька в с. Колодяжне і замешкала у будинку, який у родині звався
        великим. Тут народилися молодші сестри та брати
        Лесі — Оксана, Микола, Ізидора. Діти підростали, тому в 1890 р. на садибі побудували Лесин «білий» будиночок, а
        в 1896 р. розпочали спорудження «сірого» будинку
        (в родині його ще називали батьківським).
    <p>
        Косачі дуже любили Колодяжне і не раз у листах до друзів висловлювали свої почуття: «Колодяжне — це, власне,
        вдома, а решта, то це все так собі — між іншим. Для цілої нашої родини ця квартира (м.
        Київ, вул. Саксаганського, 97) не була нашим
        «вдома», вона була раніше в Колодяжному, поки ще цілою родиною ми там жили, а потім то все було тимчасове,
        випадкове і не своє».
    <p>
        З Колодяжного Леся Українка давала братові Михайлу настанови щодо створення бібліотечки найкращих творів
        світової літератури українською мовою, до якої увійшли
        понад сімдесят імен письменників відповідно до порад і за джерелами, присланими М. Драгомановим, 1890 р. Леся
        склала курс Стародавня історія східних народів,
        і перша збірка її поезій готувалося до друку тут, у Колодяжному.
    <p>
        У лютому 1907 р. Леся востаннє побувала в селі.
    <p>
        Під час Другої світової війни садиба була зруйнована, і музей створено фактично у новому приміщенні.
    <p>
        Політична причина створення Музею — намагання сталінської влади маркувати недавні польські території іменами
        українських культурних діячів, які, в свою чергу, були
        громадянами Російської імперії.
    <p>
        У 1991 р. експозицію оновлено і сьогодні вона складається з таких розділів:
    <p>
    <ul>
        <li>Волинськими стежками Лесі Українки.</li>
        <li>Колодяжне — колиска Лесиного таланту.</li>
        <li>Крізь все житія — до «Лісової пісні».</li>
        <li>Історія музею. Трагедія родини Косачів.</li>
    </ul>
    <p>
        В експозиції представлено меморіальні речі Лесі Українки та її родини, прижиттєві видання творів поетеси та її
        матері — Олени Пчілки, фотографії, речі побуту та
        етнографії Волині, відтворені фрагменти робочого кабінету і сільської хати.</div>
