<h1>
Геологічні ресурси
</h1>
<div class='body'>
<p>	широко використовуються в рекреаційно-туристичній діяльності. Мінеральні і термальні води, лікувальні грязі, бішофіт є природною основою для
розвитку оздоровчо-лікувального туризму. Найбільшою бальнеологічною областю України є Карпатський регіон, зокрема Передкарпаття. Тут відомо понад 200 джерел і 
свердловин мінеральних вод. Першість в регіоні належить трускавецькій Нафтусі. У Закарпатті зосереджено 600 джерел і свердловин мінеральних вод. Зокрема, 
дуже цінними у лікуванні є вуглекислі води. Також тут зосереджені джерела сірководневих вод, а на базі цінних питних лікувальних і лікувально-столових залізистих 
вод діє Шаянський санаторний комплекс. Закарпаття багате на поклади заляганням рідкісних миш'якововмісних підземних вод, а також борвмісних, які використовуються 
як для ванн, так і для внутрішнього вживання.
<p> 
Важливим бальнеологічним регіоном є Поділля. Тут розташовано 10 родовищ і 16 ділянок мінеральних вод. Сьогодні у цьому регіоні функціонують такі курорти, як 
Заліщики (Тернопільська обл.), Хмільник (Вінницька обл.) та ін.
<p> 
Чималі запаси мінеральних вод, зокрема хлоридних, виявлено у Дніпропетровській, Полтавській, Київській та інших областях.
<p>	</div>
