<h1>
Бакайський жолоб
</h1>
<div class='body'>
<p>	Загальнозоологічний заказник площею 1680га розташований Білозерському лісництві, в місці, де Дніпро переходить в Дніпровський лиман. Течія тут 
слабка внаслідок підпору водами лиману. По дну лимана проникає морська солона вода при нагінних явищах, коли дмуть західні вітри. Змішування прісної і солоної вод 
сприяє розвитку багатого тваринного і рослинного світу, багатого корму для птахів і риб. Сюди в протоки і на мілководдя приходить на нерест багато видів риб. Тут 
відбувається інтенсивний нагул риби. На острівцях дельти, на обмілинах, вкритих очеретом південним, кугою озерною (Schoenoplectus lacustris), а у воді з лататтям 
білим, глечиками жовтими знаходиться величезна кількість птахів, в тому числі й рідкісних, тут вони концентруються під час перельотів. З рідкісних рослин зростають 
сальвінія плаваюча, водяний горіх, плавун щитолистий.
<p>	</div>
