<h1>
Широка Балка
</h1>
<div class='body'>
<p>	Ботанічний заказник площею 116га.. Розташований на південно-східній околиці с. Широка Балка Білозерського району та прилеглій акваторії 
Дніпровського лиману. Територія заказника займає степові яруги, в яких ще збереглася, хоча й значно антропогенно трансформована, рослинність типчаково — ковилових 
степів на лесових грунтах. Зрідка трапляються червонокнижні види рослин — тюльпан бузький та Шренка, ковила Лесінга, українська та волосиста, також тварин — дибка 
степова, поліксена, махаон. В прибережній акваторії лиману відмічені рідкісні сальвінія плаваюча і плавун щитолистий. Заказник виконує важливу роль як частина 
екологічного коридору.
<p> 
Цей заказник, як і Софіївський, дуже зручний для проведення екологічної освіти, тому треба тут створити екологічну стежку для екологічного виховання та 
екологічної освіти учнів місцевої школи.
<p>	</div>
