<h1>
Область ГІС
</h1>
<div class= "body" >
<p>Геоінформаційна система — сучасна комп'ютерна технологія, що дозволяє поєднати модельне зображення території (електронне відображення карт, схем, космо-, аерозображень земної поверхні) з інформацією табличного типу (різноманітні статистичні дані, списки, економічні показники тощо). Також, під геоінформаційною системою розуміють систему управління просторовими даними та асоційованими з ними атрибутами. Конкретніше, це комп'ютерна система, що забезпечує можливість використання, збереження, редагування, аналізу та відображення географічних даних.</p>
<p>Область ГІС дуже швидко розвивається і захоплює все нові сфери життя і діяльності. Геоінформаційні системи стали грати істотну роль в діяльності людства. Причини такого успіху ГІС пояснюються наступним: по-перше, великою ефективністю вирішень складних проблем засобами ГІС; по-друге, величезною множиною сфер застосування ГІС тому, що ГІС працює з просторовими даними, які є частиною нашого повсякденного життя; по-третє, стали доступними для масового користувача як потужні персональні комп'ютери, на яких можлива реалізація ГІС, так і складні програмні комплекси ГІС, що забезпечені легким призначеним для користувача інтерфейсом.</p>
<p>Геоінформаційні системи впливають на багато аспектів нашого життя. ГІС інтегруються в освіту, бізнес, виробництво і діяльність урядів. Управління складними територіальними системами, такими як сучасне місто, вимагає не тільки високої кваліфікації адміністрації, але і хорошого інформаційного забезпечення процесу управління. Вироблення обгрунтованих і ефективних рішень можливе тільки на основі відповідної обробки і аналізу величезних об'ємів інформації про складні системи і процеси міста. Це вимагає залучення ефективних засобів, що базуються на комп'ютерних технологіях. Впровадження ГІС в управління містом означає перехід на новий, ефективніший рівень управління. ГІС в науці допомагає інтегрувати наукові області, ламаючи бар'єри між біологією і геофізикою, між економікою і демографією. Цьому сприяє моделювання процесів у реальному часі, потужний інструментарій просторового аналізу, висока просторова роздільна здатність даних.</p>
<p>Подальший розвиток ГІС обумовлюють висока динаміка життя, зростання населення, урбанізація, зменшення і обмеження природних ресурсів, глобалізація. Двадцять перше століття – період широкого впровадження засобів для інтеграції інформації. В інформаційному суспільстві ГІС стає однією з найважливіших технологій інтеграції і комунікації інформації.</p>
</div>