<h1>
Ялтинський зоопарк «Казка» </h1>
<div class= "body" >
<p>Ялтинський зоопарк «Казка» відкрився в 1995 році і за цей час його відвідало вже більше 1 мільйона чоловік. На сьогоднішній день в «Казці» мешкає понад 120 видів тварин, привезених з усіх континентів земної кулі. Багато хто з тварин потрапили сюди з каліцтвами та виходжувати його працівниками. Останніми роками зоопарк купує тварин за міжнародними контрактами, укладеними з Асоціацією європейських зоопарків і акваріумів.</p>
<p>Тут можна побачити пеліканів, білок, мавп, уссурійських тигрів, кроликів, гімалайських ведмедів, павичів, страусів і багатьох інших звірів і птахів. У кожної тварини в цьому зоопарку є своє ім'я, написане на табличці. З кожним з них можна сфотографуватися. На території «Казки» весь час чути музику зі звуками живої природи. Тут безліч сувенірних лавок, кафе і смішних кривих дзеркал.</p>
<p>Цей зоопарк відрізняється від інших тим, що там можна годувати тварин і гладити всіх, окрім хижаків.</p>
<p>Ялтинський зоопарк знаходиться у надзвичайно красивому місці, звідки відкривається чудовий вид на Ялту і Кримські гори. «Казка» дарує дорослим, і дітям море вражень і позитивних емоцій.</p>
</div>