<h1>
    Визначення ГІС
</h1>
<div class="body">
    <p>На сьогодні існує велика кількість визначень геоінформаційної системи, що мають багато спільного і відмінного,
        характеризуючись, до того ж, різним ступенем повноти. Відомими фахівцями в області ГІС опубліковано декілька
        десятківвизначень ГІС, які в сукупності визначають сталі характеристики ГІС.
    <p>За найбільш характерними з них, геоінформаційні системи – це:
    <ul>
        <li>системи, що можуть забезпечити введення, маніпулювання й аналіз визначених даних для підтримки прийняття
            рішень;
        </li>
        <li>реалізоване за допомогою автоматизованих засобів (ЕОМ) сховище системи знань про територіальний аспект
            взаємодії природи і суспільства, а також програмного забезпечення, що моделює функції пошуку, введення,
            моделювання та ін.;
        </li>
        <li>набір засобів для збору, збереження, пошуку, трансформації і відображення даних про навколишній світ з
            певною метою (Burrough, 1986);
        </li>
        <li>система, призначена для роботи з просторовими, чи географічними, координатами;</li>
        <li>апаратно-програмний людино-машинний комплекс, що забезпечує збір, обробку, відображення і поширення
            просторово-координованих даних, інтеграцію даних і знань про територію для ефективного використання при
            рішенні наукових і прикладних географічних завдань, пов'язаних з інвентаризацією, аналізом, моделюванням,
            прогнозуванням і керуванням, навколишнім середовищем і територіальною організацією суспільства;
        </li>
        <li>сукупність апаратних, програмних засобів і процедур, призначених для забезпечення введення, керування,
            обробки, аналізу, моделювання і відображення просторово-координованих даних для вирішення складних проблем
            планування і керування;
        </li>
        <li>науково-технічні комплекси автоматизованого збору, систематизації, переробки і представлення (видачі)
            геоінформації в новій якості з умовою одержання знань про досліджувані просторові системи;
        </li>
        <li>сукупність апаратно-програмних засобів і алгоритмічних процедур призначених для збору, введення, зберігання,
            математико - картографічного моделювання і образного представлення геопросторової інформації;
        </li>
        <li>сукупність технічних, програмних і інформаційних засобів, що забезпечують введення, збереження, обробку,
            математико-картографічне моделювання й образне інтегроване представлення географічних і співвіднесених з
            ними атрибутивних даних для вирішення проблем територіального планування і керування;
        </li>
        <li>інформаційна система, що забезпечує збір, зберігання, обробку, доступ, відображення і поширення
            просторово-координованих (просторових) даних.
        </li>
    </ul>
    <p>Отже, можна відзначити, що геоінформаційні системи – це інструменти для обробки просторової інформації,
    зазвичай явно прив'язаній до деякої частини земній поверхні і використовувані для управління нею.
    <p>Інформаційною основою геоінформаційної системи туристично-рекреаційних ресурсів повинен бути паспорт регіону, що
        являє собою розподілену базу даних, яка містить максимально повну інформацію про туристично-рекреаційні ресурси
        регіону і про всі аспекти його функціонування. Сучасні географічні інформаційні системи з їх розвиненими
        аналітичними можливостями дають змогу наочно відобразити і осмислити інформацію про конкретні туристичні
        об'єкти, процеси і явища в їх сукупності. ГІС повнен здійснювати комплекс розрахунків, що дасть змогу органам
        управління контролювати поточний стан справ туристично-рекреаційних ресурсів. Аналітичний механізм ГІС повинен
        забезпечувати використання широкого кола методів обробки інформації - від найпростішої арифметики до надскладних
        математичних моделей.
    <p>Побудова геоінформаційної системи туристсько-рекреаційних ресурсів має базуватися на таких принципових засадах:
    <ul>
        <li>структурування та формалізація просторово-часової інформації складових туристсько-рекреаційної
            інфраструктури;
        </li>
        <li>формування логічних логістичних ланцюгів у межах існуючого інформаційного банку даних;</li>
        <li>уніфікація оцінювання й оцінка ймовірних стандартних похибок;</li>
        <li>просторово-компонентна класифікація туристичних ресурсів, використання стандартної програми розрахунку
            туристично-рекреаційного потенціалу регіону.
        </li>
    </ul>
    <p>До основних компонентів ГІС туристично-рекреаційних ресурсів доцільно включити:
    <ul>
        <li>об'єкти особливого туристичного попиту; пам'ятки історії, культури та архітектури регіону; об'єкти
            ностальгійного, релігійного та паломницького туризму;
        </li>
        <li>суб'єкти туристичного бізнесу: туристичні оператори та туристичні агенти регіону;</li>
        <li>розроблені та такі, що перебувають у стадії розробки, туристичні маршрути;</li>
        <li>засоби розміщення на території регіону всіх форм власності;</li>
        <li>транспортні засоби всіх форм власності, що використовуються для потреб туристичної галузі;</li>
        <li>мережу закладів харчування (кафе, бари, ресторани); мережу закладів культури (театри, кінотеатри, бібліотеки
            тощо);
        </li>
        <li>екскурсоводів та гідів-перекладачів; краєзнавців та спеціалістів із молодіжного та спортивного туризму;</li>
        <li>інвестиційні проекти в туристичній галузі, зокрема про можливості створення молодіжних хостелів та
            облаштування туристичної інфраструктури за напрямками національної мережі міжнародних транспортних коридорів
            та основних транспортних магістралей, що проходять територією тощо.
        </li>
    </ul>
    <p>До основних функцій ГІС туристично-рекреаційних ресурсів доцільно віднести можливості:
    <ul>
        <li>систематичного введення даних аналітичного та інформаційно-довідкового характеру;</li>
        <li>редагування туристичних та топографічних мап місцевості;</li>
        <li>візуалізації інформації через векторні та растові мапи;</li>
        <li>формування та форматування документів на основі заповнених та постійно обновлюваних баз даних;</li>
        <li>обробки даних через формування просторових та атрибутивних запитів, а також через обчислення геометричних
            параметрів (довжини, площі);
        </li>
        <li>розробки специфічних ГІС-додатків тощо.</li>
    </ul>
    <p>Створення та практична організація діяльності ГІС туристично-рекреаційних ресурсів дасть змогу:
    <ul>
        <li>раціоналізувати документообіг по вертикалі та координацію виконання документів по горизонталі управління
            туризмом;
        </li>
        <li>забезпечувати обмін інформацією шляхом зворотного зв'язку (електронна пошта, он-лайн опитування відвідувачів
            сайту, аналіз відвідуваності основних розділів сайту, участь у он-лайн рейтингах);
        </li>
        <li>здійснювати практичне інформування потенційних споживачів туристичних послуг про наявні та потенційні
            туристичні продукти на місцях та в регіоні;
        </li>
        <li>здійснювати Інтернет-маркетинг та рекламування регіонального та локальних / міських туристичних продуктів;
        </li>
        <li>покращити процеси інвентаризації туристично-рекреаційного комплексу;</li>
        <li>створити можливості потенційним споживачам раціоналізувати логістичні процеси в межах регіону;</li>
        <li>гарантувати вибір безпечних туристичних маршрутів територією регіону;</li>
        <li>проаналізувати експлуатаційно-економічні можливості об'єктів туристичної зацікавленості в малих містах та
            територіях їх розташування;
        </li>
        <li>проводити комплексні маркетингові дослідження туристичного продукту регіону;</li>
        <li>здійснювати комплексний моніторинг туристичної інфраструктури регіону через аналіз щоденних звітів від
            суб'єктів туристичної діяльності.
        </li>
    </ul>
    <p>Також необхідно реалізовувати функції щодо суміжних сфер соціально- економічного життя області, наприклад,
        здійснювати аналіз ефективності економічного розвитку малих міст та регіону загалом, провадити екологічний
        моніторинг територій, попереджувати про стан територій та ліквідацію наслідків надзвичайних ситуацій,
        забезпечувати ведення електронних кадастрів природних ресурсів та нерухомості, слугувати ефективним джерелом
        інформації для містобудівної діяльності, транспортної логістики, енергетики, сфер житлово-комунального комплексу
        та послуг тощо;
    <p>ГІС складається з наступних структурних елементів:
    <ul>
        <li>апаратна платформа (hardware), яка в свою чергу складається з наступних частин:</li>
        <li>комп'ютери (робочі станції, ноутбуки, кишенькові ПК тощо);</li>
        <li>засоби зберігання даних (вінчестери, компакт-диски, флеш-пам'ять тощо);</li>
        <li>пристрої введення інформації (сканери, цифрові камери і фотоапарати, клавіатури, комп'ютерні миші), пристрої
            виведення інформації (принтери, плоттери, проектори, дисплеї).
        </li>
        <li>програмне забезпечення (software) – це інструменти та функції, необхідні для управління, аналізу та
            візуалізації просторової інформації, а також управління ГІС в цілому.
        </li>
    </ul>
    <p>Ключовими компонентами програмних продуктів ГІС є:
    <ul>
        <li>система введення та обробки географічної інформації;</li>
        <li>система управління даними;</li>
        <li>системи аналізу, візуалізації, просторових і атрибутивних запитів (відображення);</li>
        <li>графічний користувальницький інтерфейс для легкого доступу до інструментів;</li>
        <li>дані (data) – це будь-які просторові та пов'язані з ними табличні (атрибутивні) дані;</li>
        <li>розробники та користувач. Відповідають за створення та управління ГІС. Персоналом ГІС є як технічні фахівці,
            які розробляють і підтримують систему, створюють і керують даними, так і безпосередні користувачі.
        </li>
    </ul>
</div>