<h1>
Харківський зоопарк
</h1>
<div class='body'>
<p>	Історія створення Харківського зоопарку — першого в Україні — починається з 90-х рр. ХІХ ст., коли за 
ініціативи професора Олександра Брандта в місті була розпочата спроба організувати «акварій». В 1894 р. правління Південно-
російського товариства акліматизації звернулося до ректора Харківського імператорського університету М. Олексієнка з 
проханням передати в оренду частину території Університетського саду для організації виставки. В 1895 р. на ділянці (близько 
2,5 га) землі дослідного поля Університетського саду товариство відкрило бжільничо-шовковознавську станцію.
<p> 
Спочатку колекція складалася з дрібних хижаків, дрібних птахів і свійських тварин. В 1830—1920 рр. площа зоопарку збільшилася 
в 10 разів і до 1941 р. на ній експонувалися представники близько 100 видів ссавців, приблизно стільки ж риб, земноводних, 
плазуючих і більше 200 видів птахів.
<p>	</div>
