<h1>
    Атрибутивні дані у ГІС
</h1>
<div class="body">
    <p>До атрибутивної відносять ту інформацію, яка або не має просторового прив'язування, або характеризує просторові
        об'єкти без зазначення місця їх розміщення. Наприклад, порядкові номери просторових об'єктів, їхні власні імена,
        числові кількісні або якісні значення. Блок атрибутивної інформації, прив'язної до будь-якого просторового
        об'єкта, може містити від одного до багатьох сотень окремих атрибутивних значень різного типу, що характеризують
        різні параметри цього об'єкта</p>
    <p>Одним із найбільш поширених атрибутів просторових об'єктів є їхні власні назви — назви населених пунктів,
        адміністративних одиниць, ділянок рельєфу, рік, водойм, природних урочищ, об'єктів господарювання та ін. Такий
        тип атрибута ідентифікує об'єкт, виокремлює його серед інших однотипних об'єктів, дозволяє звернутися саме до
        цього об'єкта. Такий спосіб опису атрибута об'єкта називається номінальним — об'єкт просто одержує своє окреме
        ім'я, він рівнозначний у списку таких самих об'єктів.</p>
    <p>Атрибути, що показують місце розміщення об'єкта серед інших аналогічних об'єктів, їхню взаємну ієрархію,
        пріоритет, називаються порядковими атрибутами. Таким способом описується ієрархія: ділянок дорожньої мережі
        (автостради, шосе, дороги з удосконаленим покриттям, ґрунтові дороги); елементів річкової мережі (притоки І, II
        чи III порядку); ієрархічні рівні ландшафтних одиниць, ранги населених пунктів та ін. У більшості випадків такі
        атрибути описуються порядковим номером деякої рангової шкали.</p>
    <p>Для кількісних даних (температура, тиск, зміст забруднювачів у повітрі, воді чи ґрунті, висота над рівнем моря,
        кількість рослин на квадратний метр, вміст гумусу та ін.) використовуються розімкнені або замкнені числові
        шкали. Різні системи класифікації і кодування дозволяють скоротити описи різноманітних просторових об'єктів до
        одного або кількох десятків символів. У наш час розроблені системи буквено-цифрових кодувань для геологічних,
        ґрунтових, ландшафтних, геоботанічних карт. Для цифрових топографічних карт і архітектурно-містобудівних планів
        розроблені відомчі позиційні коди – класифікатори. Після певної обробки атрибутивна інформація може бути
        організована у вигляді бази даних певного формату.</p>
    <p>Джерелом атрибутивних даних для ГІС можуть бути стандартні звітні форми різних державних, комерційних і
        громадських організацій, наукові звіти і публікації, дані спостережень на гідрометеорологічних станціях та ін.
        Велика частина таких документів створюється і подається в цифрованому вигляді у форматах програмних пакетів
        обробки документів Word, Ехсеl, Ассеss. До складу більшості пакетів ГІС, що працюють з реляційними таблицями для
        збереження атрибутивних даних, входять спеціальні модулі імпорту й експорту даних у формати Ехсеl і Ассеss.</p>
</div>