<h1>
Каїрська балка
</h1>
<div class='body'>
<p>	Ландшафтний заказник пллощею 1270га. Розташований на землях Каїрської сільської ради в Горностаївському районі. В заказнику охороняються типові 
та рідкісні степові ценози та залишки байрачних і заплавних природних лісів з рідкісними видами рослин, грибів і тварин. Місце годівлі птахів на прольоті.
<p>	</div>
