<h1>
Етнографічні пам'ятки
</h1>
<div class= "body" >
<p>Етнографія це історія народу, яка включає в себе історію його житла, одягу, харчування, його родинного укладу, форм побуту у широкому сенсі цього слова.</p>
<p>Це історія його світогляду, народних знань, вірувань і марновірства, обрядів і звичаїв. Останнім часом більшість учених відносять етнографію не до історичної, а до суспільствознавчої науки.</p>
<p>Безпосередні спостереження і опис звичаїв, побуту, світогляду народу — це основний метод етнографії. Крім того, вона широко використовує писемні джерела, речові пам'ятки, дані археології, антропології. Географії, фольклористки, мовознавства.</p>
<p>Перші описи давніх народів. їх характеристики наявні у Велесовій Книзі (про готів, греків, римлян та ін.). Спроби описати етнографічні особливості племен і народів давньої України с також у Повісті времяних літ. Літописець намагається накреслити генеалогію народів світу, іноді подаючи їхні культурно-побутові особливості, а також описує староукраїнські племена Київської Русі, вказуючи місця їхнього розселення, відмінності у звичаях, обрядах тощо. Такі спроби етнографічних описів наявні і у деяких інших писемних пам'ятках. Наприклад, у Галицько-Волинському літописі згадуються народи, які межують із Руссю: ляхи, литовці, угри, чехи, половці, жмудь, яншян, татари, німці, ізраїльтяни. Тут же знаходимо відомості про звичаї кожного народу, описи костюмів (наприклад, костюм князя Володимира Васпльковнча).</p>
<p>До цінних етнографічних джерел можна віднести стародавні малюнки, ілюстрації до книжок, фрески, скульптурні чи рельєфні зображення людей, споруд, предметів побуту тощо.</p>
<p>У хроніці Георгія Арматола, перекладеній київським книжником, вміщено 127 ілюстрацій, які відтворюють церковну архітектуру, одяг, обряди, народні вірування. описи звичаїв та одягу часто знаходимо у фольклорі, особливо в козацьких думах згадаймо хоча б відому Думу про козака Голоту). Чимало цікавих відомостей про українців затінили нам іночемш мандрівники, посіп, купці, які подовжувані Україною: Амвросій Контаріні, Гійом Л. де Боплан, Пєр Шевальє, Павло Алепський та ін.</p>
</div>