<h1>
Природно-антропогеннi ресурси
</h1>
<div class= "body" >
<p>Природно-антропогеннi ресурси становлять ділянки суші і водного простору, природні комплекси та об'єкти яких мають особливу рекреаційну, наукову, естетичну, природоохоронну та іншу цінність і виділені з метою збереження природної різноманітності ландшафтів, генофонду тваринного і рослинного світу, підтримання загального екологічного балансу та забезпечення фонового моніторингу навколишнього природного середовища.</p>
<p>До природно-антропогенних ресурсів відносять:</p>
<ul>
<li>природні території та об'єкти (природнього походження) — національні природні і регіональні ландшафтні парки, природні та біосферні заповідники(заповідні урочища), заказники, пам'ятники природи;</li>
<li>штучно створені об'єкти(антропогенного походження) — парки-пам'ятники садово-паркового мистецтва. ботанічні сади, дендрологічні і зоологічні парки, печерні міста, лісопарки, гідропарки, лугопарки.</li>
</ul>
<p>Природно-антропогеннi території та об'єкти можуть використовуватися в природоохоронних, науково-дослідних, освітньо-виховних, оздоровчих та інших рекреаційних цілях; для потреб моніторингу навколишнього природного середовища. Режим територій та об'єктів природно-заповідного фонду — це сукупність науково обґрунтованих екологічних вимог, норм і правил, які визначають правовий статус, призначення цих територій та об'єктів, характер допустимої діяльності в них, порядок охорони, використання і відтворення їх природних комплексів. Заслуговує на увагу правовий режим територій та об'єктів природно-заповідного фонду України. Визначається з урахуванням їх класифікації то цільового призначення. Природні заповідники — це природоохоронні, науково-дослідні установи загальнодержавного значення, що створюються з метою збереження в природному стані типових або унікальних для даної ландшафтної зони природних комплексів з усією сукупністю їх компонентів, вивчення природних процесів і явищ, що відбуваються в них, розробок наукових засад охорони навколишнього природного середовища, ефективного використання природних ресурсів та екологічної безпеки. Основними завданнями природних заповідників є збереження природних комплексів та об'єктів на їх території, проведення наукових досліджень і спостережень за станом навколишнього природного середовища, розробка на їх основі природоохоронних рекомендацій, поширення екологічних знань, сприяння в підготовці наукових кадрів і спеціалістів у галузі охорони навколишнього природного середовища та заповідної справи.</p>
</div>