<h1>
Принципи ГІС
</h1>
<div class= "body" >
<p>Геоінформаційні системи відрізняються від інших інформаційних систем тим, що володіють ефективними можливостями аналізу просторових даних і на його основі виконувати просторове моделювання об'єктів і явищ. ГІС є інструмент просторового аналізу. Просторовий аналіз називають «серцем» ГІС.</p>
<p>Розвинені ГІС мають багатий набір засобів для виконання просторового аналізу. Аналітичні можливості ГІС дозволяють отримати відповіді на множину просторових запитів, вирішити велику кількість просторових завдань в різних предметних областях. Множину завдань просторового аналізу можна розділити на 5 узагальнених категорій.</p>
<p>1) Аналіз місця розташування.</p>
<p>Цій категорії відповідає просторовий запит: що існує в конкретному місці на поверхні Землі? Щоб побачити, де розташований і як виглядає об'єкт, який цікавить, використовують карти. На карті наочно представлений характер просторового розподілу об'єктів, а це дозволяє проявити зв'язки між ними і краще зрозуміти досліджувану область. Тільки побачивши місця розташування об'єктів, можна зрозуміти деякі причини просторових взаємозв'язків. Для того, щоб досліджувати закономірності в розподілі даних, потрібно певним чином відображувати об'єкти, які досліджуються, спираючись на значення їх характеристик. Наприклад, а) еколог може оцінити вплив особливостей рельєфу або інших чинників на просторовий розподіл рослинних співтовариств, використовуючи картографічні дані; б) містобудівник планує розміщення певного об'єкта відповідно до генерального плану міста, плану існуючої забудови і плану інженерної інфраструктури; у) відділ міліції створює карту розподілу злочинів різного типу, щоб бачити, чи повторюються вони в окремих районах.</p>
<p>2) Задоволення просторових умов.</p>
<p>Цій категорії відповідає просторовий запит: де задовольняються конкретні просторові умови? Простий запит про місце розташування об'єкта складається з однієї умови. Для здобуття відповіді досить виконати одну штатну операцію. Складний запит про місце розташування об'єкта може включати певний набір умов. Для здобуття відповіді вже потрібне використання ряду операцій просторового аналізу. Наприклад, а) де знаходиться майданчик для будівництва площею 2га. у відстані до 200 м. від дороги районного значення, з грунтами несучої здатності до I кг на кв. см.? б) обгрунтувати місце розташування торгівельного, чи навчального закладу або бізнес-центру з врахуванням багатьох, в т. ч. просторових чинників; в) знайти оптимальну трасу трубопроводу або шляхопроводу, який проектується.</p>
<p>3) Часовий аналіз.</p>
<p>Цій категорії відповідає запит: що просторово змінилося за вказаний період? Відповідь на це питання є спробою визначити зміни, події у просторі та часі, тенденції цих змін на певнійтериторії. Наприклад, яка тенденція поширення грипу в місті, які нові об'єкти побудовані за останній рік, яке зростання урбанізованих територій? Зберігаючи і зіставляючи карти різних дат, ГІС може виконувати часовий аналіз.</p>
<p>4) Виявлення структури.</p>
<p>Цій категорії відповідає просторовий запит: які просторові структури або розподіли існують? Наприклад, скільки є аномалій, не відповідних нормальному розподілу, де вони знаходяться? Який розподіл населення в місті? Які ділянки дороги є найбільш небезпечними? Який розподіл вартості нерухомості на території? Виділення просторових структур — складне питання, що вимагає використання арсеналу потужних засобів просторового аналізу.</p>
<p>5) Оцінка різних сценаріїв.</p>
<p>Сценарій потенціалу є результатом запитань типу «Що станеться, якщо.... ». Наприклад, що станеться, якщо інтенсивність дощу буде критичною? Які будуть витрати, якщо вулицю розширити на 14 м.? Як зміниться транспортне сполучення, якщо прибрати трамвай з вулиці Пушкінської? У таких випадках користувач використовує модель для прогнозування і карти потенційної дії. Вживання такої моделі дозволяє побудувати гіпотетичну ситуацію і прогнозувати розвиток й наслідки соціологічних та економічних ситуацій, стихійних лих і аварій природного техногенного характеру у просторі й часі.</p>
<p>Останнім часом спостерігається помітне зростання ролі аналітичних і моделюючих функцій ГІС. Наприклад, системаArcGIS 9. 3 (BSRI) включає доступні в освоєнні модулі Spatial Analyst, 3D Analyst, Network Analyst, Geostatistical Analyst.</p>
</div>