<div class="left-menu">
	<a class="menu-button left-menu-link" href="#"><i class="mdi mdi-close"></i>Закрити</a>
	<ul class="left-preview"></ul>
	<div class="circle"><a href="#main"><i class="mdi mdi-home"></i></a></div>
</div>
<div class="right-preview"></div>