<h1>
    Подання інформації в ГІС
</h1>
<div class="body">
    <p>Подання інформації в зрозумілій і зручній для користувача формі є однією з основних функцій будь-якої системи
        обробки даних. Оскільки ГІС орієнтовані переважно на обробку просторово-розподілених даних, вони подають
        оброблену інформацію у вигляді різних карт, картодіаграм, тривимірних і анімізованих зображень. На екран дисплея
        можна вивести кілька вікон з різними тематичними картами для їхнього спільного візуального аналізу; електронні
        карти легко масштабуються з можливістю автоматизованої генералізації; спеціальні засоби редагування дозволяють
        швидко змінювати підписи, умовні позначення і загальне компонування картографічного зображення. За наявності
        картографічної бази даних користувач одержує можливість робити швидкі інтерактивні запити про властивості того
        чи іншого об'єкта курсором миші, складати запити з використанням математичних і логічних функцій, робити
        вибірки, будувати тематичні карти й картодіаграми. Користувач може ставити перед інформаційною системою запити
        типу: «Які населені пункти з якою загальною чисельністю населення знаходяться на відстані 100 км від АЕС», «Які
        сади і виноградники знаходяться в межах двох годин їзди від міста» — і одержувати відповіді в картографічній, і
        табличній формі.</p>
    <p>Унаслідок легкості побудови та аналізу карт за наявності готових картографічних баз даних картографічний аналіз і
        подання даних досить поширені в таких сферах діяльності, як маркетинг земельних ділянок, доставка товарів і
        надання послуг населенню, територіальне керування, освіта та ін.</p>
</div>